.about{
  padding: 40px 0 60px;
  background: #f7f7f7;
  @include media('>=2'){
    padding: 60px 0 100px;
  }
  @include media('>=3'){
    padding: 80px 0 120px;
  }
}
.about--in{
  @extend %in;
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.about__ttl{
  font: 900 24px/.9 'Gotham Pro', sans-serif;
  text-align: center;
  .strong{
    @media screen and (-webkit-min-device-pixel-ratio:0){
      background-image: linear-gradient(90deg, #31369f 0%, #cb0084 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}
.about__box{
  @extend %bs;
  margin-top: 20px;
  border-radius: 5px;
  background: #fff;
  @include media('>=2'){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    margin-top: 30px;
  }
}
.about__info{
  padding: 30px 20px 40px;
  @include media('>=2'){
    padding: 40px 30px 50px;
  }
  @include media('>=3'){
    padding: 40px 40px 60px;
  }
}
.about__txt{
  margin-top: 8px;
  &:first-child{margin-top: 0}
  font-size: 14px;
  font-weight: 500;
  line-height: 1.37;
  @include media('>=1'){
    margin-top: 16px;
    font-size: 16px;
  }
}
.about__its{
  margin-top: 8px;
  &:first-child{margin-top: 0}
  @include media('>=1'){
    margin-top: 16px;
  }
}
.about__it{
  .strong{
    font-weight: 900;
  }
}










