.acc{
  background: #f7f7f7;
}
.acc--in{
  @extend %in;
  padding: 40px 0 80px;
  @include media('>=2'){
    padding: 50px 0 40px;
  }
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.acc__ttl{
  font: 900 24px/1.08 'Gotham Pro', sans-serif;
  text-align: center;
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}
.acc__flex{
  margin-top: 20px;
  @include media('>=2'){
    display: flex;
    margin-top: 30px;
  }
}
.acc__col{
  &--1{}
  &--2{
    margin-top: 20px;
  }
  @include media('>=2'){
    &--1{
      width: 100%;
    }
    &--2{
      flex-shrink: 0;
      width: 280px;
      margin-top: 0;
      margin-left: 20px;
    }
  }
  @include media('>=3'){
    &--2{
      width: 340px;
    }
  }
}
.acc__box{
  @extend %bs;
  width: 100%;
  margin-top: 20px;
  &:first-child{margin-top: 0}
  padding: 24px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  &--trf{
    padding-bottom: 0;
  }
  &--status{
    padding-top: 0;
  }
  @include media('>=2'){
    border-radius: 10px;
  }
}
.acc__inf__num{
  padding: 0 20px;
  font-weight: 900;
  @include media('>=1'){
    padding-left: 30px;
    padding-right: 30px;
  }
}
.acc__inf__name{
  margin-top: 10px;
  padding: 0 20px;
  font-weight: 500;
  @include media('>=1'){
    padding-left: 30px;
    padding-right: 30px;
  }
}
.acc__inf__adr{
  margin-top: 10px;
  padding: 0 20px;
  font-weight: 500;
  @include media('>=1'){
    padding-left: 30px;
    padding-right: 30px;
  }
}
.acc__trf__its{
  padding: 0 20px;
  @include media('>=1'){
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
}
.acc__trf__it{
  margin-top: 16px;
  &:first-child{margin-top: 0;}
  @include media('>=1'){
    margin-top: 0;
  }
}
.acc__trf__label{
  margin-bottom: 4px;
  font-size: 14px;
  color: #9c9c9c;
}
.acc__trf__ttl{
  font: 900 18px/1 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 20px;
  }
  @include media('>=2'){
    font-size: 24px;
  }
  @include media('>=3'){
    font-size: 26px;
  }
}
.acc__trf__speed{
  font-size: 20px;
  font-weight: 500;
  @include media('>=1'){
    font-size: 22px;
  }
  @include media('>=2'){
    font-size: 24px;
  }
  @include media('>=3'){
    font-size: 26px;
  }
}
.acc__trf__speed__val{}
.acc__trf__speed__unit{
  .icon-rub{
    font-weight: 400;
  }
}
.acc__trf__price{
  font-size: 20px;
  font-weight: 500;
  @include media('>=1'){
    font-size: 22px;
  }
  @include media('>=2'){
    font-size: 24px;
  }
  @include media('>=3'){
    font-size: 26px;
  }
}
.acc__trf__price__val{}
.acc__trf__price__unit{
  .icon-rub{
    font-weight: 400;
  }
}
.acc__trf__change{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #f7f7f7;
  font-weight: 500;
  color: $c1;
  line-height: 20px;
  @include media('>=1'){
    margin-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.acc__trf__change__txt{}
.acc__trf__change__ic{
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: url(img/acc-trf-change-ic.png);
  background: url(img/acc-trf-change-ic.svg);
  background-size: auto 100%;
}
.acc__log__ttl{
  padding: 0 20px;
  font-weight: 900;
  @include media('>=1'){
    padding: 0 30px;
  }
}
.acc__log__its{
  margin-top: 20px;
}
.acc__log__it{
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  border-top: 1px solid #f7f7f7;
  &:first-child{border-top: 0}
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  .icon-rub{
    font-weight: 400;
  }
  @include media('>=1'){
    padding: 10px 30px;
    font-size: 16px;
  }
}
.acc__log__date{}
.acc__log__method{
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  width: 65px;
  margin-top: 0;
  margin-left: auto;
}
.acc__log__method__ic{
  display: block;
  height: 20px;
  &--1{
    width: 25px;
    background-image: url(img/pay-ic-1.svg);
  }
  &--2{
    width: 30px;
    background-image: url(img/pay-ic-2.svg);
  }
  &--3{
    width: 55px;
    background-image: url(img/pay-ic-3.svg);
  }
  &--4{
    width: 65px;
    background-image: url(img/pay-ic-4.svg);
  }
  &--5{
    width: 45px;
    background-image: url(img/pay-ic-5.svg);
  }
  background-size: auto 100%;
}
.acc__log__valw{
  width: 70px;
  margin-top: 0;
  margin-left: 8px;
  text-align: right;
  @include media('>=1'){
    width: 80px;
    margin-left: 20px;
  }
}
.acc__log__val{}
.acc__status{
  padding: 20px;
  border-radius: 5px 5px 0 0;
  font-weight: 900;
  color: $cf;
  line-height: 20px;
  &--1{
    background: #05b53b;
  }
  &--2{
    background: #f5c223;
  }
  &--3{
    background: #d0021b;
  }
  @include media('>=1'){
    padding: 20px 30px;
  }
  @include media('>=2'){
    border-radius: 10px 10px 0 0;
  }
}
.acc__blnc{
  margin-top: 40px;
  padding: 0 20px;
  font: 36px/1 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 40px;
  }
  @include media('>=2'){
    margin-top: 60px;
    font-size: 44px;
  }
  @include media('>=3'){
    margin-top: 80px;
    font-size: 48px;
  }
  @include media('>=4'){
    font-size: 56px;
  }
}
.acc__blnc__val{}
.acc__btw{
  margin-top: 20px;
  padding: 0 20px;
  @include media('>=1', '<2'){
    display: flex;
  }
}
.acc__bt{
  @extend %bt;
  width: 100%;
  &--pay{}
  &--promise{
    margin-top: 10px;
    // box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
    box-shadow: inset 0 0 0 1px rgba($c1, 1);
    background: #fff;
    color: $c1;
  }
  @include media('>=1', '<2'){
    &--promise{
      margin-top: 0;
      margin-left: 10px;
    }
  }
}









