.bid{
  background: #534ba0;
  background: linear-gradient(130deg, rgba(#a52c91, 1) 0%, rgba(#3b53a4, 1) 70%);
  color: $cf;
  position: relative;
}
.bid--in{
  @extend %in;
  padding: 40px 0;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // @include media('>=1'){
  //   justify-content: flex-start;
  // }
  @include media('>=2'){
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    // align-items: flex-end;
    padding: 0;
  }
}
.bid__pic{
  flex-shrink: 0;
  width: 250px;
  position: absolute;
  right: -50px;
  bottom: -9px;
  // &--m{}
  // &--d{display: none;}
  @include media('>=1'){
    width: 336px;
    bottom: -12px;
  }
  @include media('>=2'){
    width: 400px;
    // margin: 0 20px;
    margin: -15px -20px -14px -100px;
    // margin-top: -14px;
    // margin-bottom: -13px;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    // &--m{display: none;}
    // &--d{display: block;}

  }
  @include media('>=3'){
    width: 420px;
    // margin: 0 40px;
    // margin-top: -16px;
    // margin-bottom: -15px;
    margin: -16px 0px -15px -0px;
  }
  @include media('>=4'){
    margin: -16px 50px -15px 50px;
  }
}
.bid__pic__img{
  display: block;
  width: 100%;
  // margin-top: -4%;
  // margin-bottom: -5%;
  // @include media('>=2'){
  //   margin-top: -14px;
  //   margin-bottom: -13px;
  // }
  // @include media('>=3'){
  //   margin-top: -16px;
  //   margin-bottom: -15px;
  // }
}
.bid__info{
  position: relative;
  z-index: 2;
}
.bid__ttl{
  font: 900 30px/.86 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 40px;
  }
  @include media('>=2'){
    font-size: 48px;
  }
  @include media('>=3'){
    font-size: 54px;
  }
  @include media('>=4'){
    font-size: 60px;
  }
}
.bid__sttl{
  font: 300 30px/.94 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 36px;
  }
  @include media('>=2'){
    font-size: 40px;
  }
  @include media('>=3'){
    font-size: 44px;
  }
  @include media('>=4'){
    font-size: 50px;
  }
}
.bid__footer{
  @include media('>=2'){
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
}
.bid__btw{
  margin-top: 24px;
  &--m{}
  &--d{display: none;}
  @include media('>=2'){
    &--m{display: none;}
    &--d{display: block;}
  }
  @include media('>=2'){
    margin-top: 4px;
  }
}
.bid__bt{
  display: inline-flex;
  align-items: center;
  padding: 15px 15px 15px 20px;
  border-radius: 5px;
  background: #fff;
  color: $cb;
}
.bid__bt__txt{
  font-weight: 700;
  line-height: 20px;
}
.bid__bt__ic{
  flex-shrink: 0;
  width: 10px;
  height: 20px;
  margin-left: 15px;
  background: url(img/bid-bt-ic.png);
  background: url(img/bid-bt-ic.svg);
  background-size: auto 100%;
}
.bid__price{
  display: inline-flex;
  margin-top: 20px;
  // padding: 16px 16px;
  padding: 16px 24px;
  border-radius: 10px;
  background: #d80d8b;
  font: 900 26px/1 'Gotham Pro', sans-serif;
  transform: rotate(-5deg);
  @include media('>=1'){
    font-size: 36px;
  }
  @include media('>=2'){
    margin-top: 0;
    margin-left: 30px;
    // font-size: 48px;
  }
  @include media('>=3'){
    margin-left: 60px;
    font-size: 52px;
  }
  @include media('>=4'){
    margin-left: 70px;
    font-size: 56px;
  }
}



// .bid{
//   background: #3b53a4;
//   color: $cf;
//   @include media('>=2'){
//     background: url(img/home-bg.jpg) 50% 100% no-repeat;
//     background-size: cover;
//   }
// }
// .bid--in{
//   @extend %in;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   @include media('>=1'){
//     justify-content: flex-start;
//   }
// }
// .bid__info{
//   margin-right: -50%;
//   padding: 40px 0;
//   @include media('>=1'){
//     margin-right: -20px;
//     padding-left: 40px;
//   }
//   @include media('>=2'){
//     margin-right: -24px;
//     padding: 60px 0 50px;
//   }
//   @include media('>=3'){
//     margin-right: -60px;
//     padding: 70px 0 60px 50px;
//   }
//   @include media('>=4'){
//     padding: 80px 0 70px 50px;
//   }
// }
// .bid__ssttl{
//   display: none;
//   font: 500 16px 'Gotham Pro', sans-serif;
//   text-transform: uppercase;
//   letter-spacing: .4em;
//   @include media('>=2'){
//     display: block;
//   }
// }
// .bid__sttl{
//   display: none;
//   font: 700 24px/1 'Gotham Pro', sans-serif;
//   color: rgba(#fff, .44);
//   @include media('>=2'){
//     display: block;
//     margin-top: 10px;
//   }
// }
// .bid__ttl{
//   font: 900 40px/.8 'Gotham Pro', sans-serif;
//   @include media('>=1'){
//     font-size: 44px;
//   }
//   @include media('>=2'){
//     margin-top: 4px;
//     font-size: 48px;
//   }
//   @include media('>=3'){
//     font-size: 54px;
//   }
//   @include media('>=4'){
//     font-size: 60px;
//   }
// }
// .bid__price{
//   display: inline-flex;
//   margin-top: 10px;
//   padding: 16px 16px;
//   border-radius: 10px;
//   background: #d80d8b;
//   font: 900 26px/1 'Gotham Pro', sans-serif;
//   transform: rotate(-5deg);
//   @include media('>=1'){
//     font-size: 36px;
//   }
//   @include media('>=2'){
//     font-size: 48px;
//     margin-left: 40px;
//   }
//   @include media('>=3'){
//     font-size: 52px;
//     margin-left: 90px;
//   }
//   @include media('>=4'){
//     font-size: 56px;
//   }
// }
// .bid__pic{
//   flex-shrink: 0;
//   width: 150px;
//   position: relative;
//   z-index: 2;
//   @include media('>=1'){
//     width: 200px;
//   }
//   @include media('>=2'){
//     width: 240px;
//     margin-bottom: 6px;
//   }
//   @include media('>=3'){
//     width: 300px;
//     margin-left: 20px;
//   }
//   @include media('>=4'){
//     width: 340px;
//   }
// }
// .bid__pic__img{
//   display: block;
//   width: 100%;
// }
















