.check{}
.check--in{
  @extend %in;
  padding: 20px 0 40px;
  @include media('>=2'){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
  @include media('>=3'){
    width: 980px;
    margin: auto;
    padding: 60px 0;
  }
}
.check__ttl{
  font: 16px 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 18px;
  }
  @include media('>=2'){
    width: 320px;
    font-size: 20px;
    .m{display: none;}
  }
  @include media('>=3'){
    font-size: 24px;
  }
}
.check__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .form__item{
    margin-top: 12px;
    &--addr1{
      width: 100%;
    }
    &--addr2{
      width: 100px;
    }
    &--send{
      width: 160px;
    }
  }
  .form__input{}
  .form__send{
    // padding-left: 20px;
    // padding-right: 20px;
    font-size: 16px;
    .d{display: none;}
  }
  @include media('>=2'){
    flex-wrap: nowrap;
    .form__item{
      margin-top: 0;
      margin-left: 20px;
      &--addr1{
        width: 180px;
      }
      &--addr2{
        width: 70px;
      }
      &--send{
        width: 120px;
      }
    }
  }
  @include media('>=3'){
    .form__item{
      margin-left: 32px;
      &--addr1{
        width: 200px;
      }
      &--addr2{
        width: 100px;
      }
      &--send{
        width: 180px;
      }
    }
    .form__send{
      .d{display: inline}
    }
  }
}


