.ct{
  padding: 40px 0 60px;
  background: #f7f7f7;
  @include media('>=2'){
    // padding: 60px 0 100px;
  }
  @include media('>=3'){
    // padding: 80px 0 120px;
  }
}
.ct--in{
  @extend %in;
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.ct__ttl{
  font: 900 24px/.9 'Gotham Pro', sans-serif;
  text-align: center;
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}
.ct__flex{
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  @include media('>=2'){
    border-radius: 10px;
  }
  @include media('>=2'){
    display: flex;
    justify-content: space-between;
  }
}
.ct__acrdw{
  @extend %bs;
  padding: 20px 10px;
  @include media('>=1'){
    padding: 20px 10px;
  }
  @include media('>=2'){
    width: 100%;
    padding: 30px 20px;
  }
}
.ct__acrdw__ttl{
  padding: 0 4px;
  font: 900 18px/1 'Gotham Pro', sans-serif;
  @include media('>=1'){
    padding: 0 10px;
    font-size: 18px;
  }
  @include media('>=2'){
    padding: 0 16px;
    font-size: 20px;
  }
  @include media('>=3'){
    font-size: 24px;
  }
}
.ct__acrd{
  margin-top: 10px;
  font-size: 14px;
  @include media('>=3'){
    margin-top: 20px;
    font-size: 16px;
  }
}
.ct__acrd__ttl{
  padding: 16px 4px;
  border-top: 1px solid #dedede;
  &:first-child{border-top: 0}
  font-weight: 300;
  color: $c1;
  cursor: pointer;
  transition: all .2s;
  &.ui-state-active{
    padding-bottom: 8px;
    font-weight: 900;
    color: $cb;
  }
  @include media('>=1'){
    padding: 16px 10px;
  }
  @include media('>=2'){
    padding: 20px 16px;
  }
}
.ct__acrd__cnt{
  padding: 0 4px 16px;
  font-weight: 500;
  @include media('>=1'){
    padding: 0 10px 16px;
  }
  @include media('>=2'){
    padding: 0 16px 20px;
  }
}
.ct__acrd__cnt__txt{}
.ct__map{
  @extend %tfix;
  height: 340px;
  border-radius: 0 0 5px 5px;
  background: #faf3df;
  position: relative;
  overflow: hidden;
  @include media('>=2'){
    flex-shrink: 0;
    width: 400px;
    width: 54%;
    height: 440px;
    border-radius: 0 10px 10px 0;
  }
  @include media('>=3'){
    width: 60%;
    height: 480px;
  }
}







