.docs{
  padding: 40px 0 60px;
  background: #f7f7f7;
  @include media('>=2'){
    padding: 60px 0 100px;
  }
  @include media('>=3'){
    padding: 80px 0 120px;
  }
}
.docs--in{
  @extend %in;
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.docs__ttl{
  font: 900 24px/.9 'Gotham Pro', sans-serif;
  text-align: center;
  .strong{
    @media screen and (-webkit-min-device-pixel-ratio:0){
      background-image: linear-gradient(90deg, #31369f 0%, #cb0084 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}

.docs__its{
  margin-top: 30px;
  @include media('>=2'){
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
.docs__it{
  // @extend %bs;
  width: 100%;
  margin-top: 20px;
  // &:first-child{margin-top: 0}
  // padding: 20px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  // text-align: center;
  cursor: pointer;
  // overflow: hidden;
  transition: all .2s;
  &:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.1);
  }
  @include media('>=2'){
    margin-top: 30px;
    border-radius: 10px;
  }
  @include media('>=2', '<3'){
    width: calc((100% - 30px) / 2);
    &:nth-child(2n){margin-left: 30px}
  }
  @include media('>=3'){
    width: calc((100% - 30px * 2) / 3);
    &:nth-child(3n+2), &:nth-child(3n){margin-left: 30px}
  }
}
.docs__it__link{
  display: block;
}
.docs__it__pic{
  // width: 100%;
  // height: 86%;
  height: 0;
  padding-top: 85%;
  // margin: 16px 8px 0;
  overflow: hidden;
  position: relative;
  &:before{
    content: '';
    box-shadow: inset 0 0 30px 0 rgba(#000,.3);
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: 0;
    z-index: 2;
  }
}
.docs__it__pic__img{
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @include media('>=2'){
    border-radius: 10px 10px 0 0;
  }
}
.docs__it__info{
  padding: 20px 20px 30px;
}
.docs__it__det{
  font-size: 12px;
  @include media('>=3'){
    font-size: 14px;
  }
}
.docs__it__ttl{
  margin-top: 8px;
  font: 900 14px/.9 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 16px;
  }
  @include media('>=2'){
    // font-size: 22px;
  }
  @include media('>=3'){
    font-size: 18px;
  }
}





