.foot{
  background: #3b3b3b;
  color: $cf;
}
.foot--in{
  @extend %in;
  padding: 40px 0 30px;
  text-align: center;
  @include media('>=2'){
    // display: flex;
    // padding: 36px 0;
    text-align: left;
  }
  @include media('>=3'){
  }
}
.foot__ct{
  margin-bottom: 30px;
  &--d{display: none;}
  @include media('>=2'){
    margin-bottom: 0;
    text-align: right;
    &--m{display: none;}
    &--d{display: block;}
  }
}
.foot__ct__ttl{
  font-size: 12px;
}
.foot__ct__tel{
  margin-top: 8px;
}
.foot__ct__tel__link{
  // font: 300 30px 'GothamPro', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  // letter-spacing: -1px;
  // font-size: 30px;
  // font-weight: 300;
}
.foot__top{
  // margin-top: 30px;
  @include media('>=3'){
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
  }
}
.foot__itemsw{
  text-align: center;
  @include media('>=2'){
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}
.foot__items{
  @include media('>=2'){
    margin-left: 40px;
    &:first-child{margin-left: 0}
  }
  @include media('>=4'){
    margin-left: 50px;
  }
}
.foot__item{
  margin-top: 10px;
  @include media('>=2'){
    margin-top: 14px;
    // &:first-child{margin-top: 0}
  }
}
.foot__item__link{
  font-size: 14px;
}
.foot__socs{
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 70px auto 0;
  @include media('>=3'){
    // flex-wrap: wrap;
    // width: 80px;
    margin: 0 0 0 30px;
  }
}
.foot__soc{
  // margin-left: 10px;
  // &:first-child{margin-left: 0}
  // @include media('>=2'){
  //   margin-top: 10px
  // }
}
.foot__soc__link{
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background: url(img/foot-socs.png);
  background: url(img/foot-socs.svg);
  background-size: auto 200%;
  &--2{background-position: -100% 0}
  &--3{background-position: -200% 0}
  &--4{background-position: -300% 0}
  &--5{background-position: -400% 0}
  &--6{background-position: -500% 0}
  &:hover{
    background-position-y: -100%;
  }
}
.foot__bot{
  @include media('>=2'){
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
  }
}
.foot__copy{
  margin-top: 30px;
  font-size: 14px;
}
