.head{}
.head--in{}
.head__top{
  display: none;
  padding: 10px 0;
  background: #f7f7f7;
  font-size: 14px;
  line-height: 20px;
  @include media('>=2'){
    display: block;
  }
}
.head__top--in{
  @extend %in;
  display: flex;
  justify-content: space-between;
  // align-items: center;
}
.head__users{
  display: flex;
  // align-items: center;
}
.head__user{
  // align-self: stretch;
  display: flex;
  align-items: center;
  margin-left: 30px;
  &:first-child{margin-left: 0}
  position: relative;
  &:before{
    content: '';
    width: 0;
    height: 0;
    margin: auto;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid rgba(#fff, 0);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    transition: all .2s;
  }
  &.active{
    &:before{
      border-bottom: 11px solid rgba(#fff, 1);
      // border-bottom: 11px solid rgba(red, 1);
    }
  }
  @include media('>=3'){
    margin-left: 50px;
  }
}
.head__user__link{
  display: inline-flex;
  transition: all .2s;
  line-height: 20px;
  &:hover{
    color: $c1;
  }
  .head__user.active &{
    font-weight: 900;
    color: #616161;
  }
}
.head__extras{
  display: flex;
}
.head__extra{
  padding: 5px 20px;
  border-left: 1px solid rgba(#979797, .2);
  &:first-child{border-left: 0}
  @include media('>=3'){
    padding: 5px 28px;
  }
}
.head__extra__link{
  padding-left: 40px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  transition: all .2s;
  &:before{
    content: '';
    flex-shrink: 0;
    width: 30px;
    height: 20px;
    margin: auto;
    background: url(img/head-extra-ics.png);
    background-size: auto 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  &:hover{
    color: $c1;
  }
  .head__extra--2 &{
    &:before{
      background-position: -100% 0;
    }
  }
  @include media('>=3'){
    padding-left: 48px;
  }
}
.head__bot{
  padding: 20px 0;
  @include media('>=2'){
    padding: 16px 0;
  }
}
.head__bot--in{
  @extend %in;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head__logo{
  max-width: 220px;
  width: 160px;
  @include media('>=3'){
    width: 180px;
  }
  @include media('>=4'){
    width: 220px;
  }
}
.head__logo__link{
  display: block;
  width: 100%;
}
.head__logo__img{
  display: block;
  width: 100%;
}
.head__navs{
  display: none;
  margin: 0 auto;
  @include media('>=3'){
    display: flex;
    align-self: stretch;
  }
}
.head__nav{
  display: flex;
  align-items: center;
  margin-left: 20px;
  &:first-child{margin-left: 0}
  position: relative;
  &:before{
    content: '';
    width: 0;
    height: 0;
    margin: auto;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid rgba(#f7f7f7, 0);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -16px;
    transition: all .2s;
  }
  &.active{
    &:before{
      border-bottom: 11px solid rgba(#f7f7f7, 1);
    }
  }
  // &:hover{
  //   &:before{
  //     border-bottom: 11px solid rgba(#f7f7f7, .5);
  //   }
  // }
  @include media('>=4'){
    margin-left: 36px;
  }
}
.head__nav__link{
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  transition: all .2s;
  &:hover{
    color: $c1;
  }
  .head__nav.active &{
    font-weight: 900;
  }
}
.head__ct{
  display: none;
  margin-left: auto;
  @include media('>=2'){
    display: block;
    // margin-left: 20px;
    text-align: left;
  }
  @include media('>=3'){
    margin-left: 0px;
  }
}
.head__ct__ttl{
  font-size: 14px;
  color: #747474;
  font-weight: 500;
}
.head__ct__tel{
  margin-top: 4px;
}
.head__ct__tel__link{
  display: inline-block;
  // font: 700 24px/1 'GothamPro', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  @include media('>=4'){
    font-size: 30px;
  }
}
.head__loginw{
  display: none;
  margin-left: 20px;
  @include media('>=2'){
    display: block;
  }
}
.head__login{
  @extend %bt;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  @include media('>=4'){
    padding-left: 24px;
    padding-right: 24px;
  }
}
.head__login__ic{
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: url(img/head-login-ic.png);
  background: url(img/head-login-ic.svg);
  background-size: auto 200%;
}
.head__login__txt{
  margin-left: 16px;
}
.head__openNav{
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-left: 16px;
  background: url(img/nav-ics.png);
  background: url(img/nav-ics.svg);
  background-size: auto 100%;
  cursor: pointer;
  position: relative;
  transition: all .2s;
  &:hover{
    transform: scale(1.08);
    // background-position: -100% 0%;
  }
  @include media('>=4'){
    margin-left: 20px;
  }
  // body.withNav &{
  //   box-shadow: inset 0 0 0 1px rgba($c1, 0);
  //   // transition: all 0 .2s;
  //   &:before{
  //     background-image: url(img/nav-ics.png);
  //     background-image: url(img/nav-ics.svg);
  //     background-size: auto 200%;
  //     // background-position: -100% 0;
  //     transition: all 0 .2s;
  //   }
  // }
  @include media('>=3'){
    display: none;
  }
}



// .head{
//   padding: 10px 0;
//   border-bottom: 1px solid rgba(#fff, .2);
//   // box-shadow: 0 10px 16px -5px rgba(#dfecf3, 1);
//   // background: #fff;
//   // position: fixed;
//   // top: 0;
//   // left: 0;
//   // right: 0;
//   // z-index: 8;
//   transition: all .2s;
//   user-select: none;
//   // body.scroll &{
//   //   padding: 6px 0;
//   // }
//   @include media('>=2'){
//     padding: 16px 0;
//   }
//   @include media('>=3'){
//     padding: 20px 0;
//   }
// }
// .head--in{
//   @extend %in;
//   display: flex;
//   // justify-content: space-between;
//   justify-content: space-between;
//   align-items: center;
//   @include media('>=4'){
//   }
// }

// .head__row{
//   flex-shrink: 1;
//   width: 50%;
//   @include media('>=2'){
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

// .head__langs{
//   display: flex;
// }
// .head__lang{
//   // margin-left: 10px;
//   // &:first-child{margin-left: 0}
//   padding: 4px 10px;
//   border-radius: 30px;
//   font-size: 14px;
//   font-weight: 600;
//   color: $cf;
//   line-height: 20px;
//   text-transform: uppercase;
//   cursor: pointer;
//   transition: all .2s;
//   &:hover{
//     // box-shadow: inset 0 0 0 1px rgba($c2, .5);
//     // background: $c2;
//     color: $c2;
//   }
//   &.active, &.active:hover{
//     background: $c2;
//     color: $cb;
//   }
// }

// .head__logo{
//   flex-shrink: 0;
//   width: 80px;
//   margin: 0 10px;
//   transition: all .3s;
//   @include media('>=2'){
//     width: 100px;
//     margin: 0 50px;
//   }
//   @include media('>=3'){
//     width: 120px;
//     margin: 0 80px;
//   }
//   @include media('>=4'){
//     margin: 0 100px;
//   }
// }
// .head__logo__link{
//   display: block;
//   width: 100%;
// }
// .head__logo__img{
//   display: block;
//   width: 100%;
// }

// .head__ct{
//   display: none;
//   @include media('>=2'){
//     display: block;
//   }
// }
// .head__ct__link{
//   display: flex;
//   align-items: center;
//   font-size: 14px;
//   font-weight: 600;
//   line-height: 20px;
//   &--tel{
//     &--macos{display: none}
//     html.macos &{
//       &--order{display: none}
//       &--macos{display: flex}
//     }
//   }
//   transition: all .2s;
//   &:hover{
//     color: $c2;
//   }
//   @include media('>=3'){
//     font-size: 16px;
//   }
//   @include media('>=4'){
//     font-size: 18px;
//   }
// }
// .head__ct__link__ic{
//   display: inline-block;
//   flex-shrink: 0;
//   width: 20px;
//   height: 20px;
//   background: url(img/head-ct-ics.png);
//   background: url(img/head-ct-ics.svg);
//   background-size: auto 100%;
//   &--mail{}
//   &--tel{background-position: -100% 0}
// }
// .head__ct__link__txt{
//   margin-left: 10px;
// }

// .head__btw{
//   display: none;
//   @include media('>=2'){
//   }
//   @include media('>=3'){
//     display: block;
//     margin-top: 4px;
//   }
// }
// .head__bt{
//   @extend %bt;
//   padding-left: 20px;
//   padding-right: 20px;
//   background: $cb;
//   color: $cf;
//   &:hover{
//     background: $c2;
//     color: $cb;
//   }
//   @include media('>=3'){
//     padding-left: 30px;
//     padding-right: 30px;
//   }
//   // display: inline-block;
//   // border-bottom: 1px solid rgba($c1, 1);
//   // font-size: 14px;
//   // color: $c1;
//   // line-height: 1;
//   // cursor: pointer;
//   // transition: all .2s;
//   // &:hover{
//   //   border-bottom: 1px solid rgba($c1, 0);
//   // }
// }

// .head__openNav{
//   flex-shrink: 0;
//   width: 30px;
//   height: 30px;
//   margin-left: 20px;
//   background: url(img/_nav.png);
//   background: url(img/_nav.svg);
//   background-size: auto 300%;
//   background-position: -200% -200%;
//   cursor: pointer;
//   position: relative;
//   // transition: all .2s;
//   &:hover{
//     background-position: -200% 0%;
//   }
//   body.withNav &{
//     box-shadow: inset 0 0 0 1px rgba($c1, 0);
//     // transition: all 0 .2s;
//     &:before{
//       background-image: url(img/_nav.png);
//       background-image: url(img/_nav.svg);
//       background-size: auto 300%;
//       background-position: -100% 0;
//       transition: all 0 .2s;
//     }
//   }
//   @include media('>=2'){
//     display: none;
//   }
// }







