.home{
  background: #3b53a4;
  color: $cf;
  @include media('>=2'){
    background: url(img/home-bg.jpg) 50% 100% no-repeat;
    background-size: cover;
  }
}
.home--in{
  @extend %in;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include media('>=1'){
    justify-content: flex-start;
  }
}
.home__info{
  margin-right: -50%;
  padding: 40px 0;
  @include media('>=1'){
    margin-right: -20px;
    padding-left: 40px;
  }
  @include media('>=2'){
    margin-right: -24px;
    padding: 60px 0 50px;
  }
  @include media('>=3'){
    margin-right: -60px;
    padding: 70px 0 60px 50px;
  }
  @include media('>=4'){
    padding: 80px 0 70px 50px;
  }
}
.home__ssttl{
  display: none;
  font: 500 16px 'Gotham Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: .4em;
  @include media('>=2'){
    display: block;
  }
}
.home__sttl{
  display: none;
  font: 700 24px/1 'Gotham Pro', sans-serif;
  color: rgba(#fff, .44);
  @include media('>=2'){
    display: block;
    margin-top: 10px;
  }
}
.home__ttl{
  font: 900 40px/.8 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 44px;
  }
  @include media('>=2'){
    margin-top: 4px;
    font-size: 48px;
  }
  @include media('>=3'){
    font-size: 54px;
  }
  @include media('>=4'){
    font-size: 60px;
  }
}
.home__price{
  display: inline-flex;
  margin-top: 10px;
  padding: 16px 16px;
  border-radius: 10px;
  background: #d80d8b;
  font: 900 26px/1 'Gotham Pro', sans-serif;
  transform: rotate(-5deg);
  @include media('>=1'){
    font-size: 36px;
  }
  @include media('>=2'){
    font-size: 48px;
    margin-left: 40px;
  }
  @include media('>=3'){
    font-size: 52px;
    margin-left: 90px;
  }
  @include media('>=4'){
    font-size: 56px;
  }
}
.home__pic{
  flex-shrink: 0;
  width: 150px;
  position: relative;
  z-index: 2;
  @include media('>=1'){
    width: 200px;
  }
  @include media('>=2'){
    width: 240px;
    margin-bottom: 6px;
  }
  @include media('>=3'){
    width: 300px;
    margin-left: 20px;
  }
  @include media('>=4'){
    width: 340px;
  }
}
.home__pic__img{
  display: block;
  width: 100%;
}
















