.inet{
  background: #f7f7f7;
}
.inet--in{
  @extend %in;
  padding: 40px 0 80px;
  @include media('>=2'){
    padding: 50px 0 40px;
  }
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.inet__ttl{
  font: 900 24px/1.08 'Gotham Pro', sans-serif;
  text-align: center;
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}
.inet__navs{
  display: none;
  margin-top: 30px;
  @include media('>=2'){
    display: flex;
  }
}
.inet__nav{
  display: flex;
  align-items: center;
  margin-left: 24px;
  &:first-child{margin-left: 0}
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  cursor: pointer;
  transition: all .2s;
  &:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.1);
  }
  &.active{
    box-shadow: none;
    background: #e2e1e1;
    cursor: default;
    &:hover{
      transform: translateY(0);
      box-shadow: none;
    }
  }
}
.inet__nav__ic{
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background: url(img/prc-nav-ics.png);
  background: url(img/prc-nav-ics.svg);
  background-size: auto 200%;
  &--2{
    background-position-x: -100%;
  }
  .inet__nav.active &{
    background-position-y: -100%;
  }
}
.inet__nav__txt{
  margin-left: 16px;
  font-weight: 500;
  .inet__nav.active &{
    font-weight: 900;
    color: rgba(#000,.6);
  }
}
.inet__itsw{
  margin-top: 30px;
  @include media('>=2'){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }
  @include media('>=3'){
    margin-top: 30px;
  }
}
.inet__its{
  width: 100%;
}
.inet__it{
  @extend %bs;
  width: 100%;
  margin-top: 20px;
  &:first-child{margin-top: 0}
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  text-align: center;
  cursor: pointer;
  transition: all .2s;
  &:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.1);
  }
  @include media('>=2'){
    // margin-left: 20px;
    // &:first-child{margin-left: 0}
    border-radius: 10px;
  }
  @include media('>=3'){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 36px 40px;
    text-align: left;
    // margin-left: 30px;
  }
}
.inet__it__ttl{
  padding: 40px 0 30px;
  border-bottom: 1px solid #dedede;
  font: 300 26px/1 'Gotham Pro', sans-serif;
  text-transform: uppercase;
  .strong{
    font-weight: 900;
  }
  @include media('>=1'){
    font-size: 28px;
  }
  @include media('>=2'){
    font-size: 32px;
  }
  @include media('>=3'){
    width: 50%;
    padding: 0;
    border-bottom: 0;
    font-size: 36px;
  }
}
.inet__it__price{
  display: inline-flex;
  justify-content: center;
  // align-items: center;
  margin-top: 24px;
  @include media('>=1'){
    margin-top: 32px;
  }
  @include media('>=2'){
    width: 50%;
    margin-top: 44px;
  }
  @include media('>=3'){
    justify-content: flex-end;
    margin-top: 0px;
  }
}
.inet__it__price__val{
  font: 500 56px/.73 'Gotham Pro', sans-serif;
}
.inet__it__price__unit{
  display: block;
  width: 26px;
  margin-left: 10px;
  .txt{
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }
  .line{
    display: block;
    width: 100%;
    height: 1px;
    background: $cb;
  }
}
.inet__it__speed{
  margin-top: 20px;
  @include media('>=2'){
    margin-top: 30px;
  }
  @include media('>=3'){
    margin-top: 36px;
  }
}
.inet__it__speed__ttl{
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #9C9C9C;
  white-space: nowrap;
}
.inet__it__speed__val{
  display: block;
  margin-top: 6px;
  font-size: 26px;
  font-weight: 500;
}
.inet__it__btw{
  margin-top: 36px;
  padding: 0 20px 20px;
  @include media('>=2'){
    padding: 0 24px 36px;
  }
  @include media('>=3'){
    width: 160px;
    padding: 0;
  }
}
.inet__it__bt{
  @extend %bt;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  font-weight: 500;
  .inet__it:hover &{
    background: rgba(#395EDE, 1);
  }
}

.inet__check{
  flex-shrink: 0;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  overflow: hidden;
  @include media('>=2'){
    width: 300px;
    margin-top: 0;
    margin-left: 20px;
  }
  @include media('>=3'){
    width: 340px;
  }
}
.inet__check__pic{}
.inet__check__pic__img{
  display: block;
  width: 100%;
}
.inet__check__formw{
  margin: 0 32px;
  padding: 20px 0 32px;
  // padding: 0 32px;
}
.inet__check__ttl{
  // margin: 0 32px;
  font: 900 18px 'Gotham Pro', sans-serif;
}
.inet__check__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  // margin: 0 32px;
  .form__item{
    margin-top: 12px;
    &--addr1{
      width: 140px;
      width: 63%;
      width: calc((100% - 20px) * .7);
    }
    &--addr2{
      width: 60px;
      width: 27%;
      width: calc((100% - 20px) * .3);
    }
    &--send{
      width: 100%;
      margin-top: 20px;
    }
  }
  .form__input{}
  .form__send{
    // padding-left: 20px;
    // padding-right: 20px;
    font-size: 16px;
    .d{display: none;}
  }
  @include media('>=2'){
    // flex-wrap: nowrap;
    // .form__item{
    //   margin-top: 0;
    //   margin-left: 20px;
    //   &--addr1{
    //     width: 180px;
    //   }
    //   &--addr2{
    //     width: 70px;
    //   }
    //   &--send{
    //     width: 120px;
    //   }
    // }
  }
  @include media('>=3'){
    // .form__item{
    //   margin-left: 32px;
    //   &--addr1{
    //     width: 200px;
    //   }
    //   &--addr2{
    //     width: 100px;
    //   }
    //   &--send{
    //     width: 180px;
    //   }
    // }
    .form__send{
      .d{display: inline}
    }
  }
}









// .inet__morew{
//   margin-top: 20px;
//   text-align: center;
//   @include media('>=2'){
//     margin-top: 28px;
//   }
//   @include media('>=3'){
//     margin-top: 32px;
//   }
// }
// .inet__more{
//   // display: inline-flex;
//   @extend %bt;
//   width: 100%;
//   border-radius: 5px;
//   background: #fff;
//   font-weight: 500;
//   color: $c1;
//   &:hover{
//     box-shadow: 0 6px 8px 0 rgba(0,0,0,0.1);
//     transform: translateY(-4px);
//   }
//   @include media('>=2'){
//     border-right: 10px;
//   }
// }





