.job{
  background: #f7f7f7;
}
.job--in{
  @extend %in;
  padding: 40px 0 80px;
  @include media('>=2'){
    padding: 50px 0 40px;
  }
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.job__ttl{
  font: 900 24px/1 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}

.job__its{
  margin-top: 30px;
  @include media('>=2'){
    margin-top: 40px;
  }
  @include media('>=3'){
    margin-top: 50px;
  }
}
.job__it{
  @extend %bs;
  width: 100%;
  margin-top: 20px;
  &:first-child{margin-top: 0}
  padding: 20px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  // text-align: center;
  cursor: pointer;
  transition: all .2s;
  &:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.1);
  }
  @include media('>=2'){
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 10px;
    padding: 36px 40px;
  }
  // @include media('>=3'){
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   padding: 36px 40px;
  //   text-align: left;
  //   // margin-left: 30px;
  // }
}
.job__it__info{
  max-width: 580px;
}
.job__it__ttl{
  font: 900 18px/1 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 20px;
  }
  @include media('>=2'){
    font-size: 22px;
  }
  @include media('>=3'){
    font-size: 24px;
  }
}
.job__it__sttl{
  margin-top: 16px;
  font: 900 14px 'Gotham Pro', sans-serif;
  @include media('>=2'){
    margin-top: 24px;
  }
}
.job__it__dets{}
.job__it__det{
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  @include media('>=2'){
    font-size: 16px;
  }
}
.job__it__salary{
  flex-shrink: 0;
  margin-top: 20px;
  @include media('>=2'){
    width: 160px;
    margin-top: 0;
    margin-left: 20px;
    text-align: right;
  }
  @include media('>=3'){
    margin-left: 40px;
  }
}
.job__it__salary__valw{
  font: 900 20px/1 'Gotham Pro', sans-serif;
  @include media('>=2'){
    font-size: 24px;
  }
}
.job__it__salary__val{
  .icon-rub{}
}
.job__it__salary__note{
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  @include media('>=2'){
    font-size: 14px;
  }
}



