.modals{}
.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  // position: fixed;
  top: 0;
  // left: 0;
  left: -200%;
  z-index: 100;
  // transition: left .25s linear;
  // -webkit-font-smoothing: antialiased;
  // -moz-font-smoothing: antialiased;
  // font-smoothing: antialiased;
  // transition: left 0 .3s;
  transition: left 0 .3s, position 0 .3s;
  &.show{
    position: fixed;
    left: 0;
    transition: left 0 0, position 0 0;
  }
}
.modal__bg{
  width: 100%;
  height: 100%;
  // background: rgba(#000, .55);
  background: rgba(#182328, .8);
  // background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .25s linear;
  .modal.show &{
    opacity: 1;
  }
}
.modal__body{
  @extend %bs;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translate(0, -70px);
  transition: all .25s ease-in;
  .modal.show &{
    opacity: 1;
    transform: translate(0, 0);
  }
}
.modal__close{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  // background: $cBlue;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all .2s;
  z-index: 5;
  // opacity: 0;
  // .modal.show &{
  //   opacity: .5;
  // }
  &:before{
    content: '';
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    // width: 30px;
    // height: 20px;
    margin: auto;
    background: url(img/modal-close.png);
    background: url(img/modal-close.svg);
    background-size: auto 100%;
    // background: url(img/header-btmenu.png) 0 -100%;
    // background: url(img/header-btmenu.svg) 0 -100%;
    // background-size: auto 200%;
    transition: all .2s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:hover{
    // transform: scale(1.2);
    &:before{
      transform: rotate(90deg);
    }
  }
  // @include media('>=1'){
  //   top: 24px;
  //   right: 24px;
  // }
  @include media('>=2'){
    // width: 56px;
    // height: 56px;
    top: 20px;
    right: 20px;
  }
}





.modal--call{
  .modal__close{
    width: 24px;
    height: 24px;
    top: 8px;
    right: 8px;
    opacity: 1;
    &:before{
      background-image: url(img/_nav.png);
      background-image: url(img/_nav.svg);
      background-size: auto 300%;
      background-position: -100% -200%;
      // background-position: -100% 0;
      transition: transform .2s;
      opacity: .7;
    }
    &:hover{
      &:before{
        transform: scale(1.1);
        background-position: -100% 0;
        opacity: 1;
      }
    }
  }
  @include media('>=2'){
    .modal__close{
      top: 14px;
      right: 14px;
    }
  }
}
.modal__body--call{
  @extend %bs;
  width: 100%;
  max-width: 720px;
  margin: auto;
  // padding: 50px 16px 30px;
  border-radius: 0;
  box-shadow: 0 10px 18px 0 rgba(#3F7A87, .1);
  background: #fff;
  max-height: 100%;
  overflow: auto;
  @include media('>=1'){
    margin: 0 24px;
    border-radius: 4px;
  }
  @include media('>=2'){
    // width: 720px;
    // padding: 50px 24px;
  }
}
.modal__call{
  @extend %bs;
  padding: 30px 16px;
  // border-radius: 6px;
  font-size: 12px;
  @include media('>=1'){
    padding: 40px 20px;
    font-size: 14px;
  }
  @include media('>=2'){
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 40px;
  }
  // @include media('>=3'){
  //   padding: 80px 60px;
  // }
  // @include media('>=4'){
  //   padding: 100px 80px;
  // }
}
.modal__call__ttl{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  @include media('>=2'){
    font-size: 20px;
  }
}
// .modal__call__pic{
//   flex-shrink: 0;
//   display: none;
//   max-width: 520px;
//   @include media('>=2'){
//     display: block;
//     width: 320px;
//   }
//   @include media('>=3'){
//     width: 400px;
//   }
//   @include media('>=4'){
//     width: 520px;
//   }
// }
// .modal__call__pic__img{
//   display: block;
//   width: 100%;
// }

// .modal__call__formw{
//   // margin-top: 30px;
//   // @include media('>=2'){
//   //   flex-shrink: 0;
//   //   width: 300px;
//   //   margin-top: 0;
//   //   // margin-left: 40px;
//   // }
//   // @include media('>=3'){
//   //   width: 360px;
//   //   margin-left: 80px;
//   // }
//   // @include media('>=4'){
//   //   width: 420px;
//   //   margin-left: 100px;
//   // }
// }
// .modal__call__form{
//   .form__item{
//     margin-top: 30px;
//     &:first-child{margin-top: 0}
//   }
//   .form__input{
//     // width: 65%;
//     // // padding-left: 0;
//     // // padding-right: 0;
//     // border-bottom: 2px solid rgba($cb, .2);
//     // border-radius: 0;
//     // box-shadow: none;
//     // background: transparent;
//     // color: $cf;
//     // transition: all .2s;
//     // &:focus{
//     //   width: 100%;
//     //   box-shadow: none;
//     //   border-bottom: 2px solid rgba($cb, 1);
//     // }
//   }
//   .form__send{
//     padding-left: 20px;
//     padding-right: 20px;
//     // box-shadow: inset 0 0 0 2px rgba($c1, 1);
//     // background: $cf;
//     // text-align: left;
//     // transition: all .8s cubic-bezier(.77,.32,.54,1.58);
//     // &:before{
//     //   content: '';
//     //   flex-shrink: 0;
//     //   width: 20px;
//     //   height: 20px;
//     //   margin: auto;
//     //   background: url(img/bt-ic.png);
//     //   background: url(img/bt-ic.svg);
//     //   background-size: auto 200%;
//     //   background-position: 0 -100%;
//     //   position: absolute;
//     //   top: 0;
//     //   right: 20px;
//     //   bottom: 0;
//     //   transform: rotate(-90deg);
//     // }
//     // &:hover{
//     //   &:before{
//     //     animation: formSendArrRight 1s linear infinite;
//     //   }
//     // }
//     // &.anim{
//     //   transform: translate(500px, 0);
//     //   opacity: 0;
//     //   transition: 0;
//     // }
//   }
//   // .form__term{
//   //   margin-top: 20px;
//   //   font-size: 10px;
//   //   color: #acbdc4;
//   //   @include media('>=3'){
//   //     margin-top: 30px;
//   //     font-size: 11px;
//   //   }
//   // }
//   // .form__term__link{
//   //   border-bottom: 0;
//   //   color: $c1;
//   //   transition: all .2s;
//   //   &:hover{
//   //     color: $cb;
//   //   }
//   // }
//   // @include media('>=2'){
//   //   .form__item{
//   //     margin-top: 40px;
//   //   }
//   // }
// }
// @keyframes formSendArrRight{
//   0%{
//     transform: rotate(-90deg) translate(0, 0);
//   }
//   30%{
//     transform: rotate(-90deg) translate(0, 10px);
//   }
//   100%{
//     transform: rotate(-90deg) translate(0, 0);
//   }
// }
.modal__call__formw{
  @extend %bs;
  position: relative;
  z-index: 2;
  .form__term{}
  .form__term__ic{}
  .form__term__txt{
    font-size: 12px;
    color: $cbl;
    line-height: 1;
  }
}
.modal__call__form__ttl{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
.modal__call__form{
  max-width: 340px;
  margin: 20px auto 0;
  .form__item{
    margin-top: 10px;
    &:first-child{margin-top: 0}
  }
  .form__input{}
  .form__note{
    margin-top: 10px;
    padding: 5px 0;
    font-size: 14px;
    color: $cbl;
    text-align: center;
  }
  .form__term__ic{
    &:before{
      background-position: -100% 0;
    }
  }
  @include media('>=2'){
    // max-width: none;
    margin-top: 30px;
  }
}




// .modal--call__info{
//   @extend %bs;
//   max-width: 480px;
//   margin: auto;
//   // padding: 30px 16px 0;
//   // padding: 0 16px;
//   // background: url(img/modal-call-info-bg.jpg) 50% 50% no-repeat;
//   // background-size: cover;
//   // font-size: 14px;
//   // font-weight: 700;
//   // color: #fff;
//   text-align: center;
//   // .desk{display: none;}
//   @include media('>=2'){
//     // padding: 32px 24px 0;
//     // padding: 0 24px;
//     // font-size: 16px;
//   }
// }
// .modal--call__ttl{
//   // color: #575757;
//   font-weight: 600;
//   @include media('>=2'){
//     font-size: 18px;
//   }
//   @include media('>=3'){
//     font-size: 20px;
//   }
// }
// .modal--call__sttl{
//   .desk{display: none;}
//   @include media('>=2'){
//     .desk{display: block;}
//   }
// }
// .modal__call__formw{
//   margin-top: 20px;
//   // padding: 20px 0 0;
//   @include media('>=2'){
//     margin-top: 24px;
//     // padding: 24px 0 0;
//   }
// }
// .modal__call__form{
//   padding: 0;
//   .modal__call__form--in{
//     max-width: 330px;
//     margin: auto;
//   }
//   .form__item{
//     margin-top: 15px;
//   }
//   .form__label{
//     display: block;
//     margin-bottom: 4px;
//     font-weight: 600;
//     font-size: 14px;
//   }
//   .form__input{}
//   .modal--call__formName{}
//   .form__send{
//     // padding-top: 20px;
//     // padding-bottom: 20px;
//   }
//   @include media('>=2'){
//     .form__label{
//       font-size: 16px;
//     }
//   }
//   @include media('>=3'){
//     // .form__label{
//     //   font-size: 16px;
//     // }
//   }
// }
// .modal--call__download{display: none}












.modal--thx{
  .modal__close{
    width: 24px;
    height: 24px;
    top: 8px;
    right: 8px;
    opacity: 1;
    &:before{
      background-image: url(img/_nav.png);
      background-image: url(img/_nav.svg);
      background-size: auto 300%;
      background-position: -100% -200%;
      // background-position: -100% 0;
      transition: transform .2s;
    }
    &:hover{
      &:before{
        transform: scale(1.1);
        background-position: -100% 0;
      }
    }
  }
  @include media('>=2'){
    .modal__close{
      top: 14px;
      right: 14px;
    }
  }
}
.modal__body--thx{
  @extend %bs;
  width: 100%;
  max-width: 720px;
  margin: auto;
  // padding: 50px 16px 30px;
  // padding: 40px 0;
  // border-radius: 6px;
  box-shadow: 0 10px 18px 0 rgba(#3F7A87, .1);
  background: #fff;
  // .modal--thx--calc &{
  //   max-width: 880px;
  // }
  @include media('>=1'){
    margin: 0 24px;
    // border-radius: 6px;
  }
  @include media('>=2'){
    // padding: 50px 0;
  }
}
.modal__thx{
  @extend %bs;
  padding: 30px 16px;
  font-size: 12px;
  @include media('>=1'){
    padding: 40px 20px;
    font-size: 14px;
  }
  @include media('>=2'){
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 40px;
  }
  @include media('>=3'){
    padding: 80px 60px;
  }
  @include media('>=4'){
    padding: 100px 80px;
  }
}
// .modal__thx__pic{
//   flex-shrink: 0;
//   display: none;
//   max-width: 520px;
//   @include media('>=2'){
//     display: block;
//     width: 320px;
//   }
//   @include media('>=3'){
//     width: 400px;
//   }
//   @include media('>=4'){
//     width: 520px;
//   }
// }
// .modal__thx__pic__img{
//   display: block;
//   width: 100%;
// }
.modal__thx__res{
  // padding: 0 16px;
  text-align: center;
  @include media('>=2'){
    // margin-left: 40px;
    // text-align: left;
  }
  @include media('>=3'){
    // margin-left: 60px;
  }
  // @include media('>=1'){
  //   padding: 0 40px;
  // }
  // @include media('>=640px'){
  //   padding: 0 50px;
  // }
}
.modal__thx__logo{
  width: 140px;
  margin: auto;
  // .modal--thx--calc &{
  //   width: 90px;
  // }
  // @include media('>=1'){
  //   width: 120px;
  // }
  @include media('>=2'){
    width: 160px;
  }
  @include media('>=3'){
    width: 180px;
  }
}
.modal__thx__logo__link{
  display: block;
  width: 100%;
}
.modal__thx__logo__img{
  display: block;
  width: 100%;
}
// .modal__thx__pic{
//   width: 35px;
//   height: 35px;
//   margin: auto;
//   background: url(img/logo.png);
//   background: url(img/logo.svg);
//   background-size: auto 100%;
// }
.modal__thx__ic{
  display: none;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  background: url(img/_modal-thx.png);
  background: url(img/_modal-thx.svg);
  background-size: auto 200%;
  &.yes{
    background-position: 0 -100%;
  }
  @include media('>=2'){
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
  }
}
// .modal__thx__ic{
//   // display: none;
//   width: 80px;
//   height: 80px;
//   margin: auto;
//   border-radius: 100%;
//   // box-shadow: 0 10px 35px -10px $cCoral;
//   // background: $cCoral;
//   position: relative;
//   &:before{
//     content: '';
//     flex-shrink: 0;
//     width: 50px;
//     height: 50px;
//     margin: auto;
//     background: url(img/modal-thx.png);
//     background: url(img/modal-thx.svg);
//     background-size: auto 200%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }
//   &.yes{
//     box-shadow: 0 10px 35px -10px $c1;
//     background: $c1;
//     &:before{
//       background-position: 0 -100%;
//     }
//   }
//   // display: none;
//   width: 50px;
//   height: 50px;
//   margin: 0 auto 16px;
//   // border-radius: 100%;
//   // box-shadow: 0 16px 30px 0 rgba($cOrange, .5);
//   background: url(img/_modal-thx.png);
//   background: url(img/_modal-thx.svg);
//   background: url(img/modal-thx-ics.png);
//   background: url(img/modal-thx-ics.svg);
//   background-size: auto 200%;
//   position: relative;
//   z-index: 1;
//   &.yes{background-position: 0 -100%}
//   &:before{
//     content: '';
//     width: 90%;
//     height: 90%;
//     margin: auto;
//     border-radius: 100%;
//     box-shadow: 0 16px 30px 0 rgba($c1, .5);
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: -1;
//   }
//   // @include media('>=1'){
//   //   width: 100px;
//   //   height: 100px;
//   // }
//   @include media('>=2'){
//     width: 50px;
//     height: 50px;
//     margin-bottom: 24px;
//   }
//   // @include media('>=3'){
//   //   width: 150px;
//   //   height: 150px;
//   // }
// }
.modal__thx__ttl{
  // @extend %ttl;
  margin-top: 20px;
  font-family: 'Axiforma';
  font-size: 18px;
  line-height: 170%;
  position: relative;
  @include media('>=2'){
    font-size: 24px;
  }
  @include media('>=3'){
    margin-top: 30px;
    font-size: 28px;
  }
  // margin-top: 20px;
  // font-size: 20px;
  // font-weight: 600;
  // line-height: 110%;
  // @include media('>=2'){
  //   margin-top: 24px;
  //   font-size: 22px;
  // }
  // @include media('>=3'){
  //   font-size: 24px;
  // }
}
.modal__thx__txt{
  // margin-top: 10px;
  font-size: 18px;
  color: $cbl;
  line-height: 1.2;
  @include media('>=2'){
    margin-top: 4px;
  }
  @include media('>=3'){
    font-size: 22px;
  }
}






.modal--login{
  display: none;
  .modal__close{
    width: 30px;
    height: 20px;
    top: 24px;
    right: 30px;
    opacity: 1;
    &:before{
      background-image: url(img/modal-login-nav.png);
      background-image: url(img/modal-login-nav.svg);
      background-size: auto 200%;
      // background-position: 0 0;
      // background-position: -100% 0;
      transition: transform .2s;
      opacity: .7;
    }
    &:hover{
      &:before{
        transform: scale(1.1);
        background-position: 0 -100%;
        opacity: 1;
      }
    }
  }
  @include media('>=2'){
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    // .modal__close{
    //   top: 14px;
    //   right: 14px;
    // }
  }
}
.modal__bodyw--login{
  @extend %in;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.modal__body--login{
  @extend %bs;
  width: 360px;
  // margin-right: 24px;
  // max-width: 720px;
  // margin: 0 auto auto;
  // margin-left: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 18px 0 rgba(#3F7A87, .1);
  background: #fff;
  max-height: 100%;
  overflow: auto;
}
.modal__login{
  @extend %bs;
  padding: 30px 16px;
  // border-radius: 6px;
  font-size: 12px;
  @include media('>=1'){
    padding: 40px 20px;
    font-size: 14px;
  }
  @include media('>=2'){
    padding: 80px 36px 36px;
  }
}
.modal__login__ttl{
  font: 900 24px 'Gotham Pro', sans-serif;
}
.modal__login__txt{
  margin-top: 14px;
  font-size: 14px;
}

.modal__login__formw{
  @extend %bs;
  position: relative;
  z-index: 2;
}
.modal__login__form{
  // max-width: 340px;
  margin: 20px auto 0;
  .form__item{
    margin-top: 10px;
    &:first-child{margin-top: 0}
    &--send{
      margin-top: 40px;
    }
  }
  .form__input{}
  @include media('>=2'){
    // max-width: none;
    margin-top: 30px;
  }
}

















