.nav{
  // width: 100%;
  // margin-left: 20px;
  background: rgba(#000, 0);
  position: fixed;
  top: 0;
  left: 100%;
  right: -100%;
  bottom: 0;
  z-index: 9;
  overflow: scroll;
  user-select: none;
  transition: background .3s, left 0 .3s;
  body.withNav &{
    background: rgba(#000, .36);
    left: 0;
    right: 0;
    transition: background .3s, left 0 0;
  }
  // transform: translate(100%, 0);
  // transition: transform .3s, opacity .3s, left 0 .3s;
  // body.withNav &{
  //   // display: block;
  //   // right: 0;
  //   opacity: 1;
  //   transform: translate(0, 0);
  //   transition: transform .3s, opacity .3s, left 0 0;
  // }
  @include media('>=3'){
    display: none;
  }
}
.nav--in{
  @extend %in;
  // @extend %tfix;
  margin: 0 0 0 20px;
  padding: 20px 0 30px;
  background: #fff;
  transform: translate(100%, 0);
  opacity: 0;
  transition: all .3s;
  // transition: transform .3s, opacity .3s;
  body.withNav &{
    // display: block;
    // right: 0;
    opacity: 1;
    transform: translate(0, 0);
    // transition: transform .3s, opacity .3s;
  }
}

.nav__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  padding: 10px 0;
  body.scroll &{
    padding: 6px 0;
  }
}

.nav__ct{
}
.nav__ct__ttl{
  font-size: 12px;
  color: #747474;
  font-weight: 500;
}
.nav__ct__tel{
  margin-top: 4px;
  display: inline-block;
  font: 700 20px/1 'GothamPro', sans-serif;
  letter-spacing: -1px;
  // @include media('>=4'){
  //   font-size: 30px;
  // }
}
.nav__ct__tel__link{}
.nav__closeNav{
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background: url(img/nav-ics.png);
  background: url(img/nav-ics.svg);
  background-size: auto 100%;
  background-position: -100% 0;
  cursor: pointer;
  position: relative;
  transition: all .2s;
  &:hover{
    transform: scale(1.08);
  }
  body.withNav &{
    box-shadow: inset 0 0 0 1px rgba($c1, 0);
    // transition: all 0 .2s;
    &:before{
      background-image: url(img/_nav.png);
      background-image: url(img/_nav.svg);
      background-size: auto 300%;
      background-position: -100% 0;
      transition: all 0 .2s;
    }
  }
  @include media('>=2'){
    display: none;
  }
}

.nav__loginw{
  margin: 0 0 0 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.nav__login{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 4px 14px 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.nav__login__txt{
  font-weight: 500;
}
.nav__login__ic{
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: url(img/head-login-ic.png);
  background: url(img/head-login-ic.svg);
  background-size: auto 200%;
  background-position: 0 -100%;
}
.nav__login__formw{
  @extend %bs;
  // display: none;
  max-height: 0;
  padding-bottom: 0;
  // padding: 0 0 30px;
  // position: relative;
  // position: absolute;
  // top: -9999px;
  // z-index: 2;
  // transform: translate(0, -40px);
  opacity: 0;
  transition: all .5s;
  overflow: hidden;
  .nav__loginw.full &{
    // display: block;
    max-height: 380px;
    padding-bottom: 30px;
    // transform: translate(0, 0);
    // position: relative;
    // top: auto;
    opacity: 1;
    transition: all .5s;
  }
}
.nav__login__form{
  // max-width: 340px;
  margin: 0 auto 0;
  .form__item{
    margin-top: 10px;
    &:first-child{margin-top: 0}
    &--send{
      margin-top: 24px;
    }
  }
  .form__input{}
  @include media('>=2'){
    // max-width: none;
    // margin-top: 30px;
  }
}

.nav__users{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0;
  // padding: 1px;
  border-radius: 5px;
  box-shadow:  0 0 0 1px #E2E1E1;
  background: #E2E1E1;
}
.nav__user{
  width: 50%;
}
.nav__user__link{
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: $c1;
  .nav__user.active &{
    color: $cb;
    background: #fff;
  }
}
.nav__navs{
  margin: 0 20px;
  padding: 26px 0;
}
.nav__nav{
  margin-top: 16px;
  &:first-child{margin-top: 0}
}
.nav__nav__link{
  font-weight: 500;
  transition: all .2s;
  &:hover{
    color: $c1;
  }
}
.nav__items{
  margin: 0 0 0 20px;
  padding: 20px 0 0;
  border-top: 1px solid #e6e6e6;
}
.nav__item{
  margin-top: 16px;
  &:first-child{margin-top: 0}
}
.nav__item__link{
  font-size: 14px;
  font-weight: 500;
  transition: all .2s;
  &:hover{
    color: $c1;
  }
}
.nav__copy{
  margin: 24px 20px 0;
  font-size: 14px;
  color: #8F8F8F;
}












// .nav__items{
//   margin-top: 20px;
//   @include media('>=1'){
//     margin-top: 20px;
//   }
//   @include media('>=2'){
//     margin-top: 0;
//     // margin-top: 30px;
//   }
//   // @include media('>=3'){
//   //   margin-top: 40px;
//   // }
// }
// .nav__item{
//   margin-top: 16px;
//   &:first-child{margin-top: 0}
//   @include media('>=1'){
//     margin-top: 20px;
//   }
//   @include media('>=2'){
//     margin-top: 24px;
//   }
// }
// .nav__item__link{
//   font-size: 18px;
//   font-weight: 900;
//   color: $cbl;
//   text-transform: uppercase;
//   transition: all .2s;
//   .nav__item.active &,
//   &:hover{
//     color: $c1;
//   }
//   @include media('>=2'){
//     font-size: 24px;
//   }
//   @include media('>=3'){
//     font-size: 30px;
//   }
// }

// .nav__cts{
//   margin-top: 20px;
// }
// .nav__ct{}
// .nav__ct__link{
//   display: flex;
//   align-items: center;
//   font-size: 18px;
//   font-weight: 700;
//   line-height: 20px;
//   &--tel{
//     &--macos{display: none}
//     html.macos &{
//       &--order{display: none}
//       &--macos{display: flex}
//     }
//   }
//   transition: all .2s;
//   &:hover{
//     color: $c1;
//   }
// }
// .nav__ct__link__ic{
//   display: inline-block;
//   flex-shrink: 0;
//   width: 20px;
//   height: 20px;
//   background: url(img/head-ct-ics.png);
//   background: url(img/head-ct-ics.svg);
//   background-size: auto 100%;
// }
// .nav__ct__link__txt{
//   margin-left: 4px;
// }
// .nav__ct__time{
//   font-size: 12px;
//   color: $cbl;
// }

// .nav__btw{
//   margin-top: 10px;
// }
// .nav__bt{
//   display: inline-block;
//   border-bottom: 1px solid rgba($c1, 1);
//   font-size: 14px;
//   color: $c1;
//   line-height: 1;
//   cursor: pointer;
//   transition: all .2s;
//   &:hover{
//     border-bottom: 1px solid rgba($c1, 0);
//   }
// }




