.news{
  padding: 40px 0 60px;
  background: #f7f7f7;
  @include media('>=2'){
    padding: 60px 0 100px;
  }
  @include media('>=3'){
    padding: 80px 0 120px;
  }
}
.news--in{
  @extend %in;
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.news__ttl{
  font: 900 24px/.9 'Gotham Pro', sans-serif;
  text-align: center;
  .strong{
    @media screen and (-webkit-min-device-pixel-ratio:0){
      background-image: linear-gradient(90deg, #31369f 0%, #cb0084 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}

.news__its{
  margin-top: 30px;
  @include media('>=2'){
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
.news__it{
  // @extend %bs;
  width: 100%;
  margin-top: 20px;
  // &:first-child{margin-top: 0}
  // padding: 20px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  // text-align: center;
  cursor: pointer;
  // overflow: hidden;
  transition: all .2s;
  &:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.1);
  }
  @include media('>=2'){
    margin-top: 30px;
    border-radius: 10px;
  }
  @include media('>=2', '<3'){
    width: calc((100% - 30px) / 2);
    &:nth-child(2n){margin-left: 30px}
  }
  @include media('>=3'){
    width: calc((100% - 30px * 2) / 3);
    &:nth-child(3n+2), &:nth-child(3n){margin-left: 30px}
  }
}
.news__it__link{
  display: block;
}
.news__it__pic{}
.news__it__pic__img{
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  @include media('>=2'){
    border-radius: 10px 10px 0 0;
  }
}
.news__it__info{
  padding: 20px 20px 30px;
  @include media('>=2'){
    padding-bottom: 40px;
  }
  @include media('>=3'){
    padding-bottom: 50px;
  }
}
.news__it__date{
  font-size: 12px;
  @include media('>=3'){
    font-size: 14px;
  }
}
.news__it__ttl{
  margin-top: 8px;
  font: 900 18px/.9 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 20px;
  }
  @include media('>=2'){
    // font-size: 22px;
  }
  @include media('>=3'){
    font-size: 24px;
  }
}





