.pay{
  background: #f7f7f7;
}
.pay--in{
  @extend %in;
  padding: 30px 0;
  @include media('>=2'){
    padding: 50px 0;
  }
  @include media('>=3'){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    margin: auto;
    padding: 60px 0;
  }
}
.pay__ttl{
  font: 16px 'Gotham Pro', sans-serif;
  text-align: center;
  .d{display: none;}
  @include media('>=2'){
    font-size: 18px;
    .m{display: none;}
    .d{display: block;}
  }
  @include media('>=3'){
    // width: 390px;
    // flex-shrink: 0;
    text-align: left;
  }
  @include media('>=4'){
    width: 385px;
    flex-shrink: 0;
  }
}
.pay__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  @include media('>=2'){
    flex-wrap: nowrap;
  }
  @include media('>=3'){
    margin: auto;
  }
}
.pay__item{
  height: 40px;
  margin: 10px;
  &--line{
    width: 100%;
    height: 0;
    margin: 0;
  }
  @include media('>=2'){
    &--line{display: none;}
  }
  @include media('>=3'){
    margin: 10px 20px;
  }
}
.pay__item__pic{
  display: block;
  height: 100%;
}


