.prc{
  background: #f7f7f7;
}
.prc--in{
  @extend %in;
  padding: 40px 0 80px;
  @include media('>=2'){
    padding: 50px 0 40px;
  }
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.prc__ttl{
  font: 900 24px/1.08 'Gotham Pro', sans-serif;
  text-align: center;
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}
.prc__navs{
  display: none;
  margin-top: 30px;
  @include media('>=2'){
    display: flex;
  }
}
.prc__nav{
  display: flex;
  align-items: center;
  margin-left: 24px;
  &:first-child{margin-left: 0}
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  cursor: pointer;
  transition: all .2s;
  &:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.1);
  }
  &.active{
    box-shadow: none;
    background: #e2e1e1;
    cursor: default;
    &:hover{
      transform: translateY(0);
      box-shadow: none;
    }
  }
}
.prc__nav__ic{
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background: url(img/prc-nav-ics.png);
  background: url(img/prc-nav-ics.svg);
  background-size: auto 200%;
  &--2{
    background-position-x: -100%;
  }
  .prc__nav.active &{
    background-position-y: -100%;
  }
}
.prc__nav__txt{
  margin-left: 16px;
  font-weight: 500;
  .prc__nav.active &{
    font-weight: 900;
    color: rgba(#000,.6);
  }
}
.prc__itsw{
}
.prc__its{
  margin-top: 10px;
  @include media('>=2'){
    display: flex;
    margin-top: 20px;
  }
  @include media('>=3'){
    margin-top: 30px;
  }
}
.prc__it{
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  text-align: center;
  cursor: pointer;
  transition: all .2s;
  &:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.1);
  }
  @include media('>=2'){
    margin-left: 20px;
    &:first-child{margin-left: 0}
    border-radius: 10px;
  }
  @include media('>=3'){
    margin-left: 30px;
  }
}
.prc__it__ttl{
  padding: 40px 0 30px;
  border-bottom: 1px solid #dedede;
  font: 300 26px/1 'Gotham Pro', sans-serif;
  text-transform: uppercase;
  .strong{
    font-weight: 900;
  }
  @include media('>=1'){
    font-size: 28px;
  }
  @include media('>=2'){
    font-size: 32px;
  }
  @include media('>=3'){
    font-size: 36px;
  }
}
.prc__it__price{
  display: inline-flex;
  // align-items: center;
  margin-top: 24px;
  @include media('>=1'){
    margin-top: 32px;
  }
  @include media('>=2'){
    margin-top: 44px;
  }
  @include media('>=3'){
    margin-top: 60px;
  }
}
.prc__it__price__val{
  font: 56px/.8 'Gotham Pro', sans-serif;
}
.prc__it__price__unit{
  display: block;
  width: 26px;
  margin-left: 4px;
  .txt{
    display: block;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
  }
  .line{
    display: block;
    width: 100%;
    height: 1px;
    background: $cb;
  }
}
.prc__it__speed{
  margin-top: 20px;
  font-size: 26px;
  @include media('>=2'){
    margin-top: 30px;
  }
}
.prc__it__btw{
  margin-top: 36px;
  padding: 0 20px 20px;
  @include media('>=2'){
    padding: 0 24px 36px;
  }
}
.prc__it__bt{
  @extend %bt;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  .prc__it:hover &{
    background: rgba(#395EDE, 1);
  }
}
.prc__morew{
  margin-top: 20px;
  text-align: center;
  @include media('>=2'){
    margin-top: 28px;
  }
  @include media('>=3'){
    margin-top: 32px;
  }
}
.prc__more{
  // display: inline-flex;
  @extend %bt;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  font-weight: 500;
  color: $c1;
  &:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.1);
    transform: translateY(-4px);
  }
  @include media('>=2'){
    border-right: 10px;
  }
}





