.qq{
  // padding: 40px 0 60px;
  background: #f7f7f7;
  .page--contacts &{
    // margin-top: 30px;
    padding-bottom: 60px;
  }
  @include media('>=2'){
    // padding: 60px 0 100px;
    .page--contacts &{
      // margin-top: 40px;
      padding-bottom: 80px;
    }
  }
  @include media('>=3'){
    // padding: 80px 0 120px;
    .page--contacts &{
      // margin-top: 50px;
      padding-bottom: 120px;
    }
  }
}
.qq--in{
  @extend %bs;
  @extend %in;
  padding: 20px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  @include media('>=1'){
    padding: 30px 20px;
  }
  @include media('>=2'){
    display: flex;
    padding: 50px 40px;
    border-radius: 10px;
  }
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.qq__info{
  flex-shrink: 0;
  font: 900 20px/1 'Gotham Pro', sans-serif;
  text-align: center;
  @include media('>=2'){
    margin-top: 11px;
    font-size: 22px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 24px;
  }
}
.qq__ttl{}
.qq__sttl{
  margin-top: 4px;
  font-weight: 300;
}
.qq__formw{}
.qq__form{
  .form__item{
    margin-top: 10px;
    &--send{
      margin-top: 20px;
    }
  }
  .form__input{
    &--msg{
      height: 130px;
    }
  }
  @include media('>=1'){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form__item{
      &--name,
      &--mail{
        width: 47%;
        width: calc((100% - 20px) / 2);
      }
      &--msg{
        width: 100%;
      }
      &--send{
        width: 180px;
        margin-left: auto;
      }
    }
    .form__input{
      &--msg{
        height: 50px;
      }
    }
  }
  @include media('>=2'){
    margin-left: 40px;
    .form__item{
      &--name,
      &--mail{
        margin-top: 0;
      }
      &--msg{
        // width: 100%;
      }
      &--send{
        // width: 180px;
        // margin-left: auto;
      }
    }
  }
  @include media('>=3'){
    margin-left: 120px;
  }
}





