.req{
  padding: 40px 0 60px;
  background: #f7f7f7;
  @include media('>=2'){
    padding: 60px 0 100px;
  }
  @include media('>=3'){
    padding: 80px 0 120px;
  }
}
.req--in{
  @extend %in;
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.req__ttl{
  font: 900 24px/.9 'Gotham Pro', sans-serif;
  text-align: center;
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}
.req__sttl{
  margin-top: 10px;
  font: 500 16px/1 'Gotham Pro', sans-serif;
  @include media('>=1'){
    font-size: 20px;
  }
  @include media('>=2'){
    margin-top: 20px;
    font-size: 22px;
  }
  @include media('>=3'){
    font-size: 24px;
  }
}
.req__box{
  @extend %bs;
  margin-top: 20px;
  padding: 30px 20px 40px;
  border-radius: 5px;
  background: #fff;
  @include media('>=2'){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    margin-top: 30px;
    padding: 40px 30px 50px;
  }
  @include media('>=3'){
    padding: 40px 40px 60px;
  }
}
.req__its{
}
.req__it{
  margin-top: 12px;
  &:first-child{margin-top: 0}
  @include media('>=1'){
    margin-top: 16px;
  }
  @include media('>=2'){
    display: flex;
  }
}
.req__it__ttl{
  font-weight: 700;
  @include media('>=2'){
    width: 200px;
    font-weight: 500;
  }
  @include media('>=3'){
    width: 220px;
  }
}
.req__it__val{
  margin-top: 4px;
  @include media('>=2'){
    margin-top: 0;
    margin-left: 40px;
    font-weight: 500;
  }
}










