.tvpromo{
  padding: 30px 0;
  background: #f7f7f7;
  @include media('>=2'){
    padding: 40px 0;
  }
  @include media('>=3'){
    padding: 60px 0;
  }
}
.tvpromo--in{
  @extend %in;
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.tvpromo__box{
  @extend %bs;
  padding: 0 16px;
  border-radius: 5px;
  background: #fff;
  @include media('>=2'){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    padding: 0;
  }
}
.tvpromo__info{
  padding: 40px 0 10px;
  @include media('>=2'){
    padding: 50px 0 80px 30px;
  }
  @include media('>=3'){
    padding: 70px 0 120px 80px;
  }
}
.tvpromo__ttl{
  font: 900 24px/.9 'Gotham Pro', sans-serif;
  text-align: center;
  .strong{
    @media screen and (-webkit-min-device-pixel-ratio:0){
      background-image: linear-gradient(90deg, #31369f 0%, #cb0084 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @include media('>=1'){
    font-size: 32px;
    text-align: left;
  }
  @include media('>=2'){
    font-size: 36px;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}
.tvpromo__txt{
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.37;
  @include media('>=1'){
    margin-top: 16px;
    font-size: 16px;
  }
}
.tvpromo__pic{
  flex-shrink: 0;
  align-self: flex-end;
  max-width: 500px;
  width: 200px;
  margin-left: auto;
  @include media('>=2'){
    width: 460px;
    margin: -16px 10px 0 -180px;
  }
  @include media('>=3'){
    width: 500px;
    margin: -24px 16px 0 -130px;
  }
}
.tvpromo__pic__img{
  display: block;
  width: 100%;
}








