.view{
  padding: 40px 0 60px;
  background: #f7f7f7;
  @include media('>=2'){
    padding: 60px 0 100px;
  }
  @include media('>=3'){
    padding: 80px 0 120px;
  }
}
.view--in{
  @extend %in;
  @include media('>=3'){
    width: 980px;
    margin: auto;
  }
}
.view__ttl{
  font: 900 24px/.9 'Gotham Pro', sans-serif;
  text-align: center;
  .strong{
    @media screen and (-webkit-min-device-pixel-ratio:0){
      background-image: linear-gradient(90deg, #31369f 0%, #cb0084 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @include media('>=1'){
    font-size: 32px;
  }
  @include media('>=2'){
    font-size: 36px;
    text-align: left;
  }
  @include media('>=3'){
    font-size: 40px;
  }
  @include media('>=4'){
    font-size: 44px;
  }
}

.view__flex{
  margin-top: 20px;
  @include media('>=2'){
    display: flex;
    margin-top: 30px;
  }
}
.view__col{
  &--1{}
  &--2{
    margin-top: 20px;
  }
  @include media('>=2'){
    &--1{
      width: 100%;
    }
    &--2{
      flex-shrink: 0;
      width: 240px;
      margin-top: 0;
      margin-left: 20px;
    }
  }
}
.view__vidw{
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  overflow: hidden;
  @include media('>=2'){
    border-radius: 10px;
  }
}
.view__vid{
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.view__vid__iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.view__vid__info{
  padding: 20px;
  @include media('>=2'){
    padding: 30px 20px;
  }
}
.view__vid__ttl{
  font: 900 16px/1 'Gotham Pro', sans-serif;
  @include media('>=2'){
    font-size: 18px;
  }
}
.view__map{
  height: 240px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  overflow: hidden;
  @include media('>=2'){
    height: 360px;
    border-radius: 10px;
  }
  @include media('>=3'){
    height: 450px;
  }
}

.view__its{
  margin-top: 20px;
  @include media('>=2'){
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
  }
}
.view__it{
  // @extend %bs;
  width: 100%;
  margin-top: 20px;
  &:first-child{margin-top: 0}
  // padding: 20px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: #fff;
  // text-align: center;
  cursor: pointer;
  // overflow: hidden;
  transition: all .2s;
  &:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.1);
  }
}
.view__it__link{
  display: block;
}
.view__it__pic{}
.view__it__pic__img{
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  @include media('>=2'){
    border-radius: 10px 10px 0 0;
  }
}
.view__it__info{
  padding: 16px 20px 24px;
}
.view__it__ttl{
  font: 900 16px/1 'Gotham Pro', sans-serif;
  @include media('>=2', '<3'){
    font-size: 14px;
  }
}





