doctype html
html#html.js-no
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    title Документы • Твинтел
    link(href="style.css" rel="stylesheet")
    //- favicon
    //- link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
    //- link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    //- link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
    //- link(rel="manifest", href="img/favicon/site.webmanifest")
    //- link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#e31e24")
    //- link(rel="shortcut icon", href="img/favicon/favicon.ico")
    //- meta(name="msapplication-TileColor", content="#ffffff")
    //- meta(name="msapplication-config", content="img/favicon/browserconfig.xml")
    //- meta(name="theme-color", content="#ffffff")
    script.
      document.getElementById('html').classList.remove('js-no')
      document.getElementById('html').classList.add('js')
  body.page.page--docs
    div.page--in
      include pug/_nav.pug
      include pug/_head.pug
      include pug/_docs.pug
      include pug/_bid.pug
      include pug/_pay.pug
      include pug/_foot.pug

    include pug/_modals.pug

    script(src="js.js")
    //- script(src="geo.js")
    script(src="map.js" async)
