#webdebug-reviews-form-data .rating-stars {background:url("images/star.png") left bottom repeat-x; cursor:pointer; height:12px; margin:0; overflow:hidden; padding:0;}
	#webdebug-reviews-form-data .rating-stars-rated {background:url("images/star.png") left top repeat-x; font-size: 10px; height:12px; margin:0; overflow:hidden; padding:0;}

#webdebug-reviews-form-data .webdebug-reviews-add-success {color:green; font-weight:bold; margin-bottom:20px;}
#webdebug-reviews-form-data .webdebug-reviews-add-error {color:red; font-weight:bold; margin-bottom:20px;}
#webdebug-reviews-form-data .webdebug-reviews-add-notice {background:url("images/moderate.png") left top no-repeat; color:#333; font-weight:normal; line-height:16px; margin-bottom:20px; padding-left:22px;}

#webdebug-reviews-form-data .input {}
	#webdebug-reviews-form-data .input .text {width:80%;}
	#webdebug-reviews-form-data .input textarea {resize:vertical;}
	#webdebug-reviews-form-data .input label {display:inline-block; font-size:11px; height:17px; line-height:17px; margin-top:-4px; padding-left:20px; vertical-align:middle;}
		#webdebug-reviews-form-data .input label input {height:17px; line-height:17px; margin:0 6px 0 0; outline:none; padding:0; vertical-align:middle;}
#webdebug-reviews-form-data .space {font-size:0; height:8px; line-height:8px;}
#webdebug-reviews-form-data .req {color:red; position:relative; top:-2px;}
#webdebug-reviews-add-button {cursor:pointer; padding:4px 8px;}
#webdebug-reviews-submit {cursor:pointer; padding:4px 8px;}