.webdebug-reviews-rating-value {background:url("images/star.png") left bottom repeat-x; font-size:0; height:12px; overflow:hidden;}
	.webdebug-reviews-rating-value-stars {background:url("images/star.png") left top repeat-x; font-size:0; height:12px; overflow:hidden;}