/******   Lightbox2   *****/
// body:after {
//   content: url(~/img/_loading.gif);
//   display:none;
// }
.lightboxOverlay{
  // opacity:.8;
  display:none;
  width:100%!important;
  // background:#000;
  background: $modalBg;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:9999;
}
.lightbox {
  position:absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
}
.lightbox a img {
  border: none;
  // border-radius: 10px;
  // @include media('>=2'){
  //   border-radius: 20px;
  // }
}

// .lb-container > .nav{
//  left: 0;
// }

/***** Lightbox navigation arrows *****/
// .lb-nav{
//  width:100%;
//  height:100%;
//  position:absolute;
//  top:0;
//  left:0;
//  z-index:10;
// }
// .lb-nav a{
//   opacity: .5;
//   display: block;
//   // background: red;
//   cursor: pointer;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   transition: all .2s;
//   &:before{
//     content: '';
//     width: 30px;
//     height: 48px;
//     margin: auto;
//     background: url(img/arrow.png);
//     background: url(img/arrow.svg);
//     background-size: auto 100%;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//   }
//   &.lb-prev{
//     width: 35%;
//     left: 0;
//     &:before{
//       left: 20px;
//     }
//   }
//   &.lb-next{
//     width: 65%;
//     right: 0;
//     &:before{
//       transform: rotate(180deg);
//       right: 20px;
//     }
//   }
//   &:hover{
//     opacity: 1;
//   }
//   @include media('>=3'){
//     &:before{
//       width: 40px;
//       height: 64px;
//     }
//   }
//   @include media('>=4'){
//     &:before{
//       width: 50px;
//       height: 80px;
//     }
//   }
// }
.lb__nav{}
.lb__nav__arr{
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: .5;
  transition: all .2s;
  &:before{
    content: '';
    width: 40px;
    height: 40px;
    margin: auto;
    background: url(img/_nav.png);
    background: url(img/_nav.svg);
    background-size: auto 300%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  &--prev{
    width: 35%;
    left: 0;
    &:before{
      left: 10px;
    }
  }
  &--next{
    width: 65%;
    right: 0;
    &:before{
      transform: rotate(180deg);
      right: 10px;
    }
  }
  &:hover{
    opacity: 1;
  }
  @include media('>=2'){
    &:before{
      width: 50px;
      height: 50px;
    }
  }
  @include media('>=3'){
    &:before{
      width: 50px;
      height: 50px;
    }
  }
}
.lb__nav__close{
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background: url(img/_nav.png);
  background: url(img/_nav.svg);
  background-size: auto 300%;
  background-position: -100% 0;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  opacity: .5;
  transition: all .2s;
  &:hover{
    opacity: 1;
    transform: rotate(90deg);
  }
  @include media('>=2'){
    width: 50px;
    height: 50px;
  }
}

.lb-outerContainer{
  @extend %bs;
  width:250px;
  height:250px;
  margin:auto;
  // padding: 5px;
  // border-radius: 10px;
  box-shadow: 0 0 0 5px rgba(#fff, 1);
  background:#fff;
  position:relative;
  overflow: hidden;
  *zoom:1;
  @include media('>=2'){
    // border-radius: 20px;
  }
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-container {
  // padding: 5px;
  // background:#fff;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: url(img/_loading.gif) no-repeat;
  background-size: 39px auto;
  // @media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-resolution:240dpi){
  //   background: url(img/loading@2x.gif);
  //   background-size:39px auto;
  // }
}



.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  display: none;
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  // font-size: 16px;
  // font-weight: bold;
  // line-height: 1em;
  font:16px 'Open Sans',Sans-serif;
  color:#fff;
}

.lb-data .lb-number {
  display: none!important;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}









.lightbox_nav{}
.lightbox_nav_arrow{
  width:25px;
  height:18px;
  margin:auto;
  // background:rgba(red,.5);
  position:absolute;
  // right:20px;
  top:0;
  bottom:0;
  z-index:11;
  transition:all .18s linear;
  &-left{
    left:20px;
  }
  &-right{
    right:20px;
  }
  &_line{
    width:25px;
    height:2px;
    margin:auto;
    background:$lightboxArrow;
    transform:rotate(-45deg);
    transform-origin:50% 50%;
    position:absolute;
    left:0;
    right:0;
    // top:0;
    // bottom:0;
    &-1{
      // top:0;
    }
    &-2{
      transform:rotate(45deg);
      // bottom:0;
    }
    .lightbox_nav_arrow-left &{
      &-1{
        top:0;
      }
      &-2{
        bottom:0;
      }
    }
    .lightbox_nav_arrow-right &{
      &-1{
        bottom:0;
      }
      &-2{
        top:0;
      }
    }
  }
  &:before{
    content:'';
    position:absolute;
    left:-20px;
    right:-20px;
    top:-50px;
    bottom:-50px;
  }
  &:hover{
    color:rgba($lightboxArrow,1);
    // transform:rotate(90deg);
  }
}
// .lightbox_nav_arrow_line{
//  &-1{}
//  &-2{}
// }

// width:25px;
//  height:25px;
//  // background:rgba(red,.5);
//  position:absolute;
//  right:20px;
//  top:20px;
//  z-index:11;
//  transition:all .18s linear;
//  &_line{
//    width:25px;
//    height:1px;
//    margin:auto;
//    background:$brownLight;
//    transform:rotate(45deg);
//    transform-origin:50% 50%;
//    position:absolute;
//    left:0;
//    right:0;
//    top:0;
//    bottom:0;
//    &-2{
//      transform:rotate(-45deg);
//    }
//  }
//  @include media('<480'){
//    right:10px;
//    top:10px;
//    &_line{
//      width:20px;
//    }
//  }
  // @include media('<768'){
  //  right:0;
  //  top:0;
  //  &_line{
  //    width:25px;
  //  }
  // }
  // &:hover{
  //  color:rgba($brownLight,1);
  //  transform:rotate(90deg);
  // }
  // .modal-catalog &{
  //  width:40px;
  //  height:40px;
  //  right:30px;
  //  top:35px;
  //  &_line{
  //    width:40px;
  //  }
  // }




