$borderRadius: 4px;


@mixin gradient($deg, $from, $to){
  background: linear-gradient($deg, $from 0%, $to 100%);
}
@mixin gradientTop($from, $to){
  background: mix($from, $to);
  background: linear-gradient(to bottom, $from 0%, $to 100%);
}
%in{
  margin: 0 16px;
  // margin: 0 10px;
  @include media('>=1'){
    // margin: 0 24px;
    margin: 0 20px;
  }
  @include media('>=2'){}
  @include media('>=3'){}
  @include media('>=4'){
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  // @include media('>=5'){
  //  width: 1400px;
  //  margin: auto;
  // }
  // @include media('>=1440'){
  //  margin:0 32px;
  // }
  // @include media('>=1640'){
  //  max-width:1600px;
  //  margin:auto;
  // }
}
%in4{
  width: 1200px;
  margin: auto;
}
%dv{display:inline-block;vertical-align:top}
%bs{box-sizing:border-box}
%tfix{-webkit-font-smoothing: antialiased;backface-visibility:hidden;transform:translate3d(0,0,0)}
%ttl{
  font-family: 'Axiforma';
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  @include media('>=1'){
    font-size: 28px;
  }
  @include media('>=2'){
    font-size: 36px;
  }
  @include media('>=3'){
    font-size: 44px;
  }
  @include media('>=4'){
    font-size: 54px;
  }
  
  // font-family: 'GothamPro';
  // .s{
  //   font-size: 18px;
  //   font-weight: 300;
  // }
  // .b{
  //   margin-top: 4px;
  //   font-size: 28px;
  //   font-weight: 900;
  //   text-transform: uppercase;
  //   line-height: .9
  // }
  // @include media('>=1'){
  //   .s{
  //     font-size: 18px;
  //   }
  //   .b{
  //     font-size: 36px;
  //   }
  // }
  // @include media('>=2'){
  //   .s{
  //     margin-top: 4px;
  //     font-size: 22px;
  //     .bid--del &{
  //       margin-top: 20px;
  //     }
  //   }
  //   .b{
  //     font-size: 40px;
  //   }
  // }
  // @include media('>=3'){
  //   .s{
  //     margin-top: 8px;
  //     font-size: 26px;
  //     .bid--del &{
  //       margin-top: 30px;
  //     }
  //   }
  //   .b{
  //     font-size: 56px;
  //   }
  // }
}
%bt{
  @extend %dv;
  @extend %bs;
  @extend %tfix;
  padding: 15px 10px;
  border-radius: 6px;
  // box-shadow: 0 2px 4px 0 rgba(#d5d5d5, .5);
  background: $c1;
  font: 500 16px $baseFont;
  color: $cf;
  text-align: center;
  // text-transform: uppercase;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  // transition: padding .2s linear, box-shadow .2s linear, background .2s linear, color .2s linear, transform 0 linear;
  transform-origin: 50% 100%;
  transition: all .2s;
  // &:after{
  //   content:'';
  //   width:100%;
  //   height:100%;
  //   background:linear-gradient(110deg,rgba(#fff,0) 15%,rgba(#fff,.75) 25%, rgba(#fff,0) 35%);
  //   position:absolute;
  //   left:0;
  //   top:0;
  //   z-index:-1;
  //   animation: shine 5s linear infinite;
  // }
  &:hover{
    transform: scale(1.01);
  }
  &:active{
    transform: scale(1);
    transition: none;
  }
  &:before{
    content: '';
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    background: url(img/bt-ic.png);
    background: url(img/bt-ic.svg);
    background-size: auto 200%;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    transform: rotate(-90deg);
  }
  &:hover{
    &:before{
      animation: formSendArrRight 1s linear infinite;
    }
  }
}

@keyframes shine{
  0%{
    opacity:.1;
    transform:translate(-50%,0);
  }
  8%{
    opacity:1;
    transform:translate(35%,0);
  }
  11%{
    opacity:.5;
    transform:translate(55%,0);
  }
  20%{
    transform:translate(120%,0);
  }
  100%{
    opacity:.35;
    transform:translate(120%,0);
  }
}
// @keyframes fastShine{
//   0%{
//     opacity:.1;
//     transform:translate(-50%,0);
//   }
//   16%{
//     opacity:1;
//     transform:translate(35%,0);
//   }
//   22%{
//     opacity:.5;
//     transform:translate(55%,0);
//   }
//   40%{
//     transform:translate(120%,0);
//   }
//   100%{
//     opacity:.35;
//     transform:translate(120%,0);
//   }
// }

@keyframes formSendArrRight{
  0%{
    transform: rotate(-90deg) translate(0, 0);
  }
  30%{
    transform: rotate(-90deg) translate(0, 10px);
  }
  100%{
    transform: rotate(-90deg) translate(0, 0);
  }
}
// @keyframes formSendArrDown{
//   0%{
//     transform: translate(0, 0);
//   }
//   30%{
//     transform: translate(10px, 0);
//   }
//   100%{
//     transform: translate(0, 0);
//   }
// }




