*{margin:0; padding:0; border:0; outline:0; list-style:none}
*::selection{
	background: $selectBg;
	color: $selectColor;
}
*::-moz-selection{
	background: $selectBg;
	color: $selectColor;
}
body{
	// padding-top: 50px;
	// background: #d9e5ea;
	// font: 300 16px $baseFont;
	color: $cb;
	-webkit-text-size-adjust: 100%;
	// исправляем мелькание текста во время css анимаций
	-webkit-font-smoothing: antialiased; // сглаживает шрифт на том же уровне, что уже предоставляется системой

	// -webkit-font-smoothing: none; // отключает сглаживание в Webkit-браузерах.

	// делает жирным (видимо этот по умолчанию)
	// -webkit-font-smoothing: subpixel-antialiased; // сглаживает шрифт на микроуровне для обеспечения максимальной резкости текста, в частности, на экранах с высоким разрешением.
	// @include media('>=2'){
	// 	padding-top: 110px;
	// }
	&>.devWinSize{
		display: flex;
		align-items: center;
	  padding: 4px 10px;
	  border-radius: 10px 0 0 0;
	  background: rgba(#000,.7);
	  font-size: 12px;
	  color: $cf;
	  line-height: 20px;
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  .ic{
	  	display: block;
	  	width: 12px;
	  	height: 12px;
	  	border-radius: 100%;
	  	margin-right: 10px;
	  	&.ic0{background: #e74c3c}
	  	&.ic1{background: #e67e22}
	  	&.ic2{background: #f1c40f}
	  	&.ic3{background: #2ecc71}
	  	&.ic4{background: #3498db}
	  	&.ic5{background: #9b59b6}
	  }
	}
}
// html>.devWinSize{
//   padding: 10px 20px;
//   border-radius: 10px 10px 0 10px;
//   color: $cf;
//   position: absolute;
//   right: 0;
//   bottom: 0;
// }
.page--in{
	overflow: hidden;
}
a{
	display: inline-block;
	color: inherit;
	text-decoration: none
}
button{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
}
.nobr{
	white-space: nowrap;
}
.dn{
	display: none;
}
h1, h2, h3{
	font-size: inherit;
	font-weight: inherit;
}




