// base colors
$cf: #fff;
$cfl: #97ADCA;

$cb: #1F1F1F;
$cbl: #485465;

$c1: #2A449C;
$c1l: #C8CFD9;
$c2: #FBB040;


$ct1: #093170;
$ct2: #fbb040;

$c3: #e31e24;
$c2L: #66f6b7;



$cRed: #fb1c46;
$cCoral: #e74c3c;
$cCoral: #ff5757;
// $cBlue: #009ddc;
// $cBlueDark: #01457c;



$selectBg: $c1;
$selectColor: #fff;

$modalClose: $cb;
$modalCloseHover: $cRed;
$modalBg: rgba(#000,.7);

$lightboxArrow: $cb;

// $placeholder: rgba($cBase,1);
$placeholder: rgba(#9c9c9c, 1);
$inputColor: #4e5b64;
$inputBorderNormalColor: rgba(#ebebeb,1);
$inputBorderActiveColor: rgba($c1,1);
$inputBorderErrorColor: $cCoral;
$inputBorder: 2px;