// .form .error,
// form .error{
// 	@extend %bs;
// 	// display:none;
// 	// width:200px;
// 	width:100%;
// 	margin:auto;
// 	padding:8px 10px;
// 	border-radius:$borderRadius;
// 	background:$inputBorderErrorColor;
// 	box-shadow:0 1px 6px 0 rgba(0,0,0,.45);
// 	font-size:14px;
// 	// font-weight:300;
// 	color:#fff;
// 	text-align:center;
// 	white-space:pre;
// 	position:absolute;
// 	left:0;right:0;
// 	top:-41px;
// 	z-index:3;
// 	&:before{
// 		content:'';
// 		width:0;
// 		height:0;
// 		margin:auto;
// 		border-left:7px solid transparent;
// 		border-top:7px solid $inputBorderErrorColor;
// 		border-right:7px solid transparent;
// 		position:absolute;
// 		bottom:-7px;
// 		left:0;
// 		right:0;
// 		z-index:1
// 	}
// }