input,textarea,select{
  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;
  appearance:none;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:$placeholder;-webkit-transition:color .2s ease-in-out}
input:-moz-placeholder,textarea:-moz-placeholder{color:$placeholder;opacity:1;-moz-transition:color .2s ease-in-out}
input::-moz-placeholder,textarea::-moz-placeholder{color:$placeholder;opacity:1;-moz-transition:color .2s ease-in-out}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:$placeholder;-ms-transition:color .2s ease-in-out}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{color:transparent!important}input:focus:-moz-placeholder,textarea:focus:-moz-placeholder{color:transparent!important}input:focus::-moz-placeholder,textarea:focus::-moz-placeholder{color:transparent!important}input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder{color:transparent!important}

.form{
  position:relative;
  .error{
    @extend %bs;
    max-width: 300px;
    margin: auto;
    padding: 5px;
    border-radius: 3px;
    background: $cCoral;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -36px;
    left: 16px;
    right: 16px;
    z-index: 2;
    &:before{
      content: '';
      width: 0;
      height: 0;
      margin: auto;
      border-top: 5px solid $cCoral;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
    }
  }
}
.form__item{
  @extend %bs;
  // margin-top:20px;
  &:first-child{margin-top:0}
  position:relative;
  &--send{
    // margin-top: 20px;
    text-align: center;
  }
  @include media('>=2'){
    // margin-top: 24px;
  }
  // @include media('>=2'){
  //  .form.flex &{
  //    margin-top:0;
  //    margin-left:10px;
  //    &:first-child{margin-left:0}
  //  }
  // }
  // @include media('>=2'){
  //   &--send{
  //     margin-top: 0;
  //     margin-left: 16px;
  //     text-align:center;
  //   }
  // }
}
.form .form__label{
  cursor:pointer;
  &--text{
    display:block;
    font-size:12px;
    line-height:20px;
    text-transform:uppercase;
  }
  &--icon{
    width:20px;
    height:20px;
    margin:auto;
    // background:url(img/form-icons.png);
    // background:url(img/form-icons.svg);
    background-size:auto 200%;
    position:absolute;
    top:0;
    // left:10px;
    right:16px;
    bottom:0;
    // &-tel{background-position:-100% 0}
    // &-mail{background-position:-200% 0}
    z-index:1;
    // opacity:.5;
  }
}
.form .form__input{
  @extend %bs;
  @extend %dv;
  display: block;
  width: 100%;
  // height: 50px;
  // padding: 15px 20px;
  padding: 15px 8px;
  // border-radius: 6px;
  border-bottom: 1px solid rgba(#979797, 1);
  // box-shadow: inset 0 0 0 1px rgba($inputBorderNormalColor, 1), inset 0 0 0 $inputBorder rgba($inputBorderActiveColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderErrorColor, 0);
  background: rgba(#fff,1);
  font: 16px/20px $baseFont;
  color: #9c9c9c;
  color: $inputColor;
  text-align: left;
  // text-transform: uppercase;
  transition: all .25s linear;
  &.error, &.invalid{
    border-bottom: 1px solid rgba($inputBorderErrorColor, 1);
    // box-shadow: inset 0 0 0 1px rgba($inputBorderNormalColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderActiveColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderErrorColor, 1);
  }
  &:focus{
    border-bottom: 1px solid rgba($c1, 1);
    // box-shadow: inset 0 0 0 1px rgba($inputBorderNormalColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderActiveColor, 1), inset 0 0 0 $inputBorder rgba($inputBorderErrorColor, 0);
  }
}
.form .form__select{
  @extend %bs;
  @extend %dv;
  display: block;
  width: 100%;
  padding: 15px 20px;
  border-radius: 0px;
  box-shadow: inset 0 0 0 1px rgba($inputBorderNormalColor, 1), inset 0 0 0 $inputBorder rgba($inputBorderActiveColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderErrorColor, 0);
  background: rgba(#fff,0);
  font: 14px/20px $baseFont;
  color: $inputColor;
  text-align: left;
  transition: all .25s linear;
  position: relative;
  z-index: 2;
  // .form__item.invalid &{
  //   box-shadow: inset 0 0 0 1px rgba($inputBorderNormalColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderActiveColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderErrorColor, 1);
  // }
  &.error, &.invalid{
    box-shadow: inset 0 0 0 1px rgba($inputBorderNormalColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderActiveColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderErrorColor, 1);
  }
  &:focus{
    box-shadow: inset 0 0 0 1px rgba($inputBorderNormalColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderActiveColor, 1), inset 0 0 0 $inputBorder rgba($inputBorderErrorColor, 0);
  }
}
// & .form__item.invalid .form__select{
//   box-shadow: inset 0 0 0 1px rgba($inputBorderNormalColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderActiveColor, 0), inset 0 0 0 $inputBorder rgba($inputBorderErrorColor, 1);
// }
.form__label--selectw{
  display: block;
  position: relative;
  &:before{
    content: '';
    width: 20px;
    height: 20px;
    margin: auto;
    background: url(img/form-select-ic.png);
    background: url(img/form-select-ic.svg);
    background-size: auto 100%;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    &:before{
      display: none;
    }
  }
  @media \0screen\,screen\9{
    &:before{
      display: none;
    }
  }
  @media screen\0{
    &:before{
      display: none;
    }
  }
}
.form__send{
  @extend %bt;
  width: 100%;
  padding: 15px 10px;
  // font-size: 14px;
  .form.noTerm &{
    background: #b8b8b8;
    background: repeating-linear-gradient(
      -45deg,
      #b8b8b8,
      #b8b8b8 10px,
      #b0b0b0 10px,
      #b0b0b0 20px
    );
    opacity: .8;
  }
  .form__send__loading{
    display: none;
    width: 44px;
    height: 44px;
    margin: auto;
    background: url(img/loading.svg);
    background-size: auto 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.sending{
    .form__send__loading{
      display: block;
    }
    .form__send__text{
      opacity: 0;
    }
  }
  // @include media('>=1'){
  //   font-size: 16px;
  // }
}

.form textarea.form__input{
  resize: none;
}

// .form_select{
//  @extend %bs;
//  @extend %dv;
//  display:block;
//  width:100%;
//  padding:12px 10px;
//  border-radius:3px;
//  box-shadow:inset 0 0 0 1px rgba(#000,.15),inset 0 0 0 2px rgba($blue,0),inset 0 0 0 2px rgba($red,0);
//  background:rgba(#fff,1);
//  font:14px/20px 'Museo Sans',sans-serif;
//  color:rgba($base,.6);
//  text-align:left;
//  transition:all .2s linear;
//  &:focus{
//    box-shadow:inset 0 0 0 1px rgba(#000,0),inset 0 0 0 2px rgba($blue,1),inset 0 0 0 2px rgba($red,0);
//  }
// }



.form__term{
  display: flex;
  // justify-content: center;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
  user-select: none;
  @include media('>=2'){
    margin-top: 16px;
  }
}
.form__term__ic{
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  // margin: 4px 10px 0 0;
  margin-right: 10px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #ddd;
  // box-shadow: 0 4px 12px 0 rgba(#000,.2), 0 0 0 2px rgba($cCoral, 0);
  // background: #fff;
  // background: $c2;
  position: relative;
  &:before{
    content: '';
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background: url(img/_check.png);
    background: url(img/_check.svg);
    background-size: auto 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .2s;
  }
  .form.noTerm &:before{
    opacity: 0;
  }
  .form.noTerm.noTermOnClick &{
    box-shadow: 0 4px 12px 0 rgba(#000,.2), 0 0 0 2px rgba($cCoral, 1);
    // opacity: 0;
  }
  @include media('>=2'){
    // margin-top: 5px;
    // margin-top: -2px;
  }
}
.form__term__txt{
  font-size: 12px;
  @include media('>=3'){
    font-size: 14px;
  }
}
.form__term__link{
  display: inline;
  border-bottom: 1px dotted $c2;
  // color: #009ddc;
  color: $c2;
  // text-decoration: underline;
  transition: all .2s;
  &:hover{
    border-bottom: 1px dotted rgba($c2, 0);
    // color: #fff;
    // text-decoration: none;
  }
}





