/* ADMIN MENU */
#global_menu_sma .adm-main-menu-item-icon {
    height: 48px;
    background: rgba(0, 0, 0, 0) url("../../images/sma.city/global.png") no-repeat scroll 21px 12px;
    opacity: 1;
}

#global_menu_sma.adm-main-menu-item-active .adm-main-menu-item-icon, #global_menu_sma:hover .adm-main-menu-item-icon {
    background: rgba(0, 0, 0, 0) url("../../images/sma.city/global_active.png") no-repeat scroll 21px 12px;
}

#global_menu_sma .adm-main-menu-item-text {
    line-height: 11px;
}

#global_submenu_sma .imi_next {
    background: rgba(0, 0, 0, 0) url("../../images/sma.city/menu.png") no-repeat scroll -184px 3px;
}

#global_submenu_sma .imi_control_center {
    background: rgba(0, 0, 0, 0) url("../../images/sma.city/menu.png") no-repeat scroll 8px 3px;
}

#global_submenu_sma .imi_typography {
    background: rgba(0, 0, 0, 0) url("../../images/sma.city/menu.png") no-repeat scroll -23px 3px;
}

#global_submenu_sma .imi_pages {
    background: rgba(0, 0, 0, 0) url("../../images/sma.city/menu.png") no-repeat scroll -55px 3px;
}

#global_submenu_sma .imi_contacts {
    background: rgba(0, 0, 0, 0) url("../../images/sma.city/menu.png") no-repeat scroll -151px 4px;
}

#global_submenu_sma .imi_sale {
    background: rgba(0, 0, 0, 0) url("../../images/sma.city/menu.png") no-repeat scroll -119px 4px;
}

#global_submenu_sma .imi_marketing {
    background: rgba(0, 0, 0, 0) url("../../images/sma.city/menu.png") no-repeat scroll -87px 3px;
}