// .modal--success{
// 	&.active{
// 		background:rgba($modalBg,.85);
// 	}
// }
// .modal--success .modal--in{
// 	width:100%;
// 	max-width:560px;
// 	padding:30px 0;
// 	margin:auto;
// 	@include media('>=480'){
// 		// width:100%;
// 		margin:0 20px;
// 		border-radius:6px;
// 		box-shadow:0 0 25px 0 rgba($modalBg,.35);
// 	}
// 	@include media('>=768'){
// 		padding:40px 0;
// 	}
// }
// .modal--success__title{
// 	@extend %h2;
// 	margin:0 10px;
// 	text-align:center;
// 	position:relative;
// 	transition:all .2s linear;
// }
// .modal--success__icon{
// 	width:90px;
// 	height:90px;
// 	margin:30px auto;
// 	background:url(img/modal-success-icons.png);
// 	background:url(img/modal-success-icons.svg);
// 	background-size:auto 200%;
// 	&.yes{background-position:0 -100%}
// 	@include media('>=768'){
// 		width:110px;
// 		height:110px;
// 	}
// }
// .modal--success__subtitle{
// 	margin:0 10px;
// 	color:#7d7d7d;
// 	@include media('>=480'){
// 		margin-top:15px;
// 		font-size:18px;
// 	}
// }