.modals{
	position:absolute;
	z-index:100;
}
.modal{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	box-sizing:border-box;
	position:fixed;
	left:-9999px;
	top:0;
	z-index:-9999;
	transition:left 0 linear .18s,z-index 0 linear .18s,background .18s linear;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing:antialiased;
	&.active{
		display:flex;
		left:0;
		z-index:100;
		transition:left 0 linear 0,z-index 0 linear 0,background .18s linear;
	}
}
.modal--in{
	@extend %bs;
	// width:300px;
	background:#fff;
	// font-size:20px;
	// text-align:center;
	overflow:hidden;
	position:relative;
	z-index:2;
	opacity:0;
	transform:translate(0,-70px);
	transition:opacity .18s linear,transform .18s linear;
	.modal.active &{
		opacity:1;
		transform:translate(0,0);
	}
	&--scroll{
		// max-height:90%;
		overflow:auto;
	}
}
