.modal__close{
	width: 20px;
	height: 20px;
	background: url(~/img/modal-close.png);
	background: url(~/img/modal-close.svg);
	background-size: auto 200%;
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 11;
	cursor: pointer;
	transition: transform .25s linear;
	.modal--timetable &{
		top: -36px;
		background-position-x: -100%;
	}
	#lightbox &{
		top: 10px;
		right: 10px;
	}
	&:hover{
		background-position-y: -100%;
		// transform: rotate(90deg);
	}
	@include media('>=1'){
		width: 30px;
		height: 30px;
		.modal--timetable &{
			top: -46px;
		}
	}
	@include media('>=2'){
		width: 40px;
		height: 40px;
		.modal--timetable &{
			top: -56px;
			right: 0;
		}
	}
}





// .modal__close,.modal__close--lightbox{
// 	width:25px;
// 	height:25px;
// 	// background:rgba(red,.5);
// 	position:absolute;
// 	right:15px;
// 	top:15px;
// 	z-index:11;
// 	cursor:pointer;
// 	transition:all .18s linear;
// 	&__line{
// 		width:25px;
// 		height:3px;
// 		margin:auto;
// 		border-radius:3px;
// 		background:$modalClose;
// 		transform:rotate(45deg);
// 		transform-origin:50% 50%;
// 		position:absolute;
// 		left:0;
// 		right:0;
// 		top:0;
// 		bottom:0;
// 		transition:all .18s linear;
// 		&--2{
// 			transform:rotate(-45deg);
// 		}
// 	}
// 	#lightbox &{
// 		right:10px;
// 		top:10px;
// 	}
// 	&:hover{
// 		transform:rotate(90deg);
// 		& .modal__close__line{
// 			background:$modalCloseHover;
// 		}
// 	}
// }