@font-face {
	font-family: 'Bahnschrift';
	src: url('/bitrix/templates/tvintel/fonts/Bahnschrift.eot');
	src: url('/bitrix/templates/tvintel/fonts/Bahnschrift.eot?#iefix') format('embedded-opentype'),
	url('/bitrix/templates/tvintel/fonts/Bahnschrift.woff2') format('woff2'),
	url('/bitrix/templates/tvintel/fonts/Bahnschrift.woff') format('woff'),
	url('/bitrix/templates/tvintel/fonts/Bahnschrift.ttf') format('truetype'),
	url('/bitrix/templates/tvintel/fonts/Bahnschrift.svg#Bahnschrift') format('svg');
	font-weight: normal;
	font-style: normal;
}



html{
	font-size: 10px;
}
body{
	background: #fff;
	font-family: 'Bahnschrift';
}
button:focus {
	outline: 0;
}
.header-two{
background: #fff;

}
a, button{
	cursor: pointer;
	text-decoration: none;
	border: none;
	outline: none;
}
a:hover, button:hover{
	cursor: pointer;
	text-decoration: none;
}
.modal-header {
	justify-content: center;
	border-bottom: none;

}

.errortext{
		visibility: hidden;
		color: #bf0000;
		margin: 0;
		text-align: center;
}
.fixed-top {

    z-index: 30;
}
.modal-title{

	font-size: 2.1rem;
}
.fanks{
text-align: center;
    font-size: 3rem;
    padding-top: 50%;
}
.overley{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
    background: #0e0c0c8a;
}
.error {
    border-bottom: 1px solid red!important;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    position: absolute;
    top: 7px;
    right: 20px;
    z-index: 99999999999999;
    font-size: 35px;
    color: #284895;
    opacity: 1;
}
.rekviziti td{
    font-size: 1.6rem;
 text-align: center;
    padding: 1rem;
    min-width: 229px;
}
.page td, .page th{

    border: 1px solid #c39900;
}
.rekviziti table {
        width: 100%;
}
.vakansii td, .vakansii th{
    font-size: 1.4rem;
    padding: 0.5rem 1.7rem;
}
.close:focus, .close:hover {
	color: #003ccc;
	text-decoration: none;
	opacity: .75;
	border: none;
	outline: none;
}
.modal-body label {

	font-size: 2rem;
}
.message {
    text-align: center;
    font-size: 1.5rem;
    color: red;
}
.modal-body  .form-check-label {
	padding-top: 6px;
	font-size: 1.4rem;
	padding-left: 16px;
}
.section-akcii h3{
font-size: 2.4rem;
    padding-bottom: 2rem;
padding-top: 2rem;
}
.btn-primary {
	color: #fff;
	border-radius: 10px;
	background-color: #284895;
	width: 225px;
	height: 49px;
	font-size: 2rem;
}
.modal-body input[type=checkbox], .modal-body input[type=radio] {
	box-sizing: border-box;
	padding: 0;
	width: 25px;
	height: 25px;
	border: 1px solid #284895;
}
.bx-system-auth-form p{
    text-align: center;
    font-size: 3rem;
}
.modal-body .form-control {
	display: block;
	width: 100%;
	padding: 1.3rem .75rem;
	font-size: 2rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #284895;
	border-radius: 10px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal-content {
	border-radius: 10px;
	padding: 0 2rem;
}
.pagenews {
    margin-top: 10rem;
}
.modal-content {

	border: 1px solid #2b4796;

	padding: 0 2rem;
	box-shadow: 0 0 16px 16px rgba(155, 153, 153, 0.49);
}
.news-detail p{
    font-size: 1.6rem;
}
.icon{

}
.modern-page-navigation span {
    color: #5d5d5d!important;

}
.modern-page-navigation a{
color: #e6087f;
    font-size: 2rem;
    font-weight: 600;
}
.wraper-header-link-right{
	text-align: right;
}
.tel{
	color: #dd1d97;
	font-size: 2.5rem;
}
 .header-two{
	box-shadow: 0px 19px 53.1px 5.9px rgba(103, 103, 103, 0.16);

}
.page{
	padding:5rem 0;
    margin-top: 10rem;
}
.text p{

	font-size: 1.8rem;
}
.user-auth {
    color: #040101;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 45px;
}
.user-auth:after {
	content: "";
	background: url(/bitrix/templates/tvintel/img/user.png) center center no-repeat;
	    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    width: 38px;
    height: 36px;
    z-index: 5;
    display: inline-block;
    border-radius: 10px;
    border-width: 3px;
    border-color: #e6087f;
    border-style: solid;
}
.dropdown-menu-user p{

height: 1rem;
    font-size: 1.8rem;
    display: inline;
    margin-bottom: 0;
}
span.adress-user{
font-size: 1.6rem;
    margin-bottom: 0.5rem;
    display: block;
    margin-left: 0.5rem;
}
.dropdown-menu-user li{
     line-height: 1;
    height: auto;
    list-style: none;
    padding: 0.2rem 0;
}
.dropdown-menu-user span{
position: relative;
}
.dropdown-menu-user li span{
	    float: right;
    margin-left: 0.5rem;
    padding: 0.35rem 1rem;
    line-height: 0.8rem;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    min-width: 56px;
    text-align: right;
    text-transform: uppercase;
}
.dropdown-menu-user li:nth-child(1) span{
	background:#274494;
}
.dropdown-menu-user li:nth-child(2) span{
	background:#c2d83c;
}
.dropdown-menu-user li:nth-child(3) span{
	background:#f88416;
}
.dropdown-menu-user li:nth-child(4) span{
	background:#d40388;
}
.dropdown-menu-user ul{
	    padding-left: 1rem;
	        margin-bottom: 0;
}
.dropdown-menu-user li:nth-child(1) span:after{
	content: "";
    background: url(/bitrix/templates/tvintel/img/rub-w.png) center center no-repeat;
    transform: translateY(-50%);
    position: absolute;
     top: 50%;
    right: -1px;
    width: 15px;
    height: 20px;
    z-index: 5;
    display: inline-block;
    background-size: 39%;
}
.dropdown-menu-user li:nth-child(4) span:after{
	content: "";
    background: url(/bitrix/templates/tvintel/img/rub-w.png) center center no-repeat;
    transform: translateY(-50%);
    position: absolute;
     top: 50%;
    right: -1px;
    width: 15px;
    height: 20px;
    z-index: 5;
    display: inline-block;
    background-size: 39%;
}
.user-wraper .dropdown-menu {
	    width: 272px;
	line-height: 1;
	    height: auto;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    float: left;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 10px;
    border-width: 3px;
    border-color: #e6087f;
    border-style: solid;
    background-color: #ffffff;
   
}
.list-group-item:not(:first-child):hover {
	z-index: 2;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	background: -webkit-linear-gradient(176deg, #016cff 0%, #de40ff 100%);
	background: -moz-linear-gradient(176deg, #016cff 0%, #de40ff 100%);
	background: -o-linear-gradient(176deg, #016cff 0%, #de40ff 100%);
	background: -ms-linear-gradient(176deg, #016cff 0%, #de40ff 100%);
	background: linear-gradient(-86deg, #016cff 0%, #de40ff 100%);
}

.list-group-item.active a{
	color: #fff;
	font-size: 2rem;
}
.list-group-item a{
	color: #000;
	font-size: 2rem;
}
.list-group-item p{
	color: #000;
	font-size: 2rem;
	color:  #284299;
}
.small a{
	font-size: 1.5rem;
	line-height: 1;
}
.list-group-item:first-child {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.list-group-item:last-child {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
.list-group-item {
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	margin-bottom: -1px;
	background-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,.125);
	border-top: 1px solid rgba(0,0,0,.125);
	border-left: none;
	border-right: none;
}
.list-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	border-top: 1px solid #016cff;
	border-bottom: 1px solid #de40ff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 1px 100%;
	-moz-background-size: 1px 100%;
	background-size: 1px 100%;
	background-image: -webkit-linear-gradient(top, #016cff 0%, #de40ff 100%), -webkit-linear-gradient(top, #016cff 0%, #de40ff 100%);
	background-image: -moz-linear-gradient(top, #016cff 0%, #de40ff 100%), -moz-linear-gradient(top, #016cff 0%, #de40ff 100%);
	background-image: -o-linear-gradient(top, #016cff 0%, #de40ff 100%), -o-linear-gradient(top, #016cff 0%, #de40ff 100%);
	background-image: linear-gradient(to bottom, #016cff 0%, #de40ff 100%), linear-gradient(to bottom, #016cff 0%, #de40ff 100%);
	border-radius: 10px;
}
.page h3{
	font-size: 2.4rem;
padding-bottom: 2rem;
}
.page h2{
	color:  #000000;
	font-size: 4.5rem;
	padding-bottom: 2rem;	

}
div.modern-page-navigation {
    padding: .5em 2rem;
}
.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 10px;
	border-width: 1px;
	border-color: #d1d1d1;
	border-style: solid;
	background-color: #ffffff;
	box-shadow: 0px 0px 12.22px 0.78px rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
}
.card-header {
	background: #fff;
	border-radius: 10px;
}
.card-header:first-child {
	border-radius: 10px;
}
.accordion .card:not(:first-of-type) .card-header:first-child {
	border-radius: 10px;
}
.accordion .card:not(:first-of-type):not(:last-of-type) {
	border-bottom: 0;
	border-radius: 10px;
}
.accordion .card:last-of-type {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.accordion .card:first-of-type {
	border-bottom: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.btn-link {
	font-weight: 400;
	color: #007bff;
	background-color: transparent;
	color: #000000;
	font-size: 1.8rem;
}
.btn-link:hover {
	color: #000;
	text-decoration: underline;
	background-color: transparent;
	border-color: transparent;
	text-decoration: none;
}
.card-header {
	padding: 0 1.25rem;
}
.card-body {

	font-size: 1.5rem;
}
.tel img{
	margin-right: 1.3rem;
}
.camera{
	margin-left: 1rem;
}
.adress, .speed, .camera{
	color:  #262627;
	font-size: 1.7rem;
	font-weight: 400;
}
.adress:before {
	content: "";
	display: block;
	background: url("/bitrix/templates/tvintel/img/geo.png") no-repeat;
	width: 14px;
	height: 18px;
	float: left;
	margin: 4px 6px 0 0;
}
.speed:before {
	content: "";
	display: block;
	background: url("/bitrix/templates/tvintel/img/speed.png") no-repeat;
	width: 18px;
	height: 18px;
	float: left;
	margin: 4px 6px 0 0;
}
.camera:before {
	content: "";
	display: block;
	background: url("/bitrix/templates/tvintel/img/camera.png") no-repeat;
	width: 18px;
	height: 18px;
	float: left;
	margin: 4px 6px 0 0;
}

.wraper-header-link{
	display:inline-block;
}
.header-one{
	background-color:  #edebeb;
	height: 2.7rem;
}
.adress, .camera, .speed{
	display: inline-block;
	height: 2.7rem;
	line-height: 2.7rem;
}
.user{
	font-family: Bahnschrift;
	color: #e6087f;
	font-size: 2.0rem;
	border: 3px solid #e6087f;
	border-radius: 1rem;
	padding: 1rem 1rem;
}
.main{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(/bitrix/templates/tvintel/img/main.jpg);
	/*height:832px;*/
height:794px;
	position: relative;
}
.user-wraper, .cerebro-wraper{
	text-align: right;
}

.header-two-item{
	height: 10rem;
	line-height: 10rem;
    position: relative;
}
.wraper-logo-link{
		position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: end;
	}
.main-title{
	padding-top: 17rem;
}
.main-title span{
	/*шрифт*/
	color: #ffffff;
	font-size: 8rem;
	line-height: 1;
	font-weight: inherit;
}
.main-title p{
	color: #ffffff;
	font-size: 15rem;
	line-height: 1;
}
.main-link{
	position:relative;
}
.wraper-main-link{
	padding-top: 17rem;
}
.main-link:hover:after{
	opacity:0.5;
}
.main-link:after{
	transition: all 800ms ease;
	content: "";
	opacity:1;
	background: url(/bitrix/templates/tvintel/img/main-fon.png) center center no-repeat;
	
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 5;
	display: block;

}
.main-link span{
	font-family: Bahnschrift;
	color:  #ffffff;
	font-size: 5rem;
	font-weight: 400;
	line-height: 5rem;
	text-align: left;
	position:absolute;
	bottom:1.9rem;
	left:1rem;
	width: 75px;
	z-index: 6;
}
.news{
	padding:5rem 0 8rem 0;
}
.news h3{
	color:  #272727;
	font-size: 2rem;
	line-height: 2.2rem;
}
.news-block-text{
	padding: 1.7rem 1.5rem;
}
.news-block img{width:100%;}
.news-block{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color:  #c5c5c5;
	margin: 3rem;
}
.news-block:hover{
	box-shadow: 0px 0px 51px 0px rgba(103, 103, 103, 0.42);

}
.news span{
	color:  #e6087f;
	font-size: 2rem;
	font-weight: 600;
}
.news p{
	padding-top: 1.3rem;
	padding-bottom: 1.5rem;
	color: #5b5a5b;
	font-size: 2rem;
	line-height: 2.5rem;
}
.news h2{
	color:  #000000;
	font-size: 4.5rem;
	padding-bottom: 0;	
	padding-left: 3rem;
}
.more{
	border-radius: 10px;
	background-color: #2b4796;
	color: #ffffff;
	font-size: 2.5rem;
	padding: 1rem 1.95rem;

}
.more:hover {
	color: #fff;
	background-color: #2a4fb7;

}
.arrov{
	top:50%;
	transform: translateY(-50%);
	position:absolute;
	z-index: 99;
	width: 2.2rem;
	height: 4.3rem;
	border:none;

}
.prev{
	left:-6rem;
	background-size: 70%;
	background: url(/bitrix/templates/tvintel/img/prev.svg) center no-repeat;
}
.arrov-wraper{
	border-radius: 50%;
	background-color:  #ffffff;
	box-shadow: 0px 0px 23.22px 3.78px rgba(103, 103, 103, 0.31);
	width: 50px;
	height: 50px;
}
.next{
	right:-6rem;
	background-size: 70%;
	background: url(/bitrix/templates/tvintel/img/next.svg) center no-repeat;
}
.dropdown-menu-user::before {
        content: '';
    position: absolute;
    right: 5px;
    top: -23px;
    border: 10px solid transparent;
    border-bottom: 10px solid #e6087f;
   }
.dropdown-menu-user{
top: 21px!important;
left: 44px!important;
}
.calc .prev{

	background: #fff;;
}
.calc .next{

	background: #fff;;
}
.calc{
	padding:6rem 0 0 0;
margin-top: 10rem;
}
.calc .nav-item a{
	color: #000000;
	font-size: 2.3rem;
	line-height: 1;
}
.calc .nav-pills .nav-link.active, .calc .nav-pills .show>.nav-link {
	color: #000;
	background-color: transparent;
	border-bottom: 2px solid #c4d92c;
	border-radius: 0;
}
.price-rub{
	text-align: center;
}
.price-sum{
	color: #f68c1f;
	font-size: 3.813rem;
	line-height: 1;
	text-align: center;
}
.calc .nav-link {
	margin: 0 1.9rem;
	padding: 0
}
.tv-block:hover{
	border-color:  #fff;
	box-shadow: 0px 0px 53.1px 5.9px rgba(103, 103, 103, 0.16);

}

.tv-block{
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color:  #ccc;
	background-color:  #ffffff;
	padding: 2rem;
	margin: 4rem;
	min-height: 585px;
}
hr {
	margin-top: 2rem;
	margin-bottom: 2rem;

}
.tv-block-title{
	font-size: 2.4rem;
	line-height: 2.4rem;
}
.tv-block-des{
	font-size: 1.85rem;	
}
.opcii{
	font-size: 1.4rem;
}
.opcii span{
	color: #7f7f7f;
}
.price-sum span{
	font-size: 6rem;
}
.price-rub span{
	font-size: 1.5rem;
	color: #f68c1f;
}
.tv-footer-info p{
	font-size: 1.4rem;
	margin-bottom: 0;
	color: #7f7f7f;
}
.video-wraper{
		box-shadow: 0px 0px 51px 0px rgba(103, 103, 103, 0.42);
		margin-bottom: 2rem;
		background: #000;
		border-radius: 10px;
		width: 100%;
		height: 21rem;
		position: relative;
	}
	.video-wraper-big{
		height: 44rem;
	}
	.video-wraper p{
		color: #fff;
		font-size: 1.6rem;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		text-align: center;
	}
	.video-play{
		background: url(/bitrix/templates/tvintel/img/video.png) no-repeat;
		background-size: contain;
		width: 11.9rem;
		height: 11.6rem;
		background-position: center, center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto;
		cursor: pointer;
	}
.tv-footer-info{
	padding-top: 4rem;
}
.button-center{
	text-align: center;
	padding-top:1rem;
}
.price-rub img{
	margin: 0 auto;
}
.tv-block .form-group  {
	padding-top: 2rem;
}
.tv-block-text{
	font-size: 1.4rem;
}
.tv-block .form-control {
	border-top:  none;
	border-left:  none;
	border-right: none;
	border-bottom: 1px solid #ced4da;
	border-radius: 0;
	padding: .375rem .75rem 0 .75rem;

}
.tv-slider .next {
	right: 20%;
}
.tv-slider .prev {
	left: 20%;
}
.tv-block .form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: none;
	border-radius: 0;

}
.tv-block .form-check-label{
	line-height: 2;
	padding-left: 1rem;
}
footer{
	background-color:  #3a1564;
	color:#fff;
	height:10rem;

}
footer span{
	font-size: 2rem;
	line-height: 1;
}
@media (max-width: 1777px) {
	.tv-slider .next {
		right: 2%;
	}
	.tv-slider .prev {
		left: 2%;
	}
}
@media (max-width: 1250px) {
.news-block {

    margin: 1rem;
}
	.main-title {
		padding-top: 6rem;
	}
	.main {
		height: 663px;
    margin-top: 100px;
	}
	.main-title p {
		font-size: 13rem;
	}
	.next {
		right: -1rem;
	}
	.prev {
		left: -1rem;
	}
	.news h2 {
		padding-bottom: 2rem;
	}
}
@media (max-width: 991px) {
.tv-block {

    margin: 1rem;

}
.rekviziti table {
    margin: 1rem 0;
}
.rekviziti td {

    min-width: 50px;
}
	.list-group-item a {
		color: #000;
		font-size: 1.8rem;
	}
	.calc .nav-link {
		margin: 0 1rem;
		
	}
	.main-link span {
		font-size: 4rem;
	}
	.main {
		height: 587px;
	}
	.main-title p {
		font-size: 9rem;
	}

}

@media (max-width: 767px) {
.section-akcii h3 {
    font-size: 2.4rem;
    padding-bottom: 0;
    text-align: center;
    padding-top: 2rem;
}
.dropdown-menu-user li {
    margin-bottom: 0.5rem;
}
.dropdown-menu-user li span {
    min-width: 90px;
    line-height: 1.4rem;
    font-size: 1.2rem;
    padding: 0.4rem 1.3rem;
}

.tv-block {

    min-height: 464px;
}

	.calc .nav-item a {
		font-size: 2rem;

	}
	html {
		font-size: 8px;
	}

	.news {
		padding: 5rem 0 3rem 0;
	}
	.main-title {
		padding-top: 2rem;
	}
	.main-link span {
		width: 100%;
text-align: center;
	}
	.main-link {
		margin-bottom: 2rem;
	}
	.wraper-main-link {
		padding-top: 1rem;
	}
	.main {
		height: auto;
		background: #3a1564;
	}
.speed:before {
    margin: 0px 6px 0 0;
}
.camera:before {
    margin: 0 6px 0 0;
}
.adress:before {
    margin: 0 6px 0 0;
}
	.main-title span {

		font-size: 5rem;

	}
.main-link span {
    font-size: 3rem;
    line-height: 3rem;
    left: 0;
}
	.main-title p {
		font-size: 4rem;
	}
	.news h2 {
		padding-bottom: 0rem;
	}
	.header-one {
		background-color: #edebeb;
		height: auto;
		text-align: center;
	}
	.wraper-header-link-right {
		text-align: center;
	}
	.cerebro-wraper {
		text-align: center;
	}
	footer span {
		font-size: 1.5rem;
	}
	footer {
		text-align: center;
	}
}
@media (max-width: 575px) {
.main-title {
    text-align: center;
}
.main-title p {
    display: inline-block;
    padding-left: 0.5rem;
}
.page h2 {
    font-size: 3.5rem;
}
.pagenews {
    margin-top: 16rem;
}
.page{

    margin-top: 16rem;
}
.calc {
    margin-top: 16rem;
}
	.calc .nav-link {
		margin: 3rem;
	}
	.calc .nav-item{
width: 45%;
		border: 1px solid #ccc;
		margin: 1rem;
	}

.calc .nav-pills .nav-link.active {
    border-bottom: none;
color:#c4d92c;
text-align: center;
}

	.logo{
		/*width: 70%;
padding-top: 1rem;*/
		margin: 0 auto;
		display: block;

	}
.main {
    margin-top: 160px;
}
}

@media (max-width: 418px) {
.arrov {
    top: 89%;

}
.dropdown-menu-user {
    top: 27px!important;
}
.user-auth {
    color: #fff;
    font-size: 0.1rem;
}
	.calc .nav-link {
		margin: 1rem;
	}
	.tel img {

		width: 14px;
	}

	.main-link img{
		display:block;
	}
	.camera:before, .speed:before, .adress:before {
		margin: 0 6px 0 0;
	}
	html {
		font-size: 8px;
	}
	
}
@media (max-width: 330px) {
.dropdown-menu-user::before {
    top: -23px;
}
}
@media (max-width: 320px) {
.tv-block {
    min-height: 391px;
}
.dropdown-menu-user li span {

    margin-left: 3rem;
}
.dropdown-menu-user li span {
    font-size: 1.4rem;

}
.dropdown-menu-user {
    left: 34px!important;
}
	html {
		font-size: 7px;
	}
	.main-title p {
		font-size: 4rem;
		display: inline-block;
		padding-left:1rem;
	}
	.main-title span {
		font-size: 4rem;
		display: inline-block;
	}
}