

/* Start:/bitrix/components/bitrix/system.auth.authorize/templates/.default/style.min.css?1560854399837*/
div.bx-auth{max-width:600px;margin-top:16px;margin-bottom:24px}div.bx-auth form{padding:0;margin:0}div.bx-auth-line{border-bottom:1px solid #e3e3e3;padding-bottom:10px}div.bx-auth-title{font-size:140%;border-bottom:solid 2px #e3e3e3;padding-bottom:12px}div.bx-auth-note{margin:18px 0 6px 0}td.bx-auth-label{text-align:right;font-weight:bold}table.bx-auth-table{margin-top:8px}table.bx-auth-table td{padding:3px}div.bx-auth input.bx-auth-input{vertical-align:middle}div.bx-auth span.bx-auth-secure{background-color:#fffae3;border:1px solid #dedbc8;padding:2px;display:inline-block;vertical-align:middle}div.bx-auth div.bx-auth-secure-icon{background-image:url(/bitrix/components/bitrix/system.auth.authorize/templates/.default/images/sec.png);background-repeat:no-repeat;background-position:center;width:19px;height:18px}div.bx-auth div.bx-auth-secure-unlock{background-image:url(/bitrix/components/bitrix/system.auth.authorize/templates/.default/images/sec-unlocked.png)}
/* End */
/* /bitrix/components/bitrix/system.auth.authorize/templates/.default/style.min.css?1560854399837 */
