div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.period {
	font-style: normal;
	font-weight: 900;
	line-height: 21px;
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
	font-family: Roboto;
	min-width: 200px;
}
.price {
	font-style: normal;
	font-weight: 900 !important;
	line-height: 21px;
	font-size: 32px !important;
	text-align: center;
	text-transform: capitalize;
	font-family: Roboto;
	margin: 0;
}
.vigoda {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 17px;
	font-size: 16px;
	color: #615D6A;
	opacity: 0.7;
}
.planeta {
	border-color: #662AF9;
	box-sizing: border-box;
	border-radius: 115px;
	text-align: center;
	margin: 15px 0;
	width: auto;
	display: inline-block;
}
.single_pricing_section .planeta{
	border: 6px solid #662AF9;
}
.tarif-items .cardTarif:nth-child(2) .single_pricing_section .planeta{
	border: 6px solid #FFC42E;
}
.tarif-items .cardTarif:nth-child(3) .single_pricing_section .planeta{
	border: 6px solid #2DCD04;
}
.tarif-items .cardTarif:nth-child(4) .single_pricing_section .planeta{
	border: 6px solid #2584D7;
}
.tarif-items .cardTarif:nth-child(5) .single_pricing_section .planeta{
	border: 6px solid #8400D5;
}
.tarif-items .cardTarif:nth-child(6) .single_pricing_section .planeta{
	border: 6px solid #FF6534;
}

.tarif-items .cardTarif:nth-child(8) .single_pricing_section .planeta{
	border: 6px solid #FFC42E;
}
.tarif-items .cardTarif:nth-child(9) .single_pricing_section .planeta{
	border: 6px solid #2DCD04;
}
.tarif-items .cardTarif:nth-child(10) .single_pricing_section .planeta{
	border: 6px solid #2584D7;
}
.tarif-items .cardTarif:nth-child(11) .single_pricing_section .planeta{
	border: 6px solid #8400D5;
}
.tarif-items .cardTarif:nth-child(12) .single_pricing_section .planeta{
	border: 6px solid #FF6534;
}
.tarif-items .cardTarif:nth-child(14) .single_pricing_section .planeta{
	border: 6px solid #FFC42E;
}
.tarif-items .cardTarif:nth-child(15) .single_pricing_section .planeta{
	border: 6px solid #2DCD04;
}
.tarif-items .cardTarif:nth-child(16) .single_pricing_section .planeta{
	border: 6px solid #2584D7;
}
.tarif-items .cardTarif:nth-child(17) .single_pricing_section .planeta{
	border: 6px solid #8400D5;
}
.tarif-items .cardTarif:nth-child(18) .single_pricing_section .planeta{
	border: 6px solid #FF6534;
}
.tarif-items .cardTarif:nth-child(20) .single_pricing_section .planeta{
	border: 6px solid #FFC42E;
}
.tarif-items .cardTarif:nth-child(21) .single_pricing_section .planeta{
	border: 6px solid #2DCD04;
}
.tarif-items .cardTarif:nth-child(22) .single_pricing_section .planeta{
	border: 6px solid #2584D7;
}
.tarif-items .cardTarif:nth-child(23) .single_pricing_section .planeta{
	border: 6px solid #8400D5;
}
.tarif-items .cardTarif:nth-child(24) .single_pricing_section .planeta{
	border: 6px solid #FF6534;
}
.price,
.period{
	color: #662AF9;
}
.tarif-items .cardTarif:nth-child(2) .price,
.tarif-items .cardTarif:nth-child(2) .period{
	color: #FFC42E;
}
.tarif-items .cardTarif:nth-child(3) .price,
.tarif-items .cardTarif:nth-child(3) .period{
	color: #2DCD04;
}
.tarif-items .cardTarif:nth-child(4) .price,
.tarif-items .cardTarif:nth-child(4) .period{
	color: #2584D7;
}
.tarif-items .cardTarif:nth-child(5) .price,
.tarif-items .cardTarif:nth-child(5) .period{
	color: #8400D5;
}
.tarif-items .cardTarif:nth-child(6) .price,
.tarif-items .cardTarif:nth-child(6) .period{
	color: #FF6534;
}
.tarif-items .cardTarif:nth-child(8) .price,
.tarif-items .cardTarif:nth-child(8) .period{
	color: #FFC42E;
}
.tarif-items .cardTarif:nth-child(9) .price,
.tarif-items .cardTarif:nth-child(9) .period{
	color: #2DCD04;
}
.tarif-items .cardTarif:nth-child(10) .price,
.tarif-items .cardTarif:nth-child(10) .period{
	color: #2584D7;
}
.tarif-items .cardTarif:nth-child(11) .price,
.tarif-items .cardTarif:nth-child(11) .period{
	color: #8400D5;
}
.tarif-items .cardTarif:nth-child(12) .price,
.tarif-items .cardTarif:nth-child(12) .period{
	color: #FF6534;
}
.tarif-items .cardTarif:nth-child(14) .price,
.tarif-items .cardTarif:nth-child(14) .period{
	color: #FFC42E;
}
.tarif-items .cardTarif:nth-child(15) .price,
.tarif-items .cardTarif:nth-child(15) .period{
	color: #2DCD04;
}
.tarif-items .cardTarif:nth-child(16) .price,
.tarif-items .cardTarif:nth-child(16) .period{
	color: #2584D7;
}
.tarif-items .cardTarif:nth-child(17) .price,
.tarif-items .cardTarif:nth-child(17) .period{
	color: #8400D5;
}
.tarif-items .cardTarif:nth-child(18) .price,
.tarif-items .cardTarif:nth-child(18) .period{
	color: #FF6534;
}
.tarif-items .cardTarif:nth-child(20) .price,
.tarif-items .cardTarif:nth-child(20) .period{
	color: #FFC42E;
}
.tarif-items .cardTarif:nth-child(21) .price,
.tarif-items .cardTarif:nth-child(21) .period{
	color: #2DCD04;
}
.tarif-items .cardTarif:nth-child(22) .price,
.tarif-items .cardTarif:nth-child(22) .period{
	color: #2584D7;
}
.tarif-items .cardTarif:nth-child(23) .price,
.tarif-items .cardTarif:nth-child(23) .period{
	color: #8400D5;
}
.tarif-items .cardTarif:nth-child(24) .price,
.tarif-items .cardTarif:nth-child(24) .period{
	color: #FF6534;
}

.descriptionTarifItem{
	display: flex;
	align-items: center;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 15px;
	font-size: 14px !important;
	color: #000000 !important;
}
.descriptionTarifItem img{
	margin-right: 10px;
}
.dayTime{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 13px !important;
	font-size: 12px !important;
	color: #000000 !important;
	opacity: 0.3;
}
.descriptionTarif .forDay{
	align-items: flex-start;
}
.dayTime {
	margin-top: -50px;
	display: block;
	margin-bottom: 25px;
}
.telefonInfo {
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 15px;
	width: 100%;
	margin-left: -20px;
	margin-top: -20px;
}
.telefonMore{
	cursor: pointer;
	text-decoration: underline;
}