.ab-weather{
}
	.ab-yandex-weather{
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
	}
		.ab-yandex-weather__img{
			display: inline-block;
			vertical-align: top;
		}
		.ab-yandex-weather__temp{
			display: inline-block;
			vertical-align: top;
			font-size: 18px;
			line-height: 20px;
			padding-top: 13px;
		}