section.about#about
  div.about--in
    h2.about__ttl О нашей компании
    div.about__box
      div.about__info
        p.about__txt ТВИНТЕЛ ЮГ, телекоммуникационный бренд ООО «РАДИСТ» - оператор связи, осуществляющий свою деятельность от п. Лазаревское до п. Красная Поляна с 1996 г. на основании всех необходимых лицензий.
        p.about__txt Используя наработанный опыт и технологические ресурсы мы обеспечиваем корпоративных пользователей и частных абонентов комплексом самых современных услуг связи:
        ul.about__its
          li.about__it
            span.strong высокоскоростного доступа в Интернет;
          li.about__it
            span.strong кабельного телевидения
            |  (аналоговое, цифровое, телевидение высокой четкости (HD) 
          li.about__it без установки дополнительных устройств, нет необходимости проводить Интернет, нет дополнительного пульта для переключения каналов;
          li.about__it
            span.strong IP телефонии;
          li.about__it
            span.strong IP телевидения.
        p.about__txt Клиенты компании имеют универсальную возможность получить у одного оператора комплексный сервис.
        p.about__txt Наши сотрудники имеют технические и профессиональные знания, способны добиваться результатов и решать любые задачи.
        p.about__txt Доступ абонентов к сети компании осуществляется только по волоконно-оптическим линиям связи, что позволяет оптимизировать объем и стоимость услуг в зависимости от потребностей заказчика. ТВИНТЕЛ ЮГ располагает комплексом специализированных решений, позволяющих обеспечить интегральное обслуживание различных категорий пользователей, услугами связи, обеспечивая стабильность, надежность и высокое качество.
        p.about__txt С нами – Мир ближе!




