section.acc#acc
  div.acc--in
    h2.acc__ttl Здравствуйте 
      span.acc__ttl__name Иванов А. В.
    div.acc__flex
      div.acc__col.acc__col--1
        div.acc__box.acc__box--inf
          p.acc__inf__num № договора: 
            span.acc__inf__num__val 019815
          p.acc__inf__name Симоненко Александр Николаевич
          p.acc__inf__adr Сочи, ул Шоссейная,дом 7Б / В,кв 8, 354037
        div.acc__box.acc__box--trf
          ul.acc__trf__its
            li.acc__trf__it
              p.acc__trf__label Текущий тариф
              p.acc__trf__ttl Мир 100
            li.acc__trf__it
              p.acc__trf__label Скорость до
              p.acc__trf__speed
                span.acc__trf__speed__val 30
                span.acc__trf__speed__unit Мбит
            li.acc__trf__it
              p.acc__trf__label Стоимость
              p.acc__trf__price
                span.acc__trf__price__val 650
                span.acc__trf__price__unit
                  |  
                  span.icon-rub
                  | /мес.
          p.acc__trf__change
            span.acc__trf__change__txt Сменить тариф
            span.acc__trf__change__ic
        //- div.acc__box.acc__box--trf
          ul.acc__trf__its
            li.acc__trf__it
              div.acc__trf__ttlw
                p.acc__trf__label Текущий тариф
                p.acc__trf__ttl Мир 100
              div.acc__trf__speedw
                p.acc__trf__label Скорость до
                p.acc__trf__speed
                  span.acc__trf__speed__val 30
                  span.acc__trf__speed__unit Мбит
              div.acc__trf__pricew
                p.acc__trf__label Стоимость
                p.acc__trf__price
                  span.acc__trf__price__val 650
                  span.acc__trf__price__unit
                    |  
                    span.icon-rub
                    | /мес.
          p.acc__trf__change
            span.acc__trf__change__txt Сменить тариф
            span.acc__trf__change__ic
        div.acc__box.acc__box--log
          p.acc__log__ttl История платежей
          ul.acc__log__its
            li.acc__log__it
              p.acc__log__date 21 мая
              p.acc__log__method
                span.acc__log__method__ic.acc__log__method__ic--1
              p.acc__log__valw
                span.acc__log__val 999 300
                span.icon-rub
            li.acc__log__it
              p.acc__log__date 12 мая
              p.acc__log__method
                span.acc__log__method__ic.acc__log__method__ic--2
              p.acc__log__valw
                span.acc__log__val 1 300
                span.icon-rub
            li.acc__log__it
              p.acc__log__date 03 мая
              p.acc__log__method
                span.acc__log__method__ic.acc__log__method__ic--3
              p.acc__log__valw
                span.acc__log__val 900
                span.icon-rub
            li.acc__log__it
              p.acc__log__date 18 апреля
              p.acc__log__method
                span.acc__log__method__ic.acc__log__method__ic--4
              p.acc__log__valw
                span.acc__log__val 1 300
                span.icon-rub
            li.acc__log__it
              p.acc__log__date 11 апреля
              p.acc__log__method
                span.acc__log__method__ic.acc__log__method__ic--5
              p.acc__log__valw
                span.acc__log__val 900
                span.icon-rub
      div.acc__col.acc__col--2
        div.acc__box.acc__box--status
          p.acc__status.acc__status--1 Включено
          p.acc__status.acc__status--2 Приостановлено
          p.acc__status.acc__status--3 Отключено
          p.acc__blnc
            span.acc__blnc__val 1550
            |  
            span.icon-rub
          div.acc__btw
            span.acc__bt.acc__bt--pay() Пополнить баланс
            span.acc__bt.acc__bt--promise() Обещанный платеж


