section.bid#bid
  div.bid--in
    p.bid__pic.bid__pic--d
      img.bid__pic__img(src='img/bid-pic.png')
    div.bid__info
      h2.bid__ttl Весь спорт#[br]
        span.nobr в одном месте
      p.bid__sttl и ещё доступнее!
      div.bid__footer
        p.bid__btw.bid__btw--d
          a.bid__bt(href='#')
            span.bid__bt__txt Подключить IP-ТВ
            span.bid__bt__ic
        p.bid__price от 150р.
      p.bid__btw.bid__btw--m
        a.bid__bt(href='#')
          span.bid__bt__txt Подключить IP-ТВ
          span.bid__bt__ic
    //- p.bid__pic.bid__pic--m
      img.bid__pic__img(src='img/bid-pic.png')


