section.check#check
  div.check--in
    p.check__ttl Проверьте возможность подключения
      span.m.nobr  по вашему адресу:
    form.check__form.form#form--1(action='javascript:void(0)' method='post' data-form='1')
      p.form__item.form__item--addr1
        input.form__input.form__input--addr1#addr1--1(name='addr1' type='text' placeholder='Название улицы')
      p.form__item.form__item--addr2
        input.form__input.form__input--addr2#addr2--1(name='addr2' type='text' placeholder='Дом')
      p.form__item.form__item--send
        input.modal__formName(name='formName' type='hidden' value='Проверить адрес')
        button.form__send(type='submit') Проверить
          span.d  адрес


