section.ct#ct
  div.ct--in
    h2.ct__ttl Контакты
    div.ct__flex
      div.ct__acrdw
        p.ct__acrdw__ttl Наши офисы
        div.ct__acrd#ct__acrd
          h3.ct__acrd__ttl(data-map='1') Сочи, ул. Московская, д. 20
          div.ct__acrd__cnt
            p.ct__acrd__cnt__txt Телефоны: 8(862) 271-11-11;#[br] 8(988) 404-40-38
            p.ct__acrd__cnt__txt Режим работы: 9.00 – 17.30
            p.ct__acrd__cnt__txt Выходной: Воскресенье
          h3.ct__acrd__ttl(data-map='2') Сочи, ул.Чехова, д. 21
          div.ct__acrd__cnt
            p.ct__acrd__cnt__txt Телефоны: 8(862) 271-11-11;#[br] 8(988) 404-40-38
            p.ct__acrd__cnt__txt Режим работы: 9.00 – 17.30
            p.ct__acrd__cnt__txt Выходной: Воскресенье
          h3.ct__acrd__ttl(data-map='3') Дагомыс, ул. Гайдара, д. 2
          div.ct__acrd__cnt
            p.ct__acrd__cnt__txt Телефоны: 8(862) 271-11-11;#[br] 8(988) 404-40-38
            p.ct__acrd__cnt__txt Режим работы: 9.00 – 17.30
            p.ct__acrd__cnt__txt Выходной: Воскресенье
          h3.ct__acrd__ttl(data-map='4') п. Лазаревское, ул. Павлова, д. 64 Б
          div.ct__acrd__cnt
            p.ct__acrd__cnt__txt Телефоны: 8(862) 271-11-11;#[br] 8(988) 404-40-38
            p.ct__acrd__cnt__txt Режим работы: 9.00 – 17.30
            p.ct__acrd__cnt__txt Выходной: Воскресенье
          h3.ct__acrd__ttl(data-map='5') п. Хоста, ул. Шоссейная, д. 5 А
          div.ct__acrd__cnt
            p.ct__acrd__cnt__txt Телефоны: 8(862) 271-11-11;#[br] 8(988) 404-40-38
            p.ct__acrd__cnt__txt Режим работы: 9.00 – 17.30
            p.ct__acrd__cnt__txt Выходной: Воскресенье
      div.ct__map#ct__map
    //- ul.ct__items
      li.ct__item
