section.docs#docs
  div.docs--in
    h2.docs__ttl Документы
    ul.docs__its
      li.docs__it
        a.docs__it__link(href='img/doc-1.jpg' data-lightbox='docs')
          p.docs__it__pic
            img.docs__it__pic__img(src='img/doc-1-min.jpg')
          div.docs__it__info
            p.docs__it__det № 119963 от 02.07.2014г.
            p.docs__it__ttl Телематические 
              span.nobr услуги связи
      li.docs__it
        a.docs__it__link(href='img/doc-1.jpg' data-lightbox='docs')
          p.docs__it__pic
            img.docs__it__pic__img(src='img/doc-1-min.jpg')
          div.docs__it__info
            p.docs__it__det № 119963 от 02.07.2014г.
            p.docs__it__ttl Услуги местной 
              span.nobr телефонной связи
      li.docs__it
        a.docs__it__link(href='img/doc-1.jpg' data-lightbox='docs')
          p.docs__it__pic
            img.docs__it__pic__img(src='img/doc-1-min.jpg')
          div.docs__it__info
            p.docs__it__ttl Договора 
              span.nobr оферты КТВ
      li.docs__it
        a.docs__it__link(href='img/doc-1.jpg' data-lightbox='docs')
          p.docs__it__pic
            img.docs__it__pic__img(src='img/doc-1-min.jpg')
          div.docs__it__info
            p.docs__it__ttl Договор на оказание услуг доступа к сети Интернет 
              span.nobr физическим лицам
      li.docs__it
        a.docs__it__link(href='img/doc-1.jpg' data-lightbox='docs')
          p.docs__it__pic
            img.docs__it__pic__img(src='img/doc-1-min.jpg')
          div.docs__it__info
            p.docs__it__ttl Договор на оказание услуг доступа к сети Интернет 
              span.nobr юридическим лицам


