footer.foot#foot
  div.foot--in
    div.foot__ct.foot__ct--m
      p.foot__ct__ttl Служба поддержки и продаж
      p.foot__ct__tel
        a.foot__ct__tel__link.nobr(href='tel:+7-862-271-11-11') +7 (862) 271-11-11
    div.foot__top
      div.foot__itemsw
        ul.foot__items
          li.foot__item
            a.foot__item__link(href='about.html') О компании
          li.foot__item
            a.foot__item__link(href='contacts.html') Контактная информация
          li.foot__item
            a.foot__item__link(href='news.html') Новости
          li.foot__item
            a.foot__item__link(href='job.html') Вакансии
        ul.foot__items
          li.foot__item
            a.foot__item__link(href='#') Оборудование
          li.foot__item
            a.foot__item__link(href='requisites.html') Реквизиты компании
          li.foot__item
            a.foot__item__link(href='docs.html') Лицензии
          li.foot__item
            a.foot__item__link(href='#') Офисы компании
        ul.foot__items
          li.foot__item
            a.foot__item__link(href='job.html') Вакансии
          li.foot__item
            a.foot__item__link(href='#') Договор оферты КТВ
          li.foot__item
            a.foot__item__link(href='#') Договор на оказание услуг
          li.foot__item
            a.foot__item__link(href='#') Политика конфиденциальности
      ul.foot__socs
        li.foot__soc
          a.foot__soc__link.foot__soc__link--1(href='#')
        li.foot__soc
          a.foot__soc__link.foot__soc__link--2(href='#')
        li.foot__soc
          a.foot__soc__link.foot__soc__link--3(href='#')
        li.foot__soc
          a.foot__soc__link.foot__soc__link--4(href='#')
        li.foot__soc
          a.foot__soc__link.foot__soc__link--5(href='#')
        li.foot__soc
          a.foot__soc__link.foot__soc__link--6(href='#')
    div.foot__bot
      p.foot__copy © 2019 ООО «Радист». 18+
      div.foot__ct.foot__ct--d
        p.foot__ct__ttl Служба поддержки и продаж
        p.foot__ct__tel
          a.foot__ct__tel__link.nobr(href='tel:+7-862-271-11-11') +7 (862) 271-11-11
