section.head#head
  div.head__top
    div.head__top--in
      ul.head__users
        li.head__user.head__user--1.active
          a.head__user__link(href='#') Частным клиентам
        li.head__user.head__user--2
          a.head__user__link(href='#') Корпоративным клиентам
      ul.head__extras
        li.head__extra.head__extra--1
          a.head__extra__link(href='#') Тест скорости
        li.head__extra.head__extra--2
          a.head__extra__link(href='views.html') Сочи онлайн
  div.head__bot
    div.head__bot--in
      h1.head__logo
        a.head__logo__link.scrollTo(data-to='0' href='#home' title='Твинтел • Телевидение, интернет, телефония')
          img.head__logo__img(src='img/head-logo.png' alt='Твинтел • Телевидение, интернет, телефония')
      ul.head__navs
        li.head__nav.active
          a.head__nav__link(href='tv.html') ТВ
        li.head__nav
          a.head__nav__link(href='internet.html') Интернет
        li.head__nav
          a.head__nav__link(href='telephony.html') Телефония
        li.head__nav
          a.head__nav__link(href='cctv.html') Видеонаблюдение
      div.head__ct
        p.head__ct__ttl служба поддержки и продаж
        p.head__ct__tel
          a.head__ct__tel__link.nobr(href='tel:+7-862-271-11-11') +7 (862) 271-11-11
      p.head__loginw
        span.head__login.openModal(
          data-modal='login'
        )
          span.head__login__ic
          span.head__login__txt Личный кабинет
      p.head__openNav

    //- div.head__row.head__row--left
      ul.head__langs
        li.head__lang.head__lang--ru.active
          a.head__lang__link(href='index-rus.html') ru
        li.head__lang.head__lang--eng
          a.head__lang__link(href='index-eng.html') eng
      p.head__ct.head__ct--mail
        a.head__ct__link.head__ct__link--mail.nobr(href='mailto:info@ultrac.ru')
          span.head__ct__link__ic.head__ct__link__ic--mail
          span.head__ct__link__txt info@ultrac.ru
    //- div.head__row.head__row--right
      p.head__ct.head__ct--tel
        span.head__ct__link.head__ct__link--tel.head__ct__link--tel--order.nobr.openModal(
          data-modal='call'
          ttl='Оставьте заявку, и мы перезвоним,<br> чтобы рассказать о всех особенностях<br> выращенных камней'
          subject='Записаться'
          send='Записаться')
          span.head__ct__link__ic.head__ct__link__ic--tel
          span.head__ct__link__txt 8 (499) 505-50-08
        a.head__ct__link.head__ct__link--tel.head__ct__link--tel--macos.nobr(href='tel:8-123-456-78-91')
          span.head__ct__link__ic.head__ct__link__ic--tel
          span.head__ct__link__txt 8 (499) 505-50-08
      p.head__btw
        span.head__bt.nobr.openModal(
          data-modal='call'
          ttl='Оставьте заявку, и мы перезвоним,<br> чтобы рассказать о всех особенностях<br> выращенных камней'
          subject='Заказать звонок'
          send='Заказать звонок') Заказать звонок
      //- p.head__openNav


  //- ttl='Оставьте заявку и мы свяжемся <span class="nobr">с Вами в ближайшее время.</span>'