section.home#home
  div.home--in
    div.home__info
      p.home__ssttl Ура! Жара!
      p.home__sttl Головокружительное#[br] предложение
      p.home__ttl Интернет#[br] в своём#[br] доме
      p.home__price от 350р.
    p.home__pic
      img.home__pic__img(src='img/home-pic.svg')

      //- div.home__formw
        p.home__form__ttl Рассчитайте стоимость 
          span.nobr комфорта в вашем доме
        form.home__form.form#form--1(action='javascript:void(0)' method='post' data-form='1')
          p.form__item.form__item--name
            input.form__input.form__input--name#name--1(name='name' type='text' placeholder='Введите имя')
          p.form__item.form__item--tel
            input.form__input.form__input--valid.form__input--tel#tel--1(name='tel' type='tel' placeholder='Введите телефон')
          p.form__item.form__item--send
            input.modal__formName(name='formName' type='hidden' value='Получить расчёт')
            button.form__send(type='submit' thxTitle='Спасибо! Ваша заявка успешно принята.' thxDesk='Мы свяжемся с вами в течении 15 минут.') Получить расчёт
            //- span.form__send__note Мы перезвоним в течение 
              span.nobr.strong 8 минут
          div.form__term
            p.form__term__ic
            p.form__term__txt Я даю согласие на обработку персональных данных.
          //- p.form__term__txt Я согласен с 
            span.form__term__link.openModal(data-modal='cond') условиями обработки персональных данных











      //- p.home__btw
        span.home__bt.openModal(
          data-modal='call'
          ttl='Оставьте заявку и мы свяжемся <span class="nobr">с Вами в ближайшее время.</span>'
          subject='Рассчитать смету'
          send='Отправить заявку') Выбрать покрытие
      //- p.home__downw
        span.home__down







      //- p.home__btw
        span.home__bt.openModal(
          data-modal='call'
          ttl='Оставьте заявку и мы свяжемся <span class="nobr">с Вами в ближайшее время.</span>'
          subject='Рассчитать смету'
          send='Отправить заявку') Выбрать покрытие
  //- ul.home__dets
    li.home__det
  //- p.home__pic#home__pic
    img.home__pic__img#home__pic__img(src='' data-src='img/home-pic.png')
      //- div.home__itsw
        ul.home__its
          li.home__it
            p.home__it__ic.home__it__ic--1
            p.home__it__txt Выезд специалиста
              br
              |  бесплатно
          li.home__it
            p.home__it__ic.home__it__ic--2
            p.home__it__txt Всегда 
              br
              span.nobr без предоплаты
          li.home__it
            p.home__it__ic.home__it__ic--3
            p.home__it__txt Договор с чёткими 
              br
              |  сроками
        div.home__pic.home__pic--m
          img.home__pic__img(src='img/home-pic.png')
      //- div.home__formw
        p.home__form__ttl Есть вопрос или 
          span.nobr срочно требуется
          |  
          span.nobr помощь специалиста?
        p.home__form__sttl Оставьте заявку, и наш 
          //- span.nobr сотрудник свяжется с вами
          span сотрудник свяжется с вами
          |  
          span.nobr для уточнения информации
        form.home__form.form#form--1(action='javascript:void(0)' method='post' data-form='1')
          //- p.form__item.form__item--name
            input.form__input.form__input--name#name--1(name='name' type='text' placeholder='Введите имя')
          p.form__item.form__item--tel
            input.form__input.form__input--valid.form__input--tel#tel--1(name='tel' type='tel' placeholder='Введите телефон')
          p.form__item.form__item--send
            input.modal__formName(name='formName' type='hidden' value='Получить бесплатную консультацию')
            button.form__send(type='submit' thxTitle='Спасибо! Ваша заявка успешно принята.' thxDesk='Мы свяжемся с вами в течении 15 минут.') Получить бесплатную консультацию
            span.form__send__note Мы перезвоним в течение 
              span.nobr.strong 8 минут
        //- div.form__term
          p.form__term__ic
          p.form__term__txt Я согласен(а) на обработку персональных данных
          //- p.form__term__txt Я согласен с 
            span.form__term__link.openModal(data-modal='cond') условиями обработки персональных данных


