section.inet#inet
  div.inet--in
    h2.inet__ttl Лучшие тарифры 
      span.nobr на интернет!
    ul.inet__navs
      li.inet__nav.active
        p.inet__nav__ic.inet__nav__ic--1
        p.inet__nav__txt Для квартиры
      li.inet__nav
        p.inet__nav__ic.inet__nav__ic--2
        p.inet__nav__txt Для частного дома
    div.inet__itsw
      ul.inet__its
        li.inet__it
          p.inet__it__ttl Мир
            span.strong 30
          p.inet__it__price
            span.inet__it__price__val 350
            span.inet__it__price__unit
              span.txt руб
              span.line
              span.txt мес
          p.inet__it__speed
            span.inet__it__speed__ttl Скорость до
            span.inet__it__speed__val 30 Мбит
          p.inet__it__btw
            span.inet__it__bt() Подключить
        li.inet__it
          p.inet__it__ttl Мир
            span.strong 60
          p.inet__it__price
            span.inet__it__price__val 550
            span.inet__it__price__unit
              span.txt руб
              span.line
              span.txt мес
          p.inet__it__speed
            span.inet__it__speed__ttl Скорость до
            span.inet__it__speed__val 60 Мбит
          p.inet__it__btw
            span.inet__it__bt() Подключить
        li.inet__it
          p.inet__it__ttl Мир
            span.strong 100
          p.inet__it__price
            span.inet__it__price__val 600
            span.inet__it__price__unit
              span.txt руб
              span.line
              span.txt мес
          p.inet__it__speed
            span.inet__it__speed__ttl Скорость до
            span.inet__it__speed__val 100 Мбит
          p.inet__it__btw
            span.inet__it__bt() Подключить
      div.inet__check
        p.inet__check__pic
          img.inet__check__pic__img(src='img/inet-check-pic.jpg')
        div.inet__check__formw
          p.inet__check__ttl Проверьте возможность подключения:
          form.inet__check__form.form#form--2(action='javascript:void(0)' method='post' data-form='2')
            p.form__item.form__item--addr1
              input.form__input.form__input--addr1#addr1--2(name='addr1' type='text' placeholder='Название улицы')
            p.form__item.form__item--addr2
              input.form__input.form__input--addr2#addr2--2(name='addr2' type='text' placeholder='Дом')
            p.form__item.form__item--send
              input.modal__formName(name='formName' type='hidden' value='Проверить адрес')
              button.form__send(type='submit') Проверить
                span.d  адрес





