section.job#job
  div.job--in
    h2.job__ttl Вакансии
    ul.job__its
      li.job__it.job__it--1
        div.job__info
          p.job__it__ttl Инженер технической поддержки
          p.job__it__sttl Требования
          ul.job__it__dets
            li.job__it__det Понимание общих принципов работы компьютерных сетей (IP, Ethernet) Желателен опыт работы с активным сетевым оборудованием (Cisco, Mikrotik), с UNIX-подобными ОС (Debian Linux, FreeBSD)
          p.job__it__sttl Обязанности
          ul.job__it__dets
            li.job__it__det Техническая поддержка абонентов СПД (сеть передачи данных) и телефонии, 
              span.nobr мониторинг СПД
        div.job__it__salary
          p.job__it__salary__valw от 
            span.job__it__salary__val 30 000
            |  
            span.icon-rub
          p.job__it__salary__note по результатам#[br] собеседования
      li.job__it.job__it--2
        div.job__info
          p.job__it__ttl Инженер отдела развития сети
          p.job__it__sttl Требования
          ul.job__it__dets
            li.job__it__det Высшее образование
            li.job__it__det Знание основ работы оборудования и сетей связи 
              span.nobr и их характеристик
          p.job__it__sttl Обязанности
          ul.job__it__dets
            li.job__it__det Обследование объектов строительства сетей связи, согласование проектов строительства сетей связи с собственниками территорий и зданий, подготовка актов технического осмотра объектов, технических решений и заданий сотрудникам отдела и подрядным организациям,контроль строительства объектов связи сотрудниками и подрядными организациям.
        div.job__it__salary
          p.job__it__salary__valw от 
            span.job__it__salary__val 30 000
            |  
            span.icon-rub
          p.job__it__salary__note по результатам#[br] собеседования
      li.job__it.job__it--3
        div.job__info
          p.job__it__ttl Инженер-энергетик
          p.job__it__sttl Требования
          ul.job__it__dets
            li.job__it__det Высшее профессиональное образование
            li.job__it__det Группа по электробезопасности — 
              span.nobr не ниже четвертой
          p.job__it__sttl Обязанности
          ul.job__it__dets
            li.job__it__det Обеспечение работы энергетического оборудования, электрических сетей, участие в развитии энергохозяйства, реконструкции и модернизации систем энергоснабжения офисов и ТКД (точек коллективного доступа).Снятие и сдача показаний приборов учета эл. энергии в энергоснабжающие организации.
        div.job__it__salary
          p.job__it__salary__valw от 
            span.job__it__salary__val 30 000
            |  
            span.icon-rub
          p.job__it__salary__note по результатам#[br] собеседования
      li.job__it.job__it--4
        div.job__info
          p.job__it__ttl Электромонтер (монтажник)
          p.job__it__sttl Требования
          ul.job__it__dets
            li.job__it__det Опыт работы в телекоммуникации 
              span.nobr от 1-го года
          p.job__it__sttl Обязанности
          ul.job__it__dets
            li.job__it__det Подключение услуг кабельного ТВ, Интернет, IP-телефонии, устранение аварийных ситуаций
        div.job__it__salary
          p.job__it__salary__valw от 
            span.job__it__salary__val 20 000
            |  
            span.icon-rub
          p.job__it__salary__note + премии
      li.job__it.job__it--5
        div.job__info
          p.job__it__ttl Оператор-кассир
          p.job__it__sttl Требования
          ul.job__it__dets
            li.job__it__det Знание кассовой 
              span.nobr дисциплины и ПК
          p.job__it__sttl Обязанности
          ul.job__it__dets
            li.job__it__det Знание кассовой дисциплины и ПК Заключение договоров, прием платежей от населения за оказанные услуги: КТВ, 
              span.nobr Интернет, IP-телефония
        div.job__it__salary
          p.job__it__salary__valw от 
            span.job__it__salary__val 17 500
            |  
            span.icon-rub
          p.job__it__salary__note + премии



