div.modals
  div.modal.modal--call
    div.modal__bg(@click='modalClose')
    div.modal__body.modal__body--call
      span.modal__close(@click='modalClose')
      div.modal__call
        div.modal__call__formw
          p.modal__call__ttl Оставьте свои контакты и мы свяжемся 
            span.nobr с вами в течение 10 минут
          //- form.modal--call__form.form(action='php/send.php' method='post')
          form.modal__call__form.form#form--10(action='javascript:void(0)' method='post' data-form='10')
            div.modal__call__form--in
              p.form__item.form__item--name
                //- label.form__label.form__label--name(for='name--10') Ваше имя
                input.form__input.form__input--name#name--10(name='name' type='text' placeholder='Имя')
              p.form__item.form__item--tel
                //- label.form__label.form__label--tel(for='tel--10') Ваш телефон
                input.form__input.form__input--valid.form__input--tel#tel--10(name='tel' type='tel' placeholder='Телефон*')
              p.form__item.form__item--mail
                //- label.form__label.form__label--tel(for='tel--10') Ваш телефон
                input.form__input.form__input--mail#mail--10(name='mail' type='text' placeholder='Почта')
              p.form__note *Поля обязательные для заполнения
              p.form__item.form__item--send
                input.modal__call__formName(name='formName' type='hidden' value='Отправить заявку')
                button.form__send(type='submit' thxTitle='<span class="b">Спасибо</span><span class="s">за Вашу заявку!</span>' thxDesk='Наши специалисты свяжутся <span class="nobr">с вами в ближайшее время</span>') Отправить заявку
                //- button.form__send(type='submit' thxTitle='Спасибо! Ваша заявка успешно принята.' thxDesk='Ожидайте звонка нашего виртуального консультанта') Отправить заявку
            div.form__term
              p.form__term__ic
              p.form__term__txt Я даю согласие на обработку
                span.nobr персональных данных.
            //- p.form__term Нажимая кнопку, вы принимаете 
              a.form__term__link(href='#') Положение
              |  и 
              a.form__term__link(href='#') Согласие
              |  
              span.nobr на обработку
              |  персональных данных.
            //- div.form__term
              p.form__term__ic
              p.form__term__txt Я согласен(а) на обработку 
                span.nobr персональных данных
        //- p.modal--call__sttl Оставьте заявку и администратор запишет
          br.desk
          |  Вас в салон 
          span.nobr на удобное время
            //- p.form__term__txt Я согласен с 
              span.form__term__link.openModal(data-modal='cond') условиями обработки персональных данных
        //- p.modal--call__foot Отправляя форму, вы даете согласие на обработку персональных данных, указанных вами в заявке, в соответствии с требованиями Федерального закона № 152-ФЗ от 27.07.2006 «О персональных данных».



  div.modal.modal--thx#modal--thx
    div.modal__bg(@click='modalClose')
    div.modal__body.modal__body--thx
      span.modal__close(@click='modalClose')
      div.modal__thx
        //- p.modal__thx__pic
          img.modal__thx__pic__img(src='img/thx-pic.jpg')
        p.modal__thx__logo
          a.modal__thx__logo__link(data-to='0' href='#' title='')
            img.modal__thx__logo__img(src='img/head-logo.svg' alt='')
            //- img.modal__thx__logo__img.modal__thx__logo__img--calc(src='img/modal-thx-calc.svg' alt='')
        div.modal__thx__res
          p.modal__thx__ic
          div.modal__thx__ttl Ошибка!
          //- p.modal__thx__ttl Возникла ошибка!
          p.modal__thx__txt Попробуйте 
            span.nobr перезагрузить страницу
        //- div.modal__thx__docs
          p.modal__thx__docs__txt Мы очень трепетно относимся к документам и любим бухгалтеров, поэтому заранее подготовили всё необходимые "бумажки"
          p.modal__thx__docs__linkw
            a.modal__thx__docs__link(href='' download)
              span.modal__thx__docs__link__ic
              span.modal__thx__docs__link__desc
                span.modal__thx__docs__link__ttl Реквизиты нашей компании
                  br
                  |  + Пример договора, актов и приложений
                span.modal__thx__docs__link__info (1,7 мб, pdf)


  div.modal.modal--login#modal--login
    div.modal__bg(@click='modalClose')
    div.modal__bodyw.modal__bodyw--login
      div.modal__body.modal__body--login
        span.modal__close(@click='modalClose')
        div.modal__login
          div.modal__login__formw
            p.modal__login__ttl Добро пожаловать
            p.modal__login__txt Любой абонент Твинтелюг имеет доступ кс воему личному кабинету. Войдите, чтобы получить доступ к вашим персональным данным.
            //- form.modal--call__form.form(action='php/send.php' method='post')
            form.modal__login__form.form#form--11(action='javascript:void(0)' method='post' data-form='11')
              div.modal__login__form--in
                p.form__item.form__item--login
                  //- label.form__label.form__label--name(for='name--10') Ваше имя
                  input.form__input.form__input--login#login--11(name='login' type='text' placeholder='Логин')
                p.form__item.form__item--pass
                  //- label.form__label.form__label--tel(for='tel--10') Ваш телефон
                  input.form__input.form__input--pass#pass--11(name='pass' type='password' placeholder='Пароль')
                p.form__item.form__item--send
                  input.modal__call__formName(name='formName' type='hidden' value='Войти')
                  button.form__send(type='submit') Войти





