section.nav#nav
  div.nav--in
    div.nav__head
      div.nav__ct
        p.nav__ct__ttl служба поддержки и продаж
        p.nav__ct__tel
          a.nav__ct__tel__link.nobr(href='tel:+7-862-271-11-11') +7 (862) 271-11-11
      p.nav__closeNav
    div.nav__loginw
      span.nav__login(
        data-modal='login'
      )
        span.nav__login__txt Личный кабинет
        span.nav__login__ic
      div.nav__login__formw
        form.nav__login__form.form#form--2(action='javascript:void(0)' method='post' data-form='2')
          div.nav__login__form--in
            p.form__item.form__item--login
              //- label.form__label.form__label--name(for='name--10') Ваше имя
              input.form__input.form__input--login#login--2(name='login' type='text' placeholder='Логин')
            p.form__item.form__item--pass
              //- label.form__label.form__label--tel(for='tel--10') Ваш телефон
              input.form__input.form__input--pass#pass--2(name='pass' type='password' placeholder='Пароль')
            p.form__item.form__item--send
              input.modal__call__formName(name='formName' type='hidden' value='Войти')
              button.form__send(type='submit') Войти
    ul.nav__users
      li.nav__user.nav__user--1.active
        a.nav__user__link(href='#') Физ. лицам
      li.nav__user.nav__user--2
        a.nav__user__link(href='#') Юр. лицам
    ul.nav__navs
      li.nav__nav.active
        a.nav__nav__link(href='tv.html') ТВ
      li.nav__nav
        a.nav__nav__link(href='internet.html') Интернет
      li.nav__nav
        a.nav__nav__link(href='telephony.html') Телефония
      li.nav__nav
        a.nav__nav__link(href='cctv.html') Видеонаблюдение
    ul.nav__items
      li.nav__item.active
        a.nav__item__link(href='about.html') О компании
      li.nav__item
        a.nav__item__link(href='contacts.html') Контактная информация
      li.nav__item
        a.nav__item__link(href='news.html') Новости
      li.nav__item
        a.nav__item__link(href='job.html') Вакансии
      li.nav__item
        a.nav__item__link(href='#') Оборудование
      li.nav__item
        a.nav__item__link(href='requisites.html') Реквизиты компании
      li.nav__item
        a.nav__item__link(href='docs.html') Лицензии
      li.nav__item
        a.nav__item__link(href='#') Договор оферты КТВ
      li.nav__item
        a.nav__item__link(href='#') Договор на оказание услуг
      li.nav__item
        a.nav__item__link(href='#') Политика конфиденциальности
    p.nav__copy © 2019 ООО «Радист». 18+



    //- ul.nav__cts
      li.nav__ct
        span.nav__ct__link.nav__ct__link--tel.nav__ct__link--tel--order.nobr.openModal(
          data-modal='call'
          title='Оставьте заявку и мы свяжемся <span class="nobr">с Вами в ближайшее время.</span>'
          subject='Заказать звонок'
          send='Отправить заявку')
          span.nav__ct__link__ic
          span.nav__ct__link__txt +7 (495) 518-68-81
        a.nav__ct__link.nav__ct__link--tel.nav__ct__link--tel--macos.nobr(href='tel:+7-495-518-68-81')
          span.nav__ct__link__ic
          span.nav__ct__link__txt +7 (495) 518-68-81
        p.nav__ct__time Ежедневно 9:00 – 19:00
    //- p.nav__btw
      span.nav__bt.nobr.openModal(
        data-modal='call'
        title='Оставьте заявку и мы свяжемся <span class="nobr">с Вами в ближайшее время.</span>'
        subject='Заказать звонок'
        send='Заказать звонок') Заказать звонок






