section.news#news
  div.news--in
    h2.news__ttl Новости компании
    ul.news__its
      li.news__it
        a.news__it__link(href='post.html')
          p.news__it__pic
            img.news__it__pic__img(src='img/news-1.jpg')
          div.news__it__info
            p.news__it__date 21 Июнь 2018
            p.news__it__ttl Новые «семейные» каналы в сетке вещания!
      li.news__it
        a.news__it__link(href='post.html')
          p.news__it__pic
            img.news__it__pic__img(src='img/news-1.jpg')
          div.news__it__info
            p.news__it__date 21 Июнь 2018
            p.news__it__ttl Новые «семейные» каналы в сетке вещания!
      li.news__it
        a.news__it__link(href='post.html')
          p.news__it__pic
            img.news__it__pic__img(src='img/news-1.jpg')
          div.news__it__info
            p.news__it__date 21 Июнь 2018
            p.news__it__ttl Новые «семейные» каналы в сетке вещания!
      li.news__it
        a.news__it__link(href='post.html')
          p.news__it__pic
            img.news__it__pic__img(src='img/news-1.jpg')
          div.news__it__info
            p.news__it__date 21 Июнь 2018
            p.news__it__ttl Новые «семейные» каналы в сетке вещания!
      li.news__it
        a.news__it__link(href='post.html')
          p.news__it__pic
            img.news__it__pic__img(src='img/news-1.jpg')
          div.news__it__info
            p.news__it__date 21 Июнь 2018
            p.news__it__ttl Новые «семейные» каналы в сетке вещания!
      li.news__it
        a.news__it__link(href='post.html')
          p.news__it__pic
            img.news__it__pic__img(src='img/news-1.jpg')
          div.news__it__info
            p.news__it__date 21 Июнь 2018
            p.news__it__ttl Новые «семейные» каналы в сетке вещания!
      li.news__it
        a.news__it__link(href='post.html')
          p.news__it__pic
            img.news__it__pic__img(src='img/news-1.jpg')
          div.news__it__info
            p.news__it__date 21 Июнь 2018
            p.news__it__ttl Новые «семейные» каналы в сетке вещания!




