section.pay#pay
  div.pay--in
    h2.pay__ttl Вы всегда можете оплатить#[br.m] услуги#[br.d] удобным для вас#[br.m] способом
    ul.pay__items
      li.pay__item
        img.pay__item__pic(src='img/pay-ic-1.svg')
      li.pay__item
        img.pay__item__pic(src='img/pay-ic-2.svg')
      li.pay__item
        img.pay__item__pic(src='img/pay-ic-3.svg')
      li.pay__item.pay__item--line
      li.pay__item
        img.pay__item__pic(src='img/pay-ic-4.svg')
      li.pay__item
        img.pay__item__pic(src='img/pay-ic-5.svg')
