section.post#post
  div.post--in
    div.post__box
      h2.post__ttl Новые «семейные» каналы 
        span.nobr в сетке вещания!
      p.post__txt С 20 июня, в сетке нашего эфира во всех форматах добавлены сразу три новинки для всей семьи!
      p.post__txt На канале 95 появился телеканал "Доктор". Ведущие специалисты России и мира, фундаментальная наука и новые идеи в сфере медицины, современные технологии и медицинское оборудование, это и многое другое в первом, научно-популярном, познавательном телеканале о медицине.
      p.post__txt На канале 96 доступен телеканал "МАМА". Единственный, не имеющий аналогов на территории России, круглосуточный телеканал для всех тех, кому интересны тема родительства и воспитания детей. Телеканал отвечает на все волнующие вопросы родителей и тех, кто планирует стать ими, начиная от беременности и родов и заканчивая процессами воспитания детей.
      p.post__txt На канале 111 доступен телеканал "Ani". Телеканал мировой анимации для детей 6-12 лет. ANI — это детское пространство, сказочный анимационный мир за телеэкраном, населенный любимыми героями и персонажами; первый телеканал, который ребенок выбирает сам.
      p.post__txt Предлагаем Вам воспользоваться данной возможностью, совершенно бесплатно. Для этого Вам необходимо запустить поиск телеканалов на ваших ТВ-приемниках в автоматическом режиме. Новые каналы будут доступны под номерами 95, 96, и 111 в сетке вещания.
