section.prc#prc
  div.prc--in
    h2.prc__ttl Лучшие тарифры 
      span.nobr на интернет!
    ul.prc__navs
      li.prc__nav.active
        p.prc__nav__ic.prc__nav__ic--1
        p.prc__nav__txt Для квартиры
      li.prc__nav
        p.prc__nav__ic.prc__nav__ic--2
        p.prc__nav__txt Для частного дома
    div.prc__itsw
      ul.prc__its
        li.prc__it
          p.prc__it__ttl Мир
            span.strong 30
          p.prc__it__price
            span.prc__it__price__val 350
            span.prc__it__price__unit
              span.txt руб
              span.line
              span.txt мес
          p.prc__it__speed 30 Мбит
          p.prc__it__btw
            span.prc__it__bt() Подключить
        li.prc__it
          p.prc__it__ttl Мир
            span.strong 60
          p.prc__it__price
            span.prc__it__price__val 550
            span.prc__it__price__unit
              span.txt руб
              span.line
              span.txt мес
          p.prc__it__speed 60 Мбит
          p.prc__it__btw
            span.prc__it__bt() Подключить
        li.prc__it
          p.prc__it__ttl Мир
            span.strong 100
          p.prc__it__price
            span.prc__it__price__val 600
            span.prc__it__price__unit
              span.txt руб
              span.line
              span.txt мес
          p.prc__it__speed 100 Мбит
          p.prc__it__btw
            span.prc__it__bt() Подключить
      p.prc__morew
        span.prc__more() Все интернет тарифы





