section.qq#qq
  div.qq--in
    div.qq__info
      h2.qq__ttl Если есть вопросы? 
      p.qq__sttl Напишите нам
    div.qq__formw
      form.qq__form.form#form--3(action='javascript:void(0)' method='post' data-form='3')
        p.form__item.form__item--name
          input.form__input.form__input--name#name--3(name='name' type='text' placeholder='Ваше имя')
        p.form__item.form__item--mail
          input.form__input.form__input--mail#mail--3(name='mail' type='text' placeholder='Ваш email')
        p.form__item.form__item--msg
          textarea.form__input.form__input--msg#msg--3(name='msg' placeholder='Ваше сообщение')
        p.form__item.form__item--send
          input.modal__formName(name='formName' type='hidden' value='Если есть вопросы? Напишите нам')
          button.form__send(type='submit') Отправить






