section.req#req
  div.req--in
    h2.req__ttl Реквизиты
    p.req__sttl  Общество с ограниченной ответственностью «РАДИСТ» 
      span.nobr (ООО «РАДИСТ»)
    div.req__box
      ul.req__its
        li.req__it
          p.req__it__ttl ИНН:
          p.req__it__val 2320023716 
        li.req__it
          p.req__it__ttl КПП:
          p.req__it__val 232001001 
        li.req__it
          p.req__it__ttl ОКПО:
          p.req__it__val 31362435 
        li.req__it
          p.req__it__ttl ОКВЭД:
          p.req__it__val 64.20.21 
        li.req__it
          p.req__it__ttl Р/с:
          p.req__it__val 40702810306300000704#[br] в Филиале Банка ВТБ (ПАО)#[br] в г. Ростове-на-Дону г. Ростов-на-Дону 
        li.req__it
          p.req__it__ttl К/с:
          p.req__it__val 30101810300000000999 
        li.req__it
          p.req__it__ttl БИК:
          p.req__it__val 046015999 
        li.req__it
          p.req__it__ttl Юридический адрес:
          p.req__it__val 354000, г. Сочи, ул. Московская, д. 20 
        li.req__it
          p.req__it__ttl Почтовый адрес:
          p.req__it__val 354000, г. Сочи, Главпочтамт, а/я 284 
        li.req__it
          p.req__it__ttl Телефон:
          p.req__it__val (8-862) 2710-100 2711-111 
        li.req__it
          p.req__it__ttl Телефон / бухгалтерия:
          p.req__it__val (8-862) 2710-151 
        li.req__it
          p.req__it__ttl ОГРН:
          p.req__it__val 1022302941462 
        li.req__it
          p.req__it__ttl Директор:
          p.req__it__val Сидорцов Роман Николаевич#[br] действующий на основании Устава 
        li.req__it
          p.req__it__ttl Главный бухгалтер:
          p.req__it__val Федоренко Наталья Юрьевна





