section.tv#tv
  div.tv--in
    h2.tv__ttl Лучшие тарифры 
      span.nobr IP TV!
    ul.tv__navs
      li.tv__nav.active
        p.tv__nav__ic.tv__nav__ic--1
        p.tv__nav__txt Для квартиры
      li.tv__nav
        p.tv__nav__ic.tv__nav__ic--2
        p.tv__nav__txt Для частного дома
    div.tv__itsw
      ul.tv__its
        li.tv__it
          p.tv__it__ttl Мир
            span.strong 30
          p.tv__it__price
            span.tv__it__price__val 350
            span.tv__it__price__unit
              span.txt руб
              span.line
              span.txt мес
          p.tv__it__speed
            span.tv__it__speed__ttl Скорость до
            span.tv__it__speed__val 30 Мбит
          p.tv__it__btw
            span.tv__it__bt() Подключить
        li.tv__it
          p.tv__it__ttl Мир
            span.strong 60
          p.tv__it__price
            span.tv__it__price__val 550
            span.tv__it__price__unit
              span.txt руб
              span.line
              span.txt мес
          p.tv__it__speed
            span.tv__it__speed__ttl Скорость до
            span.tv__it__speed__val 60 Мбит
          p.tv__it__btw
            span.tv__it__bt() Подключить
        li.tv__it
          p.tv__it__ttl Мир
            span.strong 100
          p.tv__it__price
            span.tv__it__price__val 600
            span.tv__it__price__unit
              span.txt руб
              span.line
              span.txt мес
          p.tv__it__speed
            span.tv__it__speed__ttl Скорость до
            span.tv__it__speed__val 100 Мбит
          p.tv__it__btw
            span.tv__it__bt() Подключить
      div.tv__check
        p.tv__check__pic
          img.tv__check__pic__img(src='img/inet-check-pic.jpg')
        div.tv__check__formw
          p.tv__check__ttl Проверьте возможность подключения:
          form.tv__check__form.form#form--2(action='javascript:void(0)' method='post' data-form='2')
            p.form__item.form__item--addr1
              input.form__input.form__input--addr1#addr1--2(name='addr1' type='text' placeholder='Название улицы')
            p.form__item.form__item--addr2
              input.form__input.form__input--addr2#addr2--2(name='addr2' type='text' placeholder='Дом')
            p.form__item.form__item--send
              input.modal__formName(name='formName' type='hidden' value='Проверить адрес')
              button.form__send(type='submit') Проверить
                span.d  адрес





