section.tvpromo#tvpromo
  div.tvpromo--in
    div.tvpromo__box
      div.tvpromo__info
        h2.tvpromo__ttl Пришло время#[br]
          span.nobr.strong супертелевидения
        p.tvpromo__txt Доступ абонентов 
          span.nobr к сети компании
          |  осуществляется только 
          span.nobr по волоконно-оптическим
          |  линиям связи, 
          span.nobr что позволяет
          |  оптимизировать объем 
          span.nobr и стоимость
          |  услуг 
          span.nobr в зависимости
          |  
          span.nobr от потребностей
          |  заказчика. 
          span.nobr ТВИНТЕЛ ЮГ
          |  располагает комплексом специализированных решений, позволяющих обеспечить интегральное обслуживание различных категорий пользователей, услугами связи, обеспечивая стабильность, надежность 
          span.nobr и высокое качество.
      p.tvpromo__pic
        img.tvpromo__pic__img(src='img/tvpromo-pic.png')




