section.views#views
  div.views--in
    h2.views__ttl Сочи онлайн
    ul.views__its
      li.views__it
        a.views__it__link(href='view.html')
          p.views__it__pic
            img.views__it__pic__img(src='img/views-1.jpg')
          div.views__it__info
            p.views__it__ttl Красная
      li.views__it
        a.views__it__link(href='view.html')
          p.views__it__pic
            img.views__it__pic__img(src='img/views-1.jpg')
          div.views__it__info
            p.views__it__ttl Морпорт (вид на гавань)
      li.views__it
        a.views__it__link(href='view.html')
          p.views__it__pic
            img.views__it__pic__img(src='img/views-1.jpg')
          div.views__it__info
            p.views__it__ttl Парковая
      li.views__it
        a.views__it__link(href='view.html')
          p.views__it__pic
            img.views__it__pic__img(src='img/views-1.jpg')
          div.views__it__info
            p.views__it__ttl Московская
      li.views__it
        a.views__it__link(href='view.html')
          p.views__it__pic
            img.views__it__pic__img(src='img/views-1.jpg')
          div.views__it__info
            p.views__it__ttl Красная
      li.views__it
        a.views__it__link(href='view.html')
          p.views__it__pic
            img.views__it__pic__img(src='img/views-1.jpg')
          div.views__it__info
            p.views__it__ttl Морпорт (вид на гавань)



