section.view#view
  div.view--in
    h2.view__ttl Морпорт (вид на гавань)
    div.view__flex
      div.view__col.view__col--1
        div.view__vidw
          div.view__vid
            iframe.view__vid__iframe(width="560" height="315" src="https://www.youtube-nocookie.com/embed/fyX1lrtTWsQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          div.view__vid__info
            p.view__vid__ttl Красная
        div.view__map#view__map
      div.view__col.view__col--2
        ul.view__its
          li.view__it
            a.view__it__link(href='view.html')
              p.view__it__pic
                img.view__it__pic__img(src='img/views-1.jpg')
              div.view__it__info
                p.view__it__ttl Красная
          li.view__it
            a.view__it__link(href='view.html')
              p.view__it__pic
                img.view__it__pic__img(src='img/views-1.jpg')
              div.view__it__info
                p.view__it__ttl Морпорт (вид на гавань)
          li.view__it
            a.view__it__link(href='view.html')
              p.view__it__pic
                img.view__it__pic__img(src='img/views-1.jpg')
              div.view__it__info
                p.view__it__ttl Парковая



