.catalog-price {
    color: red;
}

div.catalog-section table td {
    padding-right: 10px;
    padding-top: 10px;
}

.icon-ymap-studio7[align="left"],
.anons-map-studio7 img[align="left"] {
    margin: 0 5% 15px 0;

}

.icon-ymap-studio7[align="right"],
.anons-map-studio7 img[align="right"] {
    margin: 0 0 15px 5%;

}