#webdebug-reviews-list {}
	#webdebug-reviews-list .webdebug-reviews-item {border-bottom:1px dotted #999; padding:10px 0;}
		#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes {float:right;}
			#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes .webdebug-reviews-item-vote {font-size:80%; text-align:right;}
			#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes .webdebug-reviews-item-vote .webdebug-reviews-item-stars {background:url("images/star.png") 0 bottom repeat-x; display:inline-block; height:12px; overflow:hidden; text-align:left; width:80px;}
				#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes .webdebug-reviews-item-vote .webdebug-reviews-item-stars span {background:url("images/star.png") 0 0 repeat-x; display:inline-block; height:12px; overflow:hidden;}
				#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes .webdebug-reviews-item-vote .webdebug-reviews-item-stars .webdebug-reviews-item-star-0 {width:0;}
				#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes .webdebug-reviews-item-vote .webdebug-reviews-item-stars .webdebug-reviews-item-star-1 {width:16px;}
				#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes .webdebug-reviews-item-vote .webdebug-reviews-item-stars .webdebug-reviews-item-star-2 {width:32px;}
				#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes .webdebug-reviews-item-vote .webdebug-reviews-item-stars .webdebug-reviews-item-star-3 {width:48px;}
				#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes .webdebug-reviews-item-vote .webdebug-reviews-item-stars .webdebug-reviews-item-star-4 {width:64px;}
				#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-votes .webdebug-reviews-item-vote .webdebug-reviews-item-stars .webdebug-reviews-item-star-5 {width:80px;}
		#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-text {}
			#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-header {padding-bottom:10px;}
				#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-header .webdebug-reviews-item-author-name {font-size:90%; font-weight:bold;}
				#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-header .webdebug-reviews-item-date {color:gray; font-size:90%; padding-left:4px;}
			#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-text .webdebug-reviews-item-text-plus {background:url("images/plus.png") 0 2px no-repeat; min-height:16px; padding:2px 0 8px 20px;} * html #webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-text .webdebug-reviews-item-text-plus {height:16px;}
			#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-text .webdebug-reviews-item-text-minus {background:url("images/minus.png") 0 2px no-repeat; min-height:16px; padding:2px 0 8px 20px;} * html #webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-text .webdebug-reviews-item-text-minus {height:16px;}
			#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-text .webdebug-reviews-item-text-comments {padding:2px 0 8px 0;}
		#webdebug-reviews-list .webdebug-reviews-item .webdebug-reviews-item-clear {clear:both;}