

/* blog area css */
.video_wr{
    /*height: 60vh;*/
    position: absolute;
    min-height: 500px;
}
.newsBlock{
    margin-top: 75px;
}
.single_blog_section {
    padding-bottom: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 73px -31px #222;
    margin-bottom: 50px;
}

.single_blog_bg_wrapper {
    position: relative;
}

a.single_blog_bg {
    display: block;
    width: 100%;
    height: 163px;
    position: relative;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
}

a.single_blog_bg.bg1 {
    background-image: url(/bitrix/templates/tvintel/img/blog_bg1.jpg);
}

a.single_blog_bg.bg2 {
    background-image: url(/bitrix/templates/tvintel/img/blog_bg2.jpg);
}

a.single_blog_bg.bg3 {
    background-image: url(/bitrix/templates/tvintel/img/blog_bg3.jpg);
}

a.single_blog_bg.bg4 {
    background-image: url(/bitrix/templates/tvintel/img/blog_bg4.jpg);
}

a.single_blog_bg.bg5 {
    background-image: url(/bitrix/templates/tvintel/img/blog_bg5.jpg);
}

a.single_blog_bg.bg6 {
    background-image: url(/bitrix/templates/tvintel/img/blog_bg6.jpg);
}

.blog_description {
    padding: 70px 30px 40px 30px;
    position: relative;
}

.blog_description h2 a {
    font-size: 20px;
    color: #222222;
    font-weight: 600;
}

.blog_description h2 {
    margin-bottom: 30px;
}

.blog_description p {
    color: #6f6f6f;
    line-height: 1.8;
    font-size: 15px;
    min-height: 85px;
}

.boxed_btn.read_more_btn {
    margin-top: 15px;
}

.blog_date {
    position: absolute;
    left: 50%;
    bottom: -40px;
    width: 143px;
    height: 114px;
    text-align: center;
    color: #fff;
    margin-left: -75px;
    z-index: 1;
}

.blog_date span {
    font-weight: 800;
    font-size: 28px;
}
.clickMe{
    margin-top: 0;
}
.contact_message_section{
    padding-top: 13px;
}
.blog_date p {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: -8px;
}

.blog_date .blog_date_content {
    position: absolute;
    left: 50px;
    top: 50px;
}

.blog_date:after {
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    left: -32px;
    top: -29px;
    width: 166px;
    height: 158px;
    background-image: url(/bitrix/templates/tvintel/assets/img/blog_date_bg_after.png);
    z-index: -1;
}

section.section_padding.blog_area {
    padding-bottom: 65px;
}
.container.newsBlock {
    max-width: 1140px;
    padding: 0;
}
.mast__title {
    margin-left: 0;
    margin-top: 0;
}
@media (max-width: 1368px){
.mast__title {
    margin-left: 0;
    margin-top: 0;
    text-align: center;
}
}
/* blog area css end */


/* footer top area css */

.footer_top_area {
    padding: 75px 0;
    background-color: #283442;
}

h2.footer_widget_title {
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer_social_links a {
    font-size: 15px;
    font-weight: 500;
    color: #bec0c3;
    display: block;
    text-transform: none;
    margin-bottom: 18px;
    transition: .4s;
}

.footer_social_links a:hover {
    color: #fff;
}

.footer_logo a {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer_widget p {
    font-size: 15px;
    color: #bec0c3;
    font-weight: 500;
    line-height: 1.8;
}



.footer_social_icons {
    margin-top: 35px;
}

.footer_social_icons a {
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    border: 2px solid #fff;
    line-height: 31px;
    border-radius: 50%;
    margin-right: 15px;
    color: #fff;
    transition: .4s;
}

.footer_social_icons a:hover {
    color: #283442;
    border-color: #fff;
    background-color: #fff;
}

/* footer top area css end*/

/* footer css */

.footer_area {
    background-color: #232323;
    color: #BEC0C3;
    padding: 20px 0;
}

.footer_area p {
    margin: 0;
}

.footer_area p span i {
    color: #FFBA00;
}

/* footer css end*/

.footer_top_area .newsBlock{
    margin-top: 0;
}
.boxed_btn {
    display: inline-block;
    padding: 12px 35px;
    color: #222;
    border: 2px solid #6109C3;
    margin-top: 95px;
    border-radius: 50px;
    transition: .4s;
}

.boxed_btn:hover {
    background-color: #6109C3;
    color: #fff;
    border: 2px solid transparent;
}
.footer_logo {
    width: 300px;
}
.footer_logo img {
    width: 100%;
}
.footer_logo {
    width: 300px;
    height: 138px;
    align-items: center;
    display: flex;
}
/**/

.card {
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    backface-visibility: hidden;
}


.card__face--back {
    transform: rotateY(180deg);
}


/* price and planning area css */

.single_pricing_section {
    padding: 30px;
    box-shadow: 0px 0px 35px -16px #6109C3;
    text-align: center;
    border-radius: 25px;
    min-height: 640px;
}

.single_pricing_section h3 {
    font-size: 20px;
    font-weight: 600;
    height: 30px;
}
.pricing_details {
    min-height: 295px;
    max-height: 296px;
}
#fixed {
    margin-left: -13px;
}
.single_pricing_section .pricing_details p {
    font-size: 16px;
    color: #6F6F6F;
    margin-bottom: 30px;
}

.single_pricing_section .pricing_amount {
    position: relative;
    width: 152px;
    margin: 0 auto;
    background-image: url(/bitrix/templates/tvintel/img/vector_back.png);
    background-size: cover;
    background-position: center;
    height: 119px;
    color: #fff;
    padding-top: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.single_pricing_section .pricing_amount:after {
    position: absolute;
    content: "";
    left: -29px;
    top: -29px;
    background-image: url(/bitrix/templates/tvintel/img/pricing_amount_bg_after.png);
    width: 186px;
    height: 180px;
    z-index: -1;
}
.single_pricing_section .pricing_amount::after{
    background-image: none;
}
.single_pricing_section .pricing_amount {
    width: 200px !important;
    height: 200px !important;
    padding-top: 65px !important;
}
.pricing_amount h3 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 0;
    color: #fff;
    margin-top: 5px;
}

.pricing_amount p {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.boxed_btn.price_btn {
    margin-top: 42px;
}

.single_pricing_section .pricing_details p:last-child {
    margin-bottom: 0;
}
.slick-slide {
    margin: 20px;
}
/* price and planning area css end*/

.typeTarif{
    display: inline-block;
    padding: 12px 35px;
    color: #222;
    border: 2px solid #6109C3;
    margin-top: 0;
    border-radius: 50px;
    transition: .4s;
    background: transparent;
    margin-bottom: 50px;
    margin-right: 20px;
}


 .typeTarif.tv{
     border: 2px solid #c4d92c;
 }
.typeTarif.tv:hover{
    background-color: #c4d92c;
}
.typeTarif.int{
    border: 2px solid #f68c1f;
}
.typeTarif.int:hover{
    background-color: #f68c1f;
}
.typeTarif.tel{
    border: 2px solid #d80c89;
}
.typeTarif.tel:hover{
    background-color: #d80c89;
}
.tabsTarif{
    text-align: left;
}



.widget-content[data-v-52660064] :not(.mdi) {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
.widget-content[data-v-52660064] a {
    text-decoration: none;
}
.i-carousel-navigation__button[data-v-7606eb08] {
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: transparent;
    padding: 15px 20px;
    pointer-events: auto;
    position: absolute;
    width: 53px;
    height: 53px;
    bottom: 0;
    /*top: 0;*/
    text-decoration: none;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    z-index: 3;
    transform: rotate(180deg);
}
.i-carousel-navigation__button[data-v-7606eb08]::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 16px;
    margin: auto;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
}
.i-carousel-navigation-next[data-v-7606eb08]::after {
    right: -5px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEwIDE2Ij4gICAgPHBhdGggZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMS44OTIgMEwwIDEuODY3IDYuMjE2IDggMCAxNC4xMzMgMS44OTIgMTYgMTAgOHoiIG9wYWNpdHk9Ii43Ii8+PC9zdmc+");
}
.marginLeft{
    margin-left: 1100px !important;
    transition: 1s;
    transform: rotate(0deg) !important;
    top: 800px;
}
.tarif-items{
    transition: 1s;
}
.arrowLeft{
    transform: rotate(0deg) !important;
    margin-left: 972px !important;
}
/*.tarif-items .slick-track > div:nth-child(5){*/
    /*opacity: 0.45;*/
/*}*/
/*.marginLeft .slick-track > div:nth-child(5){*/
    /*opacity: 1;*/
/*}*/
/*.marginLeft .slick-track > div:nth-child(1){*/
    /*opacity: 0.45;*/
/*}*/
.tarif-items{
    /*width: 1720px;*/
}

@media (max-width: 1024px){
#fixed {
    left: 12px;
}
#fixed2 {
    margin-left: 0 !important;
    right: 0;
}
}
body{
    overflow-x: hidden;
}
.fixed{
    position: fixed;
    top: 50%;
}

/* about us css*/

.about_image {
    margin-top: 80px;
    position: relative;
    text-align: center;
    padding-top: 40px;
}

.about_image:after {
    position: absolute;
    left: -42px;
    top: -31px;
    width: 100%;
    height: 375px;
    content: "";
    background-size: cover;
    background-position: center;
    background-image: url(/bitrix/templates/tvintel/img/tvint.png);
    z-index: -1;
}
.about_image img{
    margin-left: -68px;
    margin-top: 31px;
}
.about_description h2.about_title,
.project_description h2.project_title {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 40px;
    color: #000;
}

p.about_content,
p.service_content,
p.project_content {
    font-size: 15px;
    font-weight: 500;
    color: #6f6f6f;
    line-height: 1.8;
    margin-bottom: 40px;
    text-align: justify;
}

/* about us css end*/

/* team area css */

.single_team_section {
    border-radius: 15px;
    box-shadow: 0px 0px 48px -13px #333;
}

.single_team_section .team_bg {
    height: 290px;
    background-color: #ddd;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.single_team_section .team_bg.bg_1 {
    background-image: url(/bitrix/templates/tvintel/img/unnamed.jpg);
}

.single_team_section .team_bg.bg_2 {
    background-image: url(/bitrix/templates/tvintel/img/unnamed.jpg);
}

.single_team_section .team_bg.bg_3 {
    background-image: url(/bitrix/templates/tvintel/img/unnamed.jpg);
}

.single_team_section .team_description {
    padding: 40px 0;
}

.single_team_section .team_description h3 {
    font-size: 20px;
    font-weight: 700;
    color: #222;
}

.single_team_section .team_description p {
    font-size: 15px;
    font-weight: 500;
    color: #6f6f6f;
}

.team_social_icons a {
    display: inline-block;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 2px solid #222;
    line-height: 32px;
    color: #222;
    border-radius: 50%;
    transition: .4s;
}

.team_social_icons a:hover {
    background-color: #222;
    border-color: transparent;
    color: #fff;
}

/* team area css end */

/* faq area css */

.single_faqt {
    float: left;
    width: 25%;
    text-align: center;
}



.faqt_wrapper .single_faqt span.number {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 5px;
    display: block;
}

.faqt_wrapper .single_faqt p {
    font-size: 18px;
    color: #6109C3;
    font-weight: 600;
    margin-top: 10px;
}

.faqt_wrapper {
    padding: 100px 65px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url(/bitrix/templates/tvintel/assets/img/demo.png);
}


.section_padding.faqt_area .container,
.company_carousel_area .container {
    max-width: 1160px;
}

/* faq area css end */

/* service area css */

.service_description h2.service_title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
}
.service_description.section_title h2.service_title {
    margin-bottom: 72px;
}

.single_service_detail {
    position: relative;
    margin-top: 50px;
    min-height: 235px;
}

.single_service_detail h3 {
    font-size: 20px;
    font-weight: 800;
    color: #222;
    margin-bottom: 40px;
}

.single_service_detail p,
.service_description p {
    font-weight: 500;
    color: #6f6f6f;
    font-size: 15px;
    line-height: 1.8;
    text-align: justify;
}

.single_service_detail span {
    font-size: 55px;
    color: #EDE3F8;
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: -15px;
    display: inline-block;
    line-height: 1;
    z-index: -1;
}

.service_image {
    position: relative;
}

.service_image:before {
    position: absolute;
    left: -42px;
    top: -31px;
    width: 100%;
    height: 350px;
    content: "";
    background-size: cover;
    background-position: center;
    background-image: url(/bitrix/templates/tvintel/assets/img/service-img1_before.png);
    z-index: -1;
}

/* service area css end*/

.section_title h2 {
    font-size: 43px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 122px;
    color: #000;
}




/* blog details css */

.blog_details_bg_wrapper {
    position: relative;
}

.blog_details_bg_wrapper a.blog_details_bg {
    display: block;
    height: 400px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.blog_details_bg_wrapper a.blog_details_bg.bg1 {
    background-image: url(/bitrix/templates/tvintel/img/blog_details_bg1.jpg);
}

.blog_details_bg_wrapper .blog_date {
    position: absolute;
    left: 130px;
    bottom: -28px;
}

.blog_details_description {
    margin-top: 100px;
    margin-bottom: 100px;
}

.blog_details_description h2 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 40px;
    line-height: 1.3;
    color: #000;
}

.blog_details_description p {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0,0,0,0.75);
    line-height: 1.8;
    margin-bottom: 40px;
}

.blog_bottom {
    box-shadow: 0px 0px 73px -25px #222;
    padding: 15px 25px;
    border-radius: 8px;
    margin-bottom: 75px;
}

.blog_socials a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #222;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    color: #222;
    margin-right: 10px;
    transition: .4s;
}

.blog_socials a:hover {
    background-color: #222;
    color: #fff;
    border-color: transparent;
}

.tag_section p {
    display: inline-block;
}

.tag_section p {
    margin-bottom: 0;
    text-transform: capitalize;
}

.tag_section {
    padding-top: 7px;
}

.tag_section a {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-right: 4px;
    color: #6f6f6f;
    transition: .4s;
}

.tag_section a:hover {
    color: #6109c3;
}

.comment_detail_section h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 60px;
}

p.comment_name {
    font-size: 20px;
    color: #222;
    font-weight: 700;
}

p.comment_name span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #6109c3;
    margin-top: 5px;
}

.boxed_btn.reply_btn {
    margin-top: 0px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}

p.description {
    margin-top: 45px;
    font-size: 15px;
    font-weight: 500;
    color: #6f6f6f;
    line-height: 1.8;
    margin-bottom: 40px;
}

.single_comment {
    position: relative;
    padding-left: 170px;
}

.comment_person {
    position: absolute;
    left: 0;
    top: 0;
}

.comment_person:after {
    position: absolute;
    content: "";
    left: -10px;
    top: -5px;
    width: 114px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(/bitrix/templates/tvintel/assets/img/comment_bg_after.png);
    z-index: -1;
}

.to_comment {
    position: relative;
    padding-left: 110px;
}

.to_comment .comment_person {
    left: -70px;
}

.leave_comment_section h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 60px;
}

p.main_input input {
    width: 100%;
    padding: 16px 22px;
    border: 2px solid #EEEAF1;
    border-radius: 8px;
    color: #222;
    transition: .4s;
}

p.main_input input:focus,
p.main_input input:hover,
p.text_leave textarea:focus {
    outline: none;
}

p.main_input input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #6f6f6f;
}

p.text_leave textarea {
    width: 100%;
    padding-top: 16px;
    padding-right: 22px;
    padding-left: 22px;
    border: 2px solid #EEEAF1;
    border-radius: 8px;
    color: #222;
    transition: .4s;
    height: 265px;
    resize: none;
}

form p {
    margin-bottom: 30px;
}

.boxed_btn.submit_btn {
    display: inline-block;
    padding: 12px 35px;
    color: #222;
    border: 2px solid #6109C3;
    border-radius: 50px;
    transition: .4s;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.boxed_btn.submit_btn:hover {
    background-color: #6109C3;
    color: #fff;
    border-color: transparent;
}

/* blog details css end*/

/* contact us css */

.contact_message_section h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 60px;
}

/* contact us css end*/

p.main_input input:focus,
p.text_leave textarea:focus {
    border: 2px solid #6109C3;
}

/* project details page css */

section.section_padding.project_details_area {
    padding-bottom: 75px;
}

.project_carousel_slides .single_project_image {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    height: 280px;
    border-radius: 15px;
}

.project_carousel_slides .single_project_image.bg1 {
    background-image: url(/bitrix/templates/tvintel/assets/img/service_details_bg1.jpg);
}

.project_carousel_slides .single_project_image.bg2 {
    background-image: url(/bitrix/templates/tvintel/assets/img/service_details_bg2.jpg);
}

.project_carousel_slides .owl-nav div {
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid #E8EAF1;
    line-height: 47px;
    border-radius: 50%;
    font-size: 22px;
    transition: .4s;
    margin-top: 90px;
    display: inline-block;
    float: left;
}

.project_carousel_slides .owl-nav div.owl-next {
    float: right;
}

.project_carousel_slides .owl-nav div:hover {
    background-color: #283442;
    color: #fff;
    border-color: transparent;
}

.project_carousel_slides .owl-nav div:after {
    position: absolute;
    left: 80px;
    content: "previous";
    text-transform: capitalize;
    font-size: 16px;
    color: #222;
    font-weight: 600;
}

.project_carousel_slides .owl-nav div.owl-next:after {
    left: auto;
    right: 80px;
    content: "next";
}

.project_details_sidebar {
    padding: 35px;
    box-shadow: 0px 0px 60px -35px #222;
}

.single_details_project h2.project_information_title {
    font-size: 15px;
    color: #6f6f6f;
    font-weight: 600;
}

.single_details_project h2.project_information_title span {
    display: block;
    font-size: 16px;
    color: #222;
    font-weight: 700;
    margin-top: 8px;
    line-height: 1.6;
}

.single_details_project {
    position: relative;
    padding-left: 65px;
    margin-bottom: 0;
}

.single_details_project i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 38px;
    color: #ECE7F1;
}
.project_information_title{
    margin: 10px 0;
}
/* project details page css end*/
.project_details_sidebar .single_details_project img{
    width: 38px;
    position: absolute;
    margin-left: -55px;
    margin-top: 10px;
}

/* company carousel area css */

.company_carousel_slides.owl-carousel .owl-item img {
    width: auto;
}

.company_slides_wrapper {
    padding: 89px;
    background-size: contain;
    background-position: center;
    position: relative;
    background-image: url(/bitrix/templates/tvintel/assets/img/demo.png);
    background-repeat: no-repeat;
}


/* company carousel area css end*/

.company_slides_wrapper .slick-slide img {
    display: block;
    width: 100%;
}
.boxed_btn{
    margin-top: 15px;
}
.single_service_detail h3{
    margin-bottom: 10px;
}
.single_service_detail{
    padding: 0 5px;
}

/*popup*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay.active {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 90px auto;
    padding: 20px;
    position: relative;
    transition: all 5s ease-in-out;
    width: 739px;
    height: 542px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: #fff;
}

.popup h2 {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
}
.popup .popClose {
    position: absolute;
    top: 5px;
    right: 5px;
}
.popClose img{
    width: 20px;
    cursor: pointer;
}
.popup .popClose:hover {
    color: #0005d8;
}
.popup .content {
    max-height: 100%;
    overflow: auto;
}
.inputblock input{
    width: 555px;
    height: 75px;
    border-radius: 10px;
    background-color: #000;
    border: none;
    margin-bottom: 40px;
    font-size: 24px;
    padding-left: 20px;
}
.succ{
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
}
.popup .contentBlock{
    overflow-y: scroll;
    height: 80%;
}
.popup .contentBlock img{
    max-width: 100%;
}
/**/
.wrapper.header{
    height: 60vh;
    min-height: 500px;
}
.fade_content{
    /*height: auto;*/
}
@media (max-width: 1660px) and (min-width: 960px) {
    .navbar{
        margin: 0 auto;
        width: 730px;
    }
}
@media (max-width: 740px) {
    .popup{
        width: 100%;
    }
    .tabsTarif > .col-sm-12:first-child {
        margin-top: -350px;
        text-align: center;
    }
    .tabsTarif > .col-sm-12:first-child br{
        display: none;
    }
    .typeTarif{
        margin-bottom: 10px;
    }
    .fade_content{
        height: 75%;
    }
}
@media (max-width: 1660px) and (min-width: 960px) {

    .header .newsBlock {
        margin-top: 0;
    }
}

.tarif-items .cardTarif {
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.tarif-items .cardTarif.is-flipped {
    transform: rotateY(180deg);
}

.tarif-items .card__face {
    position: absolute;
    backface-visibility: hidden;
    background: #fff;
}
.tarif-items .card__face{
    width: 100%;
}
.tarif-items .card__face--back {
    transform: rotateY(180deg);
    /*width: 90%;*/
    height: 0;
    overflow: hidden;
    background: #fff;
}
.tarif-items .is-flipped .card__face--back{
    height: auto;
    overflow: visible;
}
.tarif-items .form-group{
    padding: 0 5px;
}
.form-check{
    display: inline-flex;
    align-items: start;
}
.card__face--back .boxed_btn.price_btn {
    margin-top: 0;
}
.tarif-items .slick-list.draggable{
    height: 750px;
}
.go_connect {
    width: 100%;
}
.header .newsBlock {
    margin-top: 0;
    text-align: center;
}

.newsBlock .typeTarif{
    background: transparent;
    color: #fff !important;
    border: 4px solid rgba(255,255,255,.7) !important;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    width: 300px;
}
@media (min-width: 1024px) {
    .tabsTarif button.typeTarif:nth-child(3)::before{
        margin-top: 0 !important;
    }
    .tabsTarif button.typeTarif:nth-child(4)::before{
        margin-top: 0;
        margin-left: -62px;
    }
    .newsBlock .typeTarif{
        background: transparent;
        color: #fff !important;
        border: 4px solid rgba(255,255,255,.7) !important;
        border-radius: 10px;
        font-weight: 700;
        font-size: 18px;
        width: 225px;
        height: 75px;
        vertical-align: top;
    }
}
.typeTarif:hover {
    background-color: #6109C3;
}