/* Основные стили */

.content {
	position: absolute;
	top: 40%;
	font-family: 'Open Sans', sans-serif;
	background-color: #FFE42C;
	padding: 28px;
	z-index: 999;
}

.content h1 {
	font-size: 2em;
	font-weight: 700;
}

.content p {
	margin-top: 14px;
}

.content a {
	color: #333;
}


/* Стили для видеофона */

#video-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 1;
	background: url(../bg/daisy-stock-poster.jpg) no-repeat #94a233;
	background-size: cover;
}

#video-bg > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto;
	height: auto; 
}


/* Проверка на поддержку свойства object-fit: */

 @supports (object-fit: cover) {
     #video-bg > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
 }


/* Отключение видео для устройств с размером экрана менее 800px: */

@media screen and (max-device-width: 800px) {
	#video-bg > video {
		display: none;
		}
	}


/*Красивый текст*/

.sep {
	border: 0;
	width: 3em;
	height: 1px;
	margin: 1em 0;
	background-color: rgba(255, 255, 255, 0.4);
}

.mast {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	color: #fff;
	background-color: #111;
}
.mast:after {
	z-index: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(17, 17, 17, 0.9);
}
.mast > header {
	z-index: 2;
	position: relative;
}
.mast__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: 50%;
}
.mast__header {
	padding: 5%;
}
.mast__title {
	/*font-family: "Cutive Mono", monospace;*/
	font-size: 1.4em;
	font-weight: 800;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.mast__title span {
	-webkit-animation: letter-glow 0.7s 0s ease both;
	animation: letter-glow 0.7s 0s ease both;
}
.mast__title.hideBlock span {
	-webkit-animation: letter-glow-hide 0.7s 0s ease both;
	animation: letter-glow-hide 0.7s 0s ease both;
}
.mast__title span:nth-child(1) {
	-webkit-animation-delay: 0.05s;
	animation-delay: 0.05s;
}
.mast__title span:nth-child(2) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.1s;
}
.mast__title span:nth-child(3) {
	-webkit-animation-delay: 1s;
	animation-delay: 0.15s;
}
.mast__title span:nth-child(4) {
	-webkit-animation-delay: 1.5s;
	animation-delay: 0.2s;
}
.mast__title span:nth-child(5) {
	-webkit-animation-delay: 2s;
	animation-delay: 0.25s;
}
.mast__title span:nth-child(6) {
	-webkit-animation-delay: 2.5s;
	animation-delay: 0.3s;
}
.mast__title span:nth-child(7) {
	-webkit-animation-delay: 3s;
	animation-delay: 0.35s;
}
.mast__title span:nth-child(8) {
	-webkit-animation-delay: 3.5s;
	animation-delay: 0.4s;
}
.mast__title span:nth-child(9) {
	-webkit-animation-delay: 4s;
	animation-delay: 0.45s;
}
.mast__title span:nth-child(10) {
	-webkit-animation-delay: 4.5s;
	animation-delay: 0.5s;
}
.mast__title span:nth-child(11) {
	-webkit-animation-delay: 5s;
	animation-delay: 0.55s;
}
.mast__title span:nth-child(12) {
	-webkit-animation-delay: 5.5s;
	animation-delay: 0.6s;
}
.mast__title span:nth-child(13) {
	-webkit-animation-delay: 6s;
	animation-delay: 0.65s;
}
.mast__title span:nth-child(14) {
	-webkit-animation-delay: 6.5s;
	animation-delay: 0.7s;
}
.mast__title span:nth-child(15) {
	-webkit-animation-delay: 7s;
	animation-delay: 0.75s;
}
.mast__title span:nth-child(16) {
	-webkit-animation-delay: 7.5s;
	animation-delay: 0.8s;
}
.mast__title span:nth-child(17) {
	-webkit-animation-delay: 8s;
	animation-delay: 0.85s;
}
.mast__title span:nth-child(18) {
	-webkit-animation-delay: 5.15s;
	animation-delay: 0.9s;
}
.mast__title span:nth-child(19) {
	-webkit-animation-delay: 0.95s;
	animation-delay: 0.95s;
}
.mast__title span:nth-child(20) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.mast__title span:nth-child(21) {
	-webkit-animation-delay: 1.05s;
	animation-delay: 1.05s;
}
.mast__title span:nth-child(22) {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
.mast__title span:nth-child(23) {
	-webkit-animation-delay: 1.15s;
	animation-delay: 1.15s;
}
.mast__title span:nth-child(24) {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.mast__title span:nth-child(25) {
	-webkit-animation-delay: 1.25s;
	animation-delay: 1.25s;
}

@-webkit-keyframes letter-glow {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
	}
	66% {
		opacity: 1;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
	}
	77% {
		opacity: 1;
	}
	100% {
		opacity: 0.7;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
	}
}

@keyframes letter-glow {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
	}
	66% {
		opacity: 1;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
	}
	77% {
		opacity: 1;
	}
	100% {
		opacity: 0.7;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
	}
}
@-webkit-keyframes letter-glow-hide {
	0% {
		opacity: 0.7;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
	}
	66% {
		opacity: 1;

	}
	77% {
		opacity: 1;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
	}
}

@keyframes letter-glow-hide {
	0% {
		opacity: 0.7;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
	}
	66% {
		opacity: 1;

	}
	77% {
		opacity: 1;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
	}
}


/**/

.lk{
	right: auto;
	left: 0;
}
.lk.th{
	right: 0;
	left: auto;
}

.go_connect::after{
	display: none;
}
.go_connec{
	color: rgba(255,255,255, 0.65) !important;
}
.go_connect{
	padding: 0;
}
.mast__title{
	margin-left: -30px;
}
.categories {
	width: auto;
	position: fixed;
	right: 0;
	bottom: auto;
	top: 50%;
	margin-top: -172px;
}
@media (max-width: 760px) {
	.categories {
		top: auto;
	}
}
.cat_item{
	padding: 20px 18px 20px;
	border: none;
	margin-right: 10px;
}
.cat_item .frame{
	border-radius: 10px;
	top: 0;
	left: 0;
}
.cat_item{
	border-radius: 10px;
}
.col-xs-12.cat_wr{
	margin-bottom: 15px;
	margin-right: 15px;
}
/* Кнопки на главной страницк */


.btnflip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 225px;
  height: 60px;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform-origin: center center;
}
.btnflip-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  background-color: rgba(255,255,255, .05);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
  transition: 1s;
}
.btnflip-item.btnflip__front {
  transform: rotateX(0deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__front {
  transform: rotateX(-180deg) translateZ(20px);
}
.btnflip-item.btnflip__back {
  transform: rotateX(180deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__back {
  transform: rotateX(0deg) translateZ(20px);
}
.btnflip-item.btnflip__center {
  background: linear-gradient(to left, #c31a5b, #7129bd);
}
.btnflip-item.btnflip__center::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #ffdd1f, #c31a5b);
  border-radius: 30px;
  transform: translateZ(-1px);
}
.btnflip:hover .btnflip-item.btnflip__center {
  transform: rotateX(-180deg);
}



.loginPopUp {
	position: fixed;
	top: 58px;
	background: #fff;
	width: 320px;
	color: #282828;
	padding: 30px 27px;
	right: 0;
}
.login-title {
	font-size: 22px;
	font-weight: 400;
}
.description {
	color: #787878;
	margin: 15px 0;
	font-style: 13px;
}
.regLink,
.passwordLink{
	transition: border-color .15s;
	border-bottom-color: rgba(40,40,40,.33);
	color: #000;
	text-decoration: underline;
}
.login input,
.password input{
	height: 44px;
	padding: 0 15px;
	font-size: 17px;
	width: 100%;
	border: 1px solid hsla(0,0%,67%,.45);
	border-radius: 3px;
	background: #fff;
	-webkit-box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.13);
	box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.13);
	font-family: Officina Serif;
	-webkit-transition: border-color .3s,-webkit-box-shadow .3s;
	transition: border-color .3s,box-shadow .3s,-webkit-box-shadow .3s;
}
.next,
.submit{
	-webkit-transition: -webkit-box-shadow .1s,-webkit-transform .1s;
	transition: -webkit-box-shadow .1s,-webkit-transform .1s;
	transition: box-shadow .1s,transform .1s;
	transition: box-shadow .1s,transform .1s,-webkit-box-shadow .1s,-webkit-transform .1s;
	background-color: #6109C3;
	/*-webkit-box-shadow: 0 3px 0 0 #ebb16f,0 4px 0 0 #d99a59,0 4px 8px 0 rgba(102,55,0,.4);*/
	/*box-shadow: 0 3px 0 0 #ebb16f,0 4px 0 0 #d99a59,0 4px 8px 0 rgba(102,55,0,.4);*/
	position: relative;
	display: inline-block;
	height: 37px;
	padding: 0 20px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	color: #fff;
	border: none;
	border-radius: 30px;
	font: inherit;
	margin: 20px 0;
}
.next{
	margin-top: 0;
	display: block;
}
.youLogin{
	font-size: 21px;
}
.password {
	margin-top: 25px;
}
.prevLink{
	margin-left: 15px;
	cursor: pointer;
	font-size: 22px;
	color: #858484;
}
._3AI0Ig {

	background: transparent;
	border: 0;
	position: absolute;
	margin-left: 0;

	margin-top: 13px;

	right: 30px;

}
._3BIjlc {
	position: relative;
	width: 16px;
	height: 16px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background: #b4b4b4;
	font-family: Officina Serif;
	font-size: 12px;
	line-height: 16px;
	cursor: default;
}
.YBQxbS {
	position: relative;
	padding: 20px;
	overflow: auto;
	white-space: pre-line;
	color: #000;
	background-color: #dbd9d9;
	border-radius: 4px;
	font-size: 13px;
	line-height: 1.3;
}
._3ra5oZ.step1 {
	position: absolute;
	width: 16px;
	right: 40px;
	margin-top: 15px;
}
.LQD7yQ{
	display: none;
}
._3kC4iN:hover .LQD7yQ{
	display: block;
	z-index: 999;
}
.step2{
	display: none;
}

.loginPopUp{
	display: none;
}
._3ra5oZ{
	z-index: 999;
}
.logo_col {
	position: relative;
	left: 130px;
}
.slogan{
	margin: 10px 0 84px 0;
}
.choose{
	padding-left: 32px;
}


.nav.navScroll {
	background: #fff;
	border: none;
	box-shadow: 0 0px 5px;
}
.nav.navScroll .navbar .active a {
	color: #000;
}
.nav.navScroll .navbar a {
	color: #000;
	opacity: 0.9;
}
.nav.navScroll .navbar a:hover{
	color: #2d4899;
	opacity: 1;
}
.nav.navScroll .lk {
	background: #2d4899;
	color: #fff;
}
.btnflip-item.btnflip__front img{
	width: 28px;
	vertical-align: sub;
	margin-right: 6px;
	filter: invert(100%);
}
.loginPopUp{
	z-index: 9999;
}
.select-options li{
	color:#fff;
}
.assideBlock {
	position: absolute;
	color: #fff;
	font-size: 21px;
	top: 7px !important;
	right: 180px !important;
}
.assideItems div span{
	padding-left: 40px !important;
}
.assideItems a {
	display: inline-block !important;
}
.assideBlock a {
	color: #fff !important;
}
.item2 {
	margin-top: 0 !important;
}
.is-flipped .card__face.card__face--front {
    opacity: 0;
    transition-delay: .25s;
}
.card__face.card__face--front {
    transition-delay: .25s;
}
.boxed_btn:hover {
    background-color: #6109C3 !important;
}
.btnflip-item.btnflip__center{
	background: linear-gradient(45deg, #364df0, #7f24dc) !important;
}
.btnflip-item.btnflip__center::before{
	background: linear-gradient(45deg, #fed208, #de17d2) !important;
}

.navbar a:hover {
	color: #fff;
}
.navbar a:hover::after{
	width: 100%;
	background: #2d4899;
}
@media (max-width: 768px) {
	.categories {
		width: 100%;
	}
	.categories .col-xs-4.cat_wr {
		margin-left: -20px;
	}
	.for-desktop > div{
		margin-top: 80px;
	}
	.for-desktop > div:first-child{
		margin-top: 0;
	}
	.mast__title {
		margin-left: 60px;
	}
	.categories{
		bottom: 55px;
	}
}
@media (max-width: 960px) {
	p.about_content, p.service_content, p.project_content{
		text-align: left !important;
	}
	.categories {
		width: 90vw;
	}
	.categories .col-xs-4.cat_wr {
		margin-left: -20px;
	}
	.for-desktop > div{
		margin-top: 80px;
	}
	.mast__title {
		margin-left: 60px;
	}
	.container.newsBlock {
		max-width: 1140px;
		min-width: 320px !important;
		padding: 0 25px !important;
	}
	.slick-slide {
		margin: 0 !important;
	}
	.single_pricing_section {
		box-shadow: none !important;
		border: 1px solid #6109C3 !important;
	}
	.paddingMobile{
		padding: 0 !important;
		margin-bottom: 100px;
	}
	.about_image img{
		width: 100%;
	}
	.footer_logo {
		width: auto !important;
	}
	.mast__title{
		/*top: -100px;*/
		position: absolute;
		/*margin-left: -45px !important;*/
	}
	.go_connect.swap {
		top: 75px !important;
	}
	.blog_date{
		margin-top: -25px !important;
	}
	.bx-aside-nav-control{
		display: none !important;
	}
	div.news-detail {
		width: 100% !important;
		margin: 0 auto;
	}
	div.news-detail img.detail_picture{
		width: 100% !important;
		height: auto !important;
	}
	.about_image img {
		margin-left: 0 !important;
		margin-top: 0!important;
		width: auto !important;
	}
	.faqt_wrapper .single_faqt {
		margin: 25px auto !important;
		width: 100% !important;
	}
	.select{
		width: 100% !important;
		margin-left: 0 !important;
	}
}
@media (max-width: 1660px) and (min-width: 960px) {
	.navbar{
		margin: 0 auto;
		width: 730px;
	}

}
@media (min-width: 1369px){
	.go_connect {
		width: 900px;
	}
	.cat_item {
		padding: 20px 16px 20px;
	}
}
@media (max-width: 1368px) and (min-width: 1200px){
	.mast__title {
		margin-left: 0;
		margin-top: 0;
		text-align: center;
	}
	.categories {
		margin-left: -120px;
	}
	.categories{
		bottom: 150px;
	}
}
.dropdown{
	margin-top: 25px;
}
.dropdown .user-auth{
	font-size: 24px;
	padding-bottom: 15px;
	display: block;
}
.section_title h2{
	margin-bottom: 42px !important;
}
.single_details_project h2.project_information_title{
	padding: 0;
}
.single_details_project{
	border-bottom: 1px solid #ccc;
}
.project_information_title span{
	font-size: 15px !important;
	color: #6f6f6f !important;
	font-weight: 600 !important;
	display: block !important;
	text-align: right;
	padding-right: 2px;
}
.assideBlock {
	position: absolute;
	right: 0;
	color: #fff;
	font-size: 21px;
	top: 75px;
}
.assideBlock a{
	color: #fff;
}
.bx-system-auth-form {
	margin-top: 20px;
}
p.about_content, p.service_content, p.project_content{
	font-size: 18px !important;
	line-height: 30px !important;
	color: #000 !important;
}
ul{
	font-size: 18px;
	line-height: 30px;
	color: #000;
}
.single_faqt{
	width: 33% !important;
}
.tabsTarif > .col-sm-12:first-child{
    margin-top: -250px;
    text-align: center;
}
.description{
    display: none;
}
.newsBlock .typeTarif {
    border: none !important;
    /*background: linear-gradient(45deg, #364df0, #7f24dc) !important;*/
    color: #fff !important;
}
.select2-container{
    width: 100%;
}
.tablebodytext{
	display: none;
}
.dropdown ul li p{
	display: inline;
}

.submenu {
	display: none;
	position: absolute;
	top: 50px;
	z-index: 99;
	width: 170px;
	background: rgba(0,0,0,.25);
	padding: 10px;
	margin-left: -10px;
}
.submenu ul{
	margin: 0;
}
.submenu ul li{
	padding: 0;
	text-align: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.submenu ul li:last-child{
	border-bottom: none;
}
.submenu ul li a{
	padding: 10px 0;
}
.navScroll .submenu{
	background: #fff;
}
.nav ul li:nth-child(2):hover .submenu{
	display: block;
}

.assideItems a {
	display: block;
}

.item2 {
	margin-top: 10px;
}

.assideItems div {
	width: 45px;
	height: 45px;
	border-radius: 50px;
	padding: 11px;
	float: right;
	transition: 0.5s;
	margin-right: 15px;
	background: linear-gradient(45deg, #364df0, #7f24dc);
	padding-left: 20px;
}

.assideItems img {
	background: linear-gradient(45deg, #364df0, #7f24dc);
	border-radius: 50px;
}

.assideItems div.active {
	width: 215px;
	transition: 0.5s;
}

.assideItems div span {
	position: absolute;
	width: 200px;
	opacity: 0;
	margin-top: 20px;
	margin-left: -65px;
	font-size: 14px;
	transition: .5s;
}
.assideItems .assideItem:hover span {
	opacity: 1;
	margin-top: 40px;
}
.assideItems div.active span {
	opacity: 1;
	transition-delay: 0.5s;
}


@media (max-width: 600px) {
	.categories {
		width: 97vw;
	}
}

.assideItem img {
	width:100%; /*Make sure the animation is over the whole element*/

	-webkit-animation-name: ShineAnimation;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(.12,.89,.98,.47);
}

@-webkit-keyframes ShineAnimation{
	from {
		background-repeat:no-repeat;
		background-image:-webkit-linear-gradient(
				top left,
				rgba(255, 255, 255, 0.0) 0%,
				rgba(255, 255, 255, 0.0) 45%,
				rgba(255, 255, 255, 0.5) 48%,
				rgba(255, 255, 255, 0.8) 50%,
				rgba(255, 255, 255, 0.5) 52%,
				rgba(255, 255, 255, 0.0) 57%,
				rgba(255, 255, 255, 0.0) 100%
		);
		background-position:-250px -250px;
		background-size: 600px 600px
	}
	to {
		background-repeat:no-repeat;
		background-position:250px 250px;
	}
}

.status_on{
	color: green !important;
}
.status_off{
	color: red !important;
}
.noLink {
	pointer-events: none;
}