

/* Start:/bitrix/components/bitrix/main.map/templates/.default/style.css?1560854336165*/
ul.map-level-0 a {
	font-weight: bold;
}

ul.map-level-1 a, ul.map-level-2 a, ul.map-level-3 a {
	font-weight: normal;
}

.map-columns td {
	vertical-align: top;
}


/* End */
/* /bitrix/components/bitrix/main.map/templates/.default/style.css?1560854336165 */
